.awardmodal_GrantAwardModal_2ilpH {
  font-size: 14px;
  font-family: "Motiva Sans", Sans-serif;
  color: #E4E4E4;
  background-color: #1d3f5f; }
  .awardmodal_GrantAwardModal_2ilpH .awardmodal_Header_2_vbZ .awardmodal_Title_2yJ4j {
    font-size: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase; }
  .awardmodal_GrantAwardModal_2ilpH .awardmodal_Header_2_vbZ .awardmodal_Description_16dRE {
    font-size: 14px;
    color: #66C0F4; }
  .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; }
    .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h {
      padding: 8px;
      border-radius: 4px;
      border: 2px solid transparent;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h:hover, .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h.awardmodal_Selected_Efo_8 {
        background-color: rgba(0, 0, 0, 0.25); }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h.awardmodal_Selected_Efo_8 {
        border-color: #66C0F4; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h.awardmodal_Disabled_3k_Tn:hover, .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h.awardmodal_Disabled_3k_Tn {
        background-color: unset;
        cursor: unset; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h .awardmodal_IconCtn_1fdGE img {
        width: 80px;
        height: 80px; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h .awardmodal_Label_2iEkq {
        color: #66C0F4;
        letter-spacing: 0.05em; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h .awardmodal_Points_3k_jx {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.1em; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h.awardmodal_Disabled_3k_Tn .awardmodal_IconCtn_1fdGE img,
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h.awardmodal_Disabled_3k_Tn .awardmodal_Label_2iEkq,
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h.awardmodal_Disabled_3k_Tn .awardmodal_Points_3k_jx {
        opacity: 0.25; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_ButtonContainer_JYQgs .awardmodal_Button_3M92h .awardmodal_IconCheckMark_38WUB {
        left: 0px;
        width: 16px;
        height: 16px;
        color: #5b7e0f; }
  .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm .awardmodal_Left_1v0jL {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm .awardmodal_Left_1v0jL .awardmodal_BalanceIcon_3VvvB {
        width: 32px;
        height: 32px;
        padding-right: 4px; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm .awardmodal_Left_1v0jL .awardmodal_BalanceDetails_209Gy {
        display: flex;
        flex-direction: column;
        line-height: 1.2em; }
        .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm .awardmodal_Left_1v0jL .awardmodal_BalanceDetails_209Gy .awardmodal_BalanceLabel_2u9RZ {
          color: #66C0F4;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.05em; }
        .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm .awardmodal_Left_1v0jL .awardmodal_BalanceDetails_209Gy .awardmodal_BalanceAmount_1O3FS {
          font-size: 16px;
          letter-spacing: 0.05em; }
    .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm .awardmodal_Right_1hgRC {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm .awardmodal_Right_1hgRC .awardmodal_Actions_1-AT2 {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm .awardmodal_Right_1hgRC .awardmodal_Actions_1-AT2 .awardmodal_Action_1Beae {
          padding-left: 12px; }
    .awardmodal_GrantAwardModal_2ilpH .awardmodal_Footer_164mm .awardmodal_FooterLink_KId8d {
      padding-top: 8px;
      font-size: 12px;
      color: #189AD3; }
  .awardmodal_GrantAwardModal_2ilpH .awardmodal_SubmitButton_2FENd, .awardmodal_GrantAwardModal_2ilpH .awardmodal_BackButton_32qks {
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    padding: 4px 20px;
    letter-spacing: 0.025em;
    color: #E4E4E4; }
  .awardmodal_GrantAwardModal_2ilpH .awardmodal_SubmitButton_2FENd {
    background: linear-gradient(180deg, #767F87 0%, #49525A 100%), #C4C4C4; }
  .awardmodal_GrantAwardModal_2ilpH .awardmodal_BackButton_32qks {
    background: linear-gradient(180deg, #668AAA 0%, #274A69 100%), #4AA3BF; }

.awardmodal_Divider_105py {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0; }

.awardmodal_ConfirmContainer_3rAoe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  position: relative;
  transition: opacity 0.2s ease-out;
  opacity: 0; }
  .awardmodal_ConfirmContainer_3rAoe .awardmodal_ConfirmAwardImage_1ARgx {
    width: 220px;
    height: 220px; }
  .awardmodal_ConfirmContainer_3rAoe .awardmodal_ConfirmText_1uA9Q {
    padding-top: 26px;
    max-width: 360px;
    text-align: center; }
    .awardmodal_ConfirmContainer_3rAoe .awardmodal_ConfirmText_1uA9Q .awardmodal_AwardName_25N0x {
      color: #66C0F4;
      font-weight: 500; }
    .awardmodal_ConfirmContainer_3rAoe .awardmodal_ConfirmText_1uA9Q .awardmodal_TimePeriod_6mEUO {
      text-decoration: underline; }
  .awardmodal_ConfirmContainer_3rAoe.awardmodal_Visible_2QQTW {
    opacity: 1; }

.awardmodal_LoadingContainer_1hKG3, .awardmodal_SuccessContainer_Uz_0u {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  pointer-events: none; }
  .awardmodal_LoadingContainer_1hKG3.awardmodal_Visible_2QQTW, .awardmodal_SuccessContainer_Uz_0u.awardmodal_Visible_2QQTW {
    opacity: 1;
    pointer-events: all; }
  .awardmodal_LoadingContainer_1hKG3 .awardmodal_SuccessText_1kQzN, .awardmodal_SuccessContainer_Uz_0u .awardmodal_SuccessText_1kQzN {
    font-size: 16;
    padding-top: 24px; }

.awardmodal_ErrorContainer_1SebP {
  padding: 20px; }
  .awardmodal_ErrorContainer_1SebP .awardmodal_ErrorText_ok8mo {
    font-size: 14px;
    font-weight: bold;
    color: #E4E4E4; }

.awardmodal_PointsAmount_1WCEA {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.1em; }
  .awardmodal_PointsAmount_1WCEA .awardmodal_PointsAmountIcon_3-jpV {
    width: 16px;
    height: 16px;
    padding-right: 2px;
    margin-top: -2px;
    vertical-align: middle; }

.awardmodal_NotEnoughPoints_2VkAe {
  font-size: 12px;
  opacity: 0.6; }

.unstyledbutton_UnstyledButton_1hcJa {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }


/*# sourceMappingURL=awardmodal.css.map*/