/* Styles for broadcast view panel */

BroadcastViewer
{
	width: 1920px;
	height: 1080px;
	z-index: 1000;
	background-color: black;
	background-size: 100% 100%;
	background-image: url( "file://{images}/mainmenu_bg_2.png" );
	
	transform: translate3d( 0px, 1000px, 0px );
	opacity: 0.0;
	saturation: 0.0;
	
	transition-property: transform, opacity, saturation;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: bigpicture-ease-in-out;
}

BroadcastViewer.Fullscreen
{
	transform: translate3d( 0px, 0px, 0px );
	opacity: 1.0;
	saturation: 1.0;
}

#WebContent
{
	width: 100%;
	height: 100%;
}

#LoadStatus
{
	color: white;
	font-size: 28px;
}

BroadcastViewer #LoadStatus,
BroadcastViewer .WebLoadThrobber
{
	align: center center;
	visibility: collapse;
}

BroadcastViewer.Loading
{
	background-image: url( "file://{images}/profile/activity_bg_wash.png" );
}

BroadcastViewer.Loading .WebLoadThrobber
{
	margin-top: 0px;
	visibility: visible;
}

BroadcastViewer.LoadingError #LoadStatus
{
	visibility: visible;
}

BroadcastViewer.LoadingError .WebLoadThrobber
{
	visibility: collapse;
}


////////////////////////////////////////////////
// Chat Panels
////////////////////////////////////////////////
#ChatPanel
{
	flow-children: down;
}

#ChatContent
{
	flow-children: down;
	width: 100%;
	height: fill-parent-flow( 1.0 );
	overflow: squish scroll;

	background-color: #1a578040;
	padding: 4px;
}

#ChatContent Label
{
	color: white;
	font-size: 22px;
	font-weight: medium;
	padding-bottom: 3px;
	width: 100%;
	white-space: normal;
	padding-left: 8px;
}

#ChatContent .ChatNotification
{
	color: #ffffff60;
}

#ChatContent Label .ingame
{
	color: friendsingame_darkbg;
}

#ChatContent Label .notingame
{
	color: friendsonline_darkbg;
}

#ChatContent Label.Broadcaster
{
	background-image: url('file://{images}/broadcast/live_chat.png' );
	background-repeat: no-repeat;
	background-position: left 9px;
}

#TextEntryLine
{
	height: 106px;
	width: 100%;
	flow-children: right;

	font-size: 22px;
	font-weight: normal;
	text-overflow: clip;

	margin-top: 4px;
}

#ChatEntry
{
	width: fill-parent-flow(1.0);
	height: 100%;

	opacity: 0.85;

	border-width: 5px;
	border-color: friendstab;
	border-style: solid;
	border-radius: 0px;

	color: friendsitemmainlistbkgnd_from;
	background-color: friendschatinputbkgnd_text;
}

#ChatEntry:focus
{
	color: applabelselectedsolid;
	background-color: friendsitemmainlistbkgnd;
}

#ChatEntry:hover
{
	opacity: 1.0;
}

#ChatSubmit
{
	vertical-align: center;
	horizontal-align: right;
	min-width: 106px;
	height: 106px;
	font-weight: light;
	font-size: 24px;
	color: tclegendlabel;
	white-space: nowrap;
	padding: 8px;
	margin-left: 8px;

	border-radius: 0px;

	background-color: friendstab;
}

#ChatSubmit:hover,
#ChatSubmit:focus
{
	background-color: friendstabcurrentselection;
}

#ChatSubmit:disabled
{
	background-color: friendschatinputbkgnd;
}

#ChatSubmit Label
{
	align: center center;
}



BroadcastWatchRequests
{
	height: fit-children;
	width: 100%;
	flow-children: down;
	background-color: #1a578040;
	padding: 10px;
}

BroadcastWatchRequests.Empty
{
	visibility: collapse;
}

.Dashboard BroadcastWatchRequests
{
	padding-top: 10px;
	width: 400px;
}

BroadcastWatchRequests .HeaderLabel
{
	font-family: platformfont;
	margin: 0px;
	padding-right: 8px;
	font-size: 28px;
	color: moduledatalabel;
	opacity: 1.0;
	horizontal-align: left;
	width: 100%;
	transition-duration: shortduration;
	transition-property: transform;
	transition-timing-function: bigpicture-ease-in-out;
	font-weight: light;
}

.BroadcastWatchRequestList
{
	width: 100%;
	flow-children: down;
}

BroadcastRequest
{
	margin: 0px;
	width: 100%;
	height: 84px;
	margin: 10px;
	flow-children: right;
}
	
.OverlayNotificationWatchRequestText
{
	font-size: deffontsize;
	font-family: platformfont;
	color: tcstatictext;
	height: 60px;
	width: 100%;
	overflow: squish scroll;
}

.OverlayNotificationWatchRequestFrame
{
	flow-children: down;
}

.BroadcastWatchRequestList AvatarImage
{
	margin-right: 4px;
	border-radius: 0px;
}

BroadcastRequest AvatarImage
{
	height: 80px;
	width: 80px;

	border-style: solid;
	border-width: 4px;
	border-radisu: 0px;
	margin-right: 10px;
}

.BroadcastRequestWrapper
{
	height: 100%;
	flow-children: down;
}

.BroadcastRequestWrapper #MessageText
{
	font-size: 24px;
	font-family: platformfont;
	color: tcstatictext;
//	height: 60px;
	width: fill-parent-flow( 1.0 );
	margin-top: 0px;
	margin-left: 10px;
}

.BroadcastRequestCapsule
{
	width: 100%;
	flow-children: right;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: bottom;
}

BroadcastRequest Button
{
	padding: 4px;
}
