//
// Styles
//<Label id="PressButtonToStart" class="PressButtonLabel StdLabelMedBlue" text="#SteamUI_AddController_HowToPair" />	          
//			

AddController
{
	width: 860px;
	height: 500px;
	//padding: 50px 40px 40px 40px;
	background-color: message_box_bg;
	box-shadow: fill #00000044 -4px -4px 8px 8px;
	transform: translateX( 0px );
	transition-property: transform;
	transition-duration: 0.3s;

	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	border-radius: 0px;
}

.AddControllerHeader
{
	horizontal-align: center;
	height: 65px;
  margin-top: 16px;
	font-size: 44px;
	color: detailsdatalabel;
	font-family: platformfont;
	font-weight: light;
}



.ControllerPanelContainer
{
	width: 100%;
	height: 100%;
	
	align: center center;
	
	visibility: visible;
	
	padding-top: 10px;
}

#ControllerPairingHelperPanel
{
	align: center bottom;
	width: 100%;
	padding-left: 0px;
	
}

#ControllerPairingHelperTimerBG
{
	align: center top;
	height: 20%;
	width: 100%;
	
	visibility: collapse;
	margin-top: 20px;
	
	background-color: linkbright;
}

.ControllerPairingHelperTimerVisible
{
	visibility: visible;
}

#ControllerPairingHelperTimerFG
{
	align: center center;
	height: 100%;
	width: 100%;
	
	visibility: visible;
	margin: 5px 5px 5px 5px;
	
	background-color: #12203d;
}

#ControllerPairingHelperTimerProgressBar
{
	align: left center;
	height: 100%;
	width: 0%;
	
	visibility: visible;

	background-color: linkbright;
}

#ControllerImagePanel
{
	opacity: 1.0;
	//width: 100%;
 	align: center center;
 	visibility: visible;
}

.AddControllerHowTo
{
	align: center bottom;
	width: 100%;
	
	font-size: 28px;
	padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 32px;
	font-family: platformfont;
	color: ui_primary_color;
}

.ControllerImage
{
	opacity: 1.0;
 	margin-top: -120px;
 	//align: center top;
 	width: 604px;
 	height: 260px;
 	visibility: visible;
}

.ControllerImageBlink
{
	align: center center;
	opacity: 0.0;
	
	animation-name: pairing-controller-anim;
	animation-duration: 4.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	
	visibility: visible;
}

@keyframes 'pairing-controller-anim'
{
	0%
	{
		opacity: 0.0;
	}
	
 50%
	{
		opacity: 1.0;
	}
	
	60%
	{
		opacity: 1.0;
	}
	
	100%
	{
		opacity: 0.0;
	}
}