
.BatteryIndicatorPanel
{
	vertical-align: center;
	horizontal-align: center;
}

.BatteryIndicatorPanel.ACPower
{
	visibility: collapse;
}

.BatteryIndicatorPanel.OverlayBatteryIndicator
{
	margin-right: 8px;
}

#BatteryChargeIndicator
{
	x: 36px;
	y: 3px;
	color: ui_primary_color;
	font-size: 20px;

	visibility: collapse;
}

.Charging #BatteryChargeIndicator
{
	visibility: visible;
}

#BatteryContainer
{
	flow-children: right;
	opacity: 0.5;
}

#Battery
{
	width: 70px;
	height: 35px;

	border: 4px solid ui_primary_color;
	border-radius: 4px;

	margin-left: 10px;

	padding: 3px;
}

#BatteryLevel
{
	width: 100%;
	height: 100%;

	opacity: 1.0;
	horizontal-align: left;

	background-color: ui_primary_color;
}

.LowBat #BatteryLevel
{
	background-color: #ff0000ff;
}

#BatteryTip
{
	vertical-align: center;

	height: 14px;
	border: 2px solid ui_primary_color;
	border-radius: 0px 4px 4px 0px;
}
