// fade in any prompt/message
@define login_message_transition_time: 0.3s;

// slide down for steam guard code entry
@define steamguard_message_transition_time: 0.3s;

.LoginContainer,.RefreshContainer
{
	flow-children: down;
	horizontal-align: center;
	height: 1000px;
	margin-top: 20px;
}

#Reason
{
	vertical-align: bottom;
	margin-left: 0px;
	margin-top: 24px;
	color: applabelsolid;
	font-size: 36px;
	font-weight: light;
	margin-bottom: 20px;
}

.RefreshContainer
{
	height: fit-children;
	vertical-align: center;
	opacity: 1.0;

	padding: 24px 24px 24px 24px;
	background-color: message_box_bg;
}

.FlowRight
{
	flow-children: right;
}

.VertCenter
{
	vertical-align: center;
}

.HorzCenter
{
	horizontal-align: center;
}

.LoginRightItem
{
	width: 368px;
	horizontal-align: left;
}

// right-flow container for prompt + button
// fixed width so we can line things up properly
.LoginPromptContainer
{
	width: 760px;
	margin: 12px;
	flow-children: right;
	horizontal-align: center;
}

// prompt for login button
.LoginPrompt
{
	vertical-align: center;
	text-align: right;
	padding-right: 24px;
	padding-top: 12px;
	width: 380px;
	font-size: 24px;
	   color: tcstatictext;

}

.LoginPromptSm
{
	vertical-align: center;
	text-align: right;
	padding-right: 24px;
	width: 280px;
	margin-left: 100px;
	font-size: 21px;
	margin-top: -6px;
	text-transform: uppercase;
}

// push this item to match with the right column
.BumpRight
{
	padding-left: 542px;
	width: 1060px;
	margin: 0px;
	margin-bottom: 10px;
}

// message shown above login UI
.LoginMessage
{
	opacity: 0.0;
	color: applabelsolid;
	transition-property: opacity;
	transition-duration: login_message_transition_time;
}

.ShowLoginMessage .LoginMessage
{
	opacity: 1.0;
}

// all these button styles are cribbed from librarybutton in library.css.
// i have modified them a bit here... cc
// they should be refactored into steamstyles perhaps
ToggleButton,RadioButton
{
	horizontal-align: center;

	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;
	border-radius: 0px;

	background-color: ui_common_control2;

	pre-transform-scale2d: 1.0;

	transition-property: border, blur, background-color, color, transform, pre-transform-scale2d, box-shadow;
	transition-timing-function: ease-out;
}

RefreshLogin .Button
{
	horizontal-align: left;
	width: 185px;
}



.SteamGuard Label,.SteamGuard TextEntry,
.TwoFactor Label,.TwoFactor TextEntry
{
	vertical-align: center;
}

#SavePassword
{
	horizontal-align: left;
	vertical-align: center;
	transition-property: box-shadow, background-color;
	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;
}



.LoginPromptContainer.Password
{
	width: 1160px;
	padding-left: 200px;
}

#Password
{
	font-size: 22px;
	padding-top: 4px;
	padding-left: 4px;
}

#Password:disabled, #LoginButton Label:disabled
{
	color: applabelsolid;
}

#CapsLockWarning
{
	opacity: 0.0;
	text-overflow: clip;
	font-size: 18px;
	vertical-align: center;
	margin-left: 20px;
	text-align: left;
	color: applabelsolid;
	width: 200px;
}

#CapsLockWarning.Enabled
{
	opacity: 0.8;
}

#SteamGuard
{
	// this is a no-op - textentry does not support text-transform
	text-transform: uppercase;
}


LoginProgress,RefreshLogin
{
	z-index: 1000;
	width: 100%;
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

LoginProgress
{
	opacity: 0.0;
	animation-name: progress-fade-in;
	animation-duration: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;

	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}

.ShowingLoginProgress LoginProgress
{
	opacity: 1.0;
}

@keyframes 'progress-fade-in'
{
	0%
	{
		opacity: 0.0;
	}

	50%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}

RefreshLogin
{
	flow-children: none;
	height: 100%;
	transition-property: opacity;
	transition-duration: login_message_transition_time;
	transition-timing-function: ease-out;
}

RefreshLogin.Destructing
{
	opacity: 0.0;
}

.RefreshBackground
{
	saturation: 0.6;
	opacity: 1.0;
	wash-color: #00000066;
	background-color: #00000077;

	width: 100%;
	height: 100%;
}

RefreshLogin .LoginContainer
{
	vertical-align: center;
	width: 100%;
}

.ProgressLabel
{
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	width: 75%;
	height: 36px;
	font-size: 24px;
	font-family: platformfont;
	color: tcstatictext;
}

// cancel button hidden until code makes it visible
#Cancel
{
	visibility: collapse;
}

RefreshLogin #Cancel
{
	visibility: visible;
}

.Cancelable #Cancel
{
	visibility: visible;
}

// progress bar for platform cache update - invisible unless needed
ProgressBar
{
	width: 500px;
	height: 8px;
	horizontal-align: center;
	background-color: bgwithgradientlogin;
	opacity: 0.0;
}

.ShowProgress #ProgressBar
{
	opacity: 1.0;
}

.ProgressBarLeft
{
	background-color: foregroundgray;
}

.ProgressBarRight
{
}

// AccountSuspended added to root dialog; hide main UI, show UI for getting support
.AccountSuspended .LoginPromptContainer,.AccountSuspended #Login
{
	visibility: collapse;
}

.SuspendedMessage
{
	font-size: 28px;
	width: 800px;
	margin-bottom: 30px;

	visibility: collapse;
}

.SuspendedButton
{
	visibility: collapse;
}

.AccountSuspended .SuspendedMessage,.AccountSuspended .SuspendedButton
{
	visibility: visible;
}

.OfflineLabel
{
	width: 30%;
	height: 200px;
}

.OfflineButton
{
	margin-left: 10px;
	padding: 5px;
}

#LoginButton
{
	horizontal-align: left;
	width: 200px;
	height: 50px;
}

#LoginButton Label
{
	color: applabelsolid;
}

RefreshLogin #LoginMessageContainer
{
	max-height: 296px;
}

#LoginButton:focus Label
{
	color: applabelselectedsolid;
}

.Logo
{
	margin-top: 60px;	
	margin-left: -20px;
	opacity: 0.85;
}

#LoginMessage
{
	font-size: 26px;
	color: applabelsolid;
	opacity: 0.6;
}

LoadingThrobber
{
	opacity: 1.0;
	margin-bottom: 10px;
	horizontal-align: center;
}

#Exit
{
	margin-top: 50px;	
	padding: 10px;
	flow-children: right;
	horizontal-align: right;
}

#Exit Image
{
	vertical-align: center;
	horizontal-align: center;
	wash-color: ui_primary_color;
	margin-right: -4px;
}

#Exit:hover Image
{
	wash-color: ui_common_control_hover; 
}

#Exit:descendantfocus Image
{
	wash-color: #2c2d2dff; 
}

#Exit Label
{
	margin-left: 4px;
	vertical-align: center;
	padding-left: 4px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: tcexitrow;
	font-size: 36px;
	line-height: 38px;
	padding: 5px;
	max-width: 300px;

	transition-property: opacity, max-width;
	transition-duration: 0.15s;
	transition-delay: 0.0s !immediate;
	transition-timing-function: linear, ease-out;
	max-width: 0px;
	opacity: 0.0;
}

#Exit:hover Label
{
	padding: 5px;
	max-width: 300px;
	opacity: 1.0;
	color: tcexitrowhover;
}

#Exit:descendantfocus Label
{
	color: tcexitrowfocus;
}

HTML
{
	// opaque to minimize flash-through of content behind
	background-color: #2c2c2c;
	width: 100%;
	height: 80%;
	padding-right: 0px;
	margin: 5px;
	padding-left: 0px;
	// room for scroll bar
}

HTML:focus,HTML:hover
{
	box-shadow: box_shadow_on_color -5px -5px 6px 10px;
}

.LittleRoomPlease
{
	margin: 10px;
	margin-top: 20px;
}
