
NetworkLoginBrowserHelper
{
	width: 100%;
	height: 1020px;

	z-index: msgbox_zindex;

	transition-property: opacity, blur, saturation, transform, pre-transform-scale2d;
	transition-duration: 0.1s !immediate;
	transition-timing-function: bigpicture-ease-in-out;

	animation-name: msg-box-appear;
	animation-duration: MessageBoxAnimationDuration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
}

NetworkLoginBrowserHelper.Destructing
NetworkLoginBrowserHelper.BehindAnotherMsgBox
{
	opacity: 0.0;
	pre-transform-scale2d: 0.4;
}

#NetworkBoxBodyRegion
{
	height: 100%;
	width: 100%;
	max-height: 100%;
	margin: 40px;
	padding: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: message_box_bg;
	box-shadow: fill #00000044 -4px -4px 8px 8px;
	transform: translateX( 0px );
	transition-property: transform;
	transition-duration: 0.3s;

	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	border-radius: 3px;
}

.MsgBoxBodyRegion .StdTitle
 {
	 margin-bottom: 20px;
	font-weight: light;
	color: white;
 }

.MsgBoxBodyRegion .SubTitle
{
	font-size: 26px;
	font-family: platformfont;
	color: #c6d4df;
	margin-bottom: 20px;
	margin-top: -20px;
}

.BehindTextInputHandler .MsgBoxBodyRegion
{
	transform: translateX( 470px );
}

#MsgBoxHeader
{
	height: 65px;

	font-size: 44px;
	color: detailsdatalabel;
	font-family: platformfont;
	font-weight: light;
}

#HTML
{
	width: 100%;
	height: 85%;
	overflow: scroll;
}


#HTML:descendantfocus
{
	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;	
}

#HTML:hover
{
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;
}

NetworkLoginBrowserHelper.ScreenSaverMode
{
	transition-property: opacity;
	transition-duration: 1.4s, 0.3s !immediate;
	transition-timing-function: linear;

	opacity: 0.0;
}

#HTML #MousePanningImage
{
	visibility: collapse;
}

.Reticule
{
	width: 66px;
	height: 66px;
	position: 50% 50% 0px;
	transition-property: opacity, wash-color;
	transition-duration: 1.0s;
	transition-timing-function: bigpicture-ease-in-out;
	wash-color: reticule_color;
	opacity : 0.0;
}

.ReticuleVisible #ReticuleMiddle
{
	opacity : 0.8;
}
