.ContainerPanelFlowDown
{
	width: 100%;
	flow-children: down;
	padding: 10px;
}

.ContextMenuBody Label.QuitSectionHeader
{
	font-size: 22px;	
	color: #5FB9FDff;
	margin-bottom: 5px;
	margin-left: 20px;
}

.ContextMenuBody Label
{
        font-size: 28px;
}

.Button
{
	width: 100%;
}

.QuitSectionSpacer
{
	height: 32px;
}

.AlwaysVisible
{
	visibility: visible;
}

.ControllerActive .ControllerActiveVisible
{
	visibility: visible;
}

.ControllerActive .ControllerActiveHidden
{
	visibility: collapse;
}

.ControllerActiveVisible
{
	visibility: collapse;
}

.ControllerActiveHidden
{
	visibility: visible;
}

.System
{
    visibility: collapse;
}

.SystemCanSuspend
{
    visibility: visible;
}

.SystemCanRestart
{
    visibility: visible;
}

.SystemCanShutdown
{
    visibility: visible;
}

.SteamOS #MinimizeBigPicture
{
	visibility: collapse;
}

.NotLoggedIn .NotLoggedInHidden, .SteamOS.SteamOS_EnableDesktop.NotLoggedIn #QuitBigPicture
{
	visibility: collapse;
}

.LoggedIn .NotLoggedInHidden
{
	visibility: visible;
}

.OfflineMode
{
	visibility: collapse;
}

.GoOfflineVisible .OfflineMode.GoOffline
{
	visibility: visible;
}

.GoOnlineVisible .OfflineMode.GoOnline
{
	visibility: visible;
}

.DisableOfflineShortcut #QuitGoOffline,
.DisableOfflineShortcut #QuitGoOnline
{
	visibility: collapse;
}

.SteamOS .ExitButtons
{
	visibility: collapse;
}

.SteamOS.Windows .ExitButtons
{
	visibility: visible;
}


.SteamOS.SteamOS_EnableDesktop #QuitBigPicture
{
	visibility: visible;
}

.SteamOS.Windows #QuitBigPicture
{
	visibility: collapse;
}

// Unfortunate but we have to specialize all the other selectors for this usecase
.SystemButton .QuitDialogInOverlay,
.QuitDialogInOverlay #QuitBigPicture,
.QuitDialogInOverlay .SteamOS.SteamOS_EnableDesktop #QuitBigPicture,
.QuitDialogInOverlay #QuitExitSteam,
.QuitDialogInOverlay .HasHDMIInput #SwitchToHDMIInput,
.QuitDialogInOverlay #QuitChangeUser,
.QuitDialogInOverlay .HorizontalRule,
{
	visibility: collapse;
}

.QuitDialogInOverlay #QuitExitGame,
.QuitDialogInOverlay #TurnControllerOff,
.QuitDialogInOverlay #QuitShutdown
{
	visibility: visible;
}

#SwitchToHDMIInput
{
	visibility: collapse;
}

.HasHDMIInput #SwitchToHDMIInput
{
	visibility: visible;
}

.SteamOS #QuitSleep
{
	visibility: collapse;
}

#ZeroTracker
{
	visibility: collapse;
}

.VRModeActive #ZeroTracker
{
	visibility: visible;
}

.StreamingActive0 .StreamingVisible0
{
	visibility: visible;
}

.StreamingVisible0
{
	visibility: collapse;
}

.StreamingActive1 .StreamingVisible1
{
    visibility: visible;
}

.StreamingVisible1
{
	visibility: collapse;
}

.StreamingActive2 .StreamingVisible2
{
    visibility: visible;
}

.StreamingVisible2
{
	visibility: collapse;
}

.StreamingActive3 .StreamingVisible3
{
    visibility: visible;
}

.StreamingVisible3
{
	visibility: collapse;
}

.StreamingActive0 .StreamingHidden
{
	visibility: collapse;
}

.StreamingHidden
{
	visibility: visible;
}

.StreamingClientCanSuspend0 .StreamingClientCanSuspendVisible0
{
    visibility: visible;
}

.StreamingClientCanSuspendVisible0
{
    visibility: collapse;
}

.StreamingClientCanSuspend1 .StreamingClientCanSuspendVisible1
{
    visibility: visible;
}

.StreamingClientCanSuspendVisible1
{
    visibility: collapse;
}

.StreamingClientCanSuspend2 .StreamingClientCanSuspendVisible2
{
    visibility: visible;
}

.StreamingClientCanSuspendVisible2
{
    visibility: collapse;
}

.StreamingClientCanSuspend3 .StreamingClientCanSuspendVisible3
{
    visibility: visible;
}

.StreamingClientCanSuspendVisible3
{
    visibility: collapse;
}

.NVStreamingActive .NVStreamingVisible
{
	visibility: visible;
}

.NVStreamingActive .NVStreamingHidden
{
	visibility: collapse;
}

.NVStreamingVisible
{
	visibility: collapse;
}

.NVStreamingHidden
{
	visibility: visible;
}

.RestrictedStreamingActive .RestrictedStreamingVisible
{
	visibility: visible;
}

.RestrictedStreamingActive .RestrictedStreamingHidden
{
	visibility: collapse;
}

.RestrictedStreamingVisible
{
	visibility: collapse;
}

.RestrictedStreamingHidden
{
	visibility: visible;
}

.CloudGamingActive .CloudGamingVisible {
    visibility: visible;
}

.CloudGamingActive .CloudGamingHidden {
    visibility: collapse;
}

.CloudGamingVisible {
    visibility: collapse;
}

.CloudGamingHidden {
    visibility: visible;
}

#MusicControllerPanel:descendantfocus .SystemButton:hover
{
	transition-duration: 0.25s !immediate;

	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	color: tcexitrowfocus;

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );

	// Remove border, so we dont transition border out on focus lost, that looks weird.
	transition-property: blur, background-color, color, transform;

	transform: translatez( 0px );
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#MusicControllerPanel:descendantfocus .SystemButton Label,
{
	transform: translateX( -12px );
	transition-duration: 0.23s;
	transition-timing-function: ease-in;
	transition-property: transform;
}

#MusicControllerPanel:descendantfocus .SystemButton:hover Label, #MusicControllerPanel:descendantfocus .SystemButton:focus Label,
{
	transform: translateX( 2px );
	color: applabelselected;

}

#QuitDialogButtonParent
{  
	vertical-align: center;
	horizontal-align: center;
	
	background-color:gradient( radial, 0.0% -0.0%, 120.0px -40.0px, 120.0% 150.0%, color-stop( 0.0, #285C73FF ), color-stop( 1.0, #12203Dff));
	border-radius: 8px;
}