RemotePanel
{
	width: 100%;
	height: 948px;
	vertical-align: bottom;

	opacity: 0;
	transform: translate3d( 0px, 1276px, 1000px );
	
	transition-property: transform, position, opacity;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

RemotePanel.LoadingVisible
{
	transform: translate3d( 0px, 0px, 0px );
	opacity: 1;
}

.LoadingPanel
{
	width: 100%;
	height: 100%;
}

.LoadingPanel #Loading
{
	width: 100%;
	height: 100%;
}

LoadingThrobber
{
	horizontal-align: center;
	margin-top: 350px;

	opacity: 1.0;
	pre-transform-scale2d: 0.85;
}

.Background
{
	width: 75%;
	height: 75%;
	box-shadow: #000000aa -2px -2px 4px 4px;
	position: 12.5% 12.5% 0%;

	pre-transform-scale2d: 1.33333;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

Panel:descendantfocus .Background
{
	opacity: 1.0;

}