/*	Steam Controller support settings css style */

#MainSupportPanel
{
    flow-children: down;
}

#MainSupportHeading
{
    font-size: 28px;
    text-align: center;
    horizontal-align: center;
    width: 100%;
    margin: 0px 198px 0 0;
    padding-bottom: 6px;
}

#SupportControllerSection 
{
    width: 100%;
    height: 73%;
    background-image: url("file://{images}/settings/controller_diagnostic_1.jpg");
    background-repeat: no-repeat;
}

#SupportInfoSection
{
    font-size: 20px;
    flow-children: right;
	horizontal-align: left;
	vertical-align: top;
	width: 100%;
}

.InfoSectionColumn
{
    flow-children: down;
	horizontal-align: left;
	vertical-align: top;
	width: 33%;
}

.VisibleElement
{
    visibility: visible;
}

.InvisibleElement
{
    visibility: collapse;
}

/* Buttons */
#ButtonRTrigPressed
{
     position: 900px 90px 0px;
}

#ButtonLTrigPressed
{
    position: 1330px 90px 0px;
}

#ButtonRBumpPressed
{
    position: 900px 30px 0px;
}

#ButtonLBumpPressed
{
    position: 1330px 30px 0px;
}

#ButtonAPressed
{
    position: 443px 308px 0px;
}

#ButtonBPressed
{
    position: 484px 267px 0px;
}

#ButtonXPressed
{
    position: 402px 267px 0px;
}

#ButtonYPressed
{
    position: 443px 226px 0px;
}

#ButtonMenuPressed
{
    position: 296px 159px 0px;
}

#ButtonSteamPressed
{
    position: 356px 148px 0px;
}

#ButtonEscapePressed
{
    position: 416px 159px 0px;
}

#ButtonLBackPressed
{
    position: 1296px 290px 0px;
}

#ButtonRBackPressed
{
    position: 935px 290px 0px;
}

#ButtonLPadPressed
{
    position: 155px 159px 0px;
}

#ButtonRPadPressed
{
    position: 561px 159px 0px;
}

#ButtonJoystickPressed
{
    position: 273px 269px 0px;
}

/* Analog inputs */

#LeftPadOverlay
{
    height: 183px;
    width: 185px;
    position: 90px 95px 0px;
}

#RightPadOverlay
{
    height: 183px;
    width: 185px;
    position: 490px 95px 0px;
}

#LeftPadTouch
{
    align: center center;
}

#RightPadTouch
{
    align: center center;
}

#JoystickOverlay
{
    height: 62px;
    width: 62px;
    position: 269px 265px 0px;
}

#JoystickPosition
{
    align: center center;
}

#LeftTrigger
{
    visibility: visible;
    position: 1280px 5px 0px;
}

#RightTrigger
{
    visibility: visible;
    position: 880px 5px 0px;
}
