/*	main menu settings css style */

/* in front of main panel, which has a Z of 1000, and top row, which has a Z of 2000 */
@define settingszindex: 3000;

@define settingsmaxbuttonspercolumn: 10;

/* text colors */
@define tcsettingsbutton: gradient( linear, 0% 0%, 0% 100%, from( #d2d2d2ff ), to( #abababff ) );

/* transition duration for settings panels to opaque in/out; referred to from code so don't change the name */
@define SettingsPanelTransitionDuration: 0.23s;

@define bgcolorwash: #395d73ff;
//@define bgcolorwash: #ff00ffff;
@define GameControllerAnimationDuration: 0.1;


/* visibility rules */
.ShowIfStreamingUI { visibility: collapse; }
.ShowIfNotStreamingUI { visibility: visible; }
.StreamingUI .ShowIfStreamingUI { visibility: visible; }
.StreamingUI .ShowIfNotStreamingUI { visibility: collapse; }


/* Changed from a global image selector. You may need to add the class to some images now */
Image.WashBlue
{
	wash-color: messagecolorwash;
	horizontal-align: center;
}

AvatarImage Image
{
	wash-color: none;
}

SettingsPanel
{
	width: 100%;
	height: 100%;
}

.SettingsSection
{
	width: 100%;
	height: 100%;
	font-size: 24px;
	font-family: platformfont;
	margin-left: 0px;

	transition-property: opacity, opacity-mask;
	transition-duration: SettingsPanelTransitionDuration;
	transition-timing-function: bigpicture-ease-in-out;

	z-index: settingszindex;
	color: tcstatictext;
	padding-bottom: 20px;
	margin-bottom: 0px;


	transition-property: opacity, blur, pre-transform-scale2d, wash-color, transform;
	transition-duration: .3s;
	transition-timing-function: bigpicture-ease-in-out;
}

.SettingsModal
{
	width: 100%;
	height: 100%;
	font-size: 24px;
	font-family: platformfont;
	color: tcstatictext;
	flow-children: down;
	background-color: settingsbackgroundgradient;
}

.SettingsLabel
{
	margin: 14px 16px 7px 0px;
	color: tcstatictext;
}
.ExtraMarginBottom
{
	margin-bottom: 50px;
}

.PaddedLabel
{
	margin: 0px 35px 20px 0px;
	color: tcstatictext;
}

.NetworkErrorGroup
{
	flow-children: right;
	width: 100%;
}

#NetworkErrorLabel
{
	horizontal-align: right;
	color: error_color;
	margin: 14px 0px 7px 16px;
}

#Settings:descendantfocus
{
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
	transform: translateY( 0px );
}

#SettingsContent
{
	opacity: 1.0;

	padding-left: 300px;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: bigpicture-ease-in-out;
	flow-children: right;
}

.SettingsHeader
{
	background-image: url("file://{images}/store/slideshow_glow.png");
	background-repeat: no-repeat no-repeat;
	background-position: left 0px top 75px;
	height: 180px;
	width: 100%;
	z-index: 0;
}

.SettingsContained .SettingsHeader
{
	visibility: collapse;
}

.SettingsHeaderLegend
{
	font-size: 78px;
	font-family: platformfont;
	margin-left: 300px;
	margin-top: 76px;
	color: applabelsolid;
}

.SettingsHeaderBackground
{
	background-color: bgwithgradient;
	height: 150px;
	width: 100%;
}

#SteamPlayButton
{
	visibility: collapse;
}

.Linux #SteamPlayButton
{
	visibility: visible;
}


.LongDesc
{
	padding-right: 10px;
	font-family: platformfont;

	font-size: 24px;
}

.LongDesc.Small
{
    font-size: 22px;
    font-weight: light;
}

.NetworkSettingsButtonLabel
{
	padding-right: 10px;
	color: detailsdatalabel;
	font-family: platformfont;

	padding-top: 4px;
	font-size: 24px;
}

.Highlight_Error
{
	padding-top: 8px;
	color: red;
}



// class for main settings panel
.SettingsMainContent
{
	// add a little padding so the Z-transform does not take a hovered/focused button out of bounds
	position: 0px 150px 0px;
	padding-top: 30px;
	width: 100%;
	height: 80%;
	horizontal-align: left;
	flow-children: right;
}

// class for subpanels (left, right, or center) in settings subscreens
.SettingsContent
{
	// add a little padding so the Z-transform does not take a hovered/focused button out of bounds
	padding: 20px 0px 0px 0px;
	height: 80%;
	flow-children: down;
	padding-left: 0px;
	padding-right: 195px;
	padding-top: 30px;

	horizontal-align: left;
	vertical-align: top;
	width: 100%;
	height: fit-children;
}

// CSS doesn't do the selection in a way that works for us with just ".SettingsContent" and ".FlowRight"
// so we give it a hand here
.SettingsContent.FlowRight
{
	flow-children: right;
}

.SettingsContained .SettingsContent
{
	height: fit-children;
	padding: 0px;
}

#SettingsInGame_Enable.CheckBox
{
	width: fit-children;
	min-width: 475px;
}

#SettingsInGame_SubControls .SettingsContent
{
	padding: 0px;
}

.SteamOS #SettingsInGame_Enable
{
	visibility: collapse;
}

ToggleButton .TickBox
{
	opacity: 1.0;
}

Button,
.Button,
ParentalButton,
ToggleButton,
.CheckBox,
RadioButton
{
	width: 600px;
	min-height: 48px;
	height: fit-children;
}

// legend of textual item in settings RHS
.SettingsLegend
{
	color: tcstatictext;
	margin-top: 4px;
	margin-bottom: 4px;
	font-family: platformfont;

}

.SettingsSubhead
{
	width: 1200px;
	flow-children: down;
	padding-bottom: 10px;
}

// text of textual item in settings RHS
.SettingsValue
{
	margin: 4px 0px 12px 0px;
	color: applabelsolid;
	max-width: 475px;
	text-overflow: clip;
	width: 100%;
}

.SettingsFullContent
{
	horizontal-align: center;
	width: 1200px;
}

Label.SettingsStatic
{
	horizontal-align: center;
	color: tcstatictext;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 8px;
	font-size: 24px;
}

.SettingsLeftContent
{
	horizontal-align: left;
	vertical-align: top;
	flow-children: down;
	width: 650px;
	height: fit-children;
}

.SettingsLeftContent.SettingsController
{
	width: 800px;
}

.SettingsContentColumnv2
{
	horizontal-align: left;
	vertical-align: top;
	flow-children: down;
	width: 550px;
	height: fit-children;
	padding-right: 40px;
}

.SettingsContentColumnv2 Button,
.SettingsContentColumnv2 ToggleButton,
{
	width: 100%;
}

SettingsPanel .SettingsContentColumnv2 Button
{
	width: 470px;
}

.SettingsColumnarContent
{
	horizontal-align: left;
	vertical-align: top;
	width: 600px;
	margin-right: 50px;
	padding-top: 10px;
}

.SettingsMiddleContent
{
	width: 525px;
	horizontal-align: left;
	padding-right: 20px;
	margin-left: 20px;
	height: 770px;
}

.SettingsRightContent
{
	width: 650px;
	height: 770px;
	flow-children: down;
	margin-left: 650px;
	horizontal-align: left;
	padding-right: 40px;
}

#SettingsContent .SettingsRightContent
{
	margin-left: 50px;
}

.VisibleColumns3 #SettingsContent .SettingsLeftContent, 
.VisibleColumns3 #SettingsContent .SettingsMiddleContent,
.VisibleColumns3 #SettingsContent .SettingsRightContent
{
	width: 460px;
}

#Settings_Voice .SettingsRightContent
{
	margin-top: 0px;
}


.SettingsCenterContent
{
	width: 1200px;
	horizontal-align: left;
	padding-left: 300px;
}

.SettingsCenterContentWide
{
	width: 1125px;
	horizontal-align: left;
	margin-left: 300px;
	flow-children: down;
}

.SettingsCenterContentWideInterface
{
	width: 1125px;
	horizontal-align: left;
	margin-left: 300px;
	flow-children: right;
}


.SettingsLeftContentWide
{
	width: 1125px;
	flow-children: down;
	horizontal-align: left;
	margin-left: 0px;
	flow-children: down;
}


.SettingsSection
{
	height: 100%;
	width: 100%;

	flow-children: down;
}

.SettingsSection.SettingsContained
{
	background-color: none;
}

Slider.ChatScale
{
	width: 100%;
	height: 21px;
}

Slider.ChatScale:disabled
{
	visibility: collapse;
}

.SettingsBottomPanel
{
	margin-left: 170px;
	margin-top: 50px;
	width: 100%;
	height: 100%;
}

#SettingsFriends_AvatarContainer
{
	flow-children: right;
	margin-bottom: 12px;
	margin-top: 8px;
	width: 100%;
	margin-right: 10px;
}

AvatarImage
{
	border-style: solid;
	border-width: 4px;
	border-radius: 8px;

	height: 95px;
	width: 95px;
}

.AvatarCaption
{
	vertical-align: center;
	margin: 0% 0% 0% 0%;
	padding: 6px;
	width: 100%;
	margin-left: 8px;
}




DropDown
{
	width: 600px;
	margin-top: 0px;
}

DropDown Label
{
	margin-top: 2px;
}


.Resolution
{
	horizontal-align: center;
	box-shadow: fill #00000040 0px 0px 10px 0px;
	vertical-align: center;
	margin: 0px 0px 0px 10px;
}



#Settings_About .SettingsContent
{
	width: 1200px;
	padding: 30px;
	padding-left: 300px;
}

.AboutSectionHeading
{
	horizontal-align: left;
	margin: 20px 0px 20px 0px;
	font-size: 36px;

	color: tcstatictext;
}

.AboutInfoWrapper
{
	flow-children: right;
	height: 40px;
	overflow: clip;
}

#Settings_Display .VertContainer
{
	margin-bottom: 20px;
}

#Settings_TimeZone .VertContainer
{
	margin-bottom: 20px;
}

#Settings_Language .HorzContainer
{
	margin-bottom: 20px;
}

#ContinentsDropDownMenu,#CountriesDropDownMenu,#RegionsDropDownMenu
{
	height: fit-children;
}

.OOBE #ApplyButton
{
	visibility: collapse;
}

.OOBE .SettingsSection
{
	background-color: #00000000;
}

#ApplyButton
{
	margin-top: 50px;
}


#AvailableNetworksList
{
	padding: 10px;
	height: 525px;
	width: 985px;

	overflow: squish scroll;
	background-color: simplebutton;

	opacity: 0.8;
}

.SettingsContained #AvailableNetworksList
{
	height: 46%;
}

#AvailableNetworksList:descendantfocus
{
	opacity: 1.0;
}

.AvailableNetwork
{
	padding: 4px;
	margin-right: 5px;
	margin-left: 0px;
	width: 100%;

	horizontal-align: left;

	border-width: 5px;
	border-style: solid;
	border-color: none;
	background-color: none;
	color: #fdfeff;

	transition-property: background-color, border, box-shadow;
	transition-duration: 0.23s;
	transition-timing-function: linear;
}

.AvailableNetwork Label
{
	transform: translateX( 0px );
	transition-property: transform;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
	color: applabelsolid;
}

.AvailableNetwork:hover .DeviceName,
NetworkSettings_AvailableSSID:hover .NetworkName
{
	transform: translateX( 7px );
}

.AvailableNetwork:descendantfocus Label
{
	color: applabelselectedsolid;
}


.AvailableDevices
{
	width: 985px;
	padding: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 50px;
}

.AvailableNetworkSelected
{
	padding: 4px;
	border-width: 5px;
	border-style: solid;
	border-color: none;

	color: applabelsolid;

	background-color: blue;

	transition-property: background-color, border, box-shadow;
	transition-duration: 0.23s;
	transition-timing-function: linear;

}


.AvailableNetworkSelected:hover,
{
	background-color: blue;
}

.Radios
{
	flow-children: down;
}

#SecurityOptions
{
	margin-left:10px;
}

.AvailableNetwork:descendantfocus,
.AvailableNetworkSelected:focus,
.AvailableNetworkSelected:hover:focus,
{
	padding: 4px;

	border-width: 5px;
	border-style: solid;
	border-color: white;

	color: #231f20;

	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff ), to( #bababa ) );

	transition-property: background-color, border, box-shadow;
	transition-duration: 0.4s;
	transition-timing-function: linear;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}


.WirelessNetworkStatus
{
	horizontal-align: right;
	flow-children: right;
}

.NetworkConnectionStatus
{
	text-align: right;
	horizontal-align: right;
	margin-right: 10px;
	font-size: 22px;
	padding-left: 10px;
	padding-right: 50px;
	padding-top: 2px;
}
	
.NetworkLockBase
{
	width: 32px;
	horizontal-align: right;
	height: 32px;
	margin-right: 60px;
}

.NetworkLocked #NetworkLock
{
	background-image: url( "file://{images}/settings/icon_wireless_secure.png" );
}

.AvailableNetworkSelected:descendantfocus .NetworkLocked #NetworkLock
.AvailableNetwork:descendantfocus .NetworkLocked #NetworkLock
{
	wash-color: applabelselectedsolid;
}

.NetworkBottomPanel
{
	font-size: 27px;
	margin-left: 0px;
	height: 400px;
	padding-top: 0px;
}

.NetworkSignalBase
{
	width: 43px;
	height: 30px;
	horizontal-align: right;
}

.WiredDevicePresent #WiredAvailable
{
	visibility: visible;
}

.NetworkSignalStrength1 .NetworkSignalBase
{
	opacity: 1.0;
	background-image: url( "file://{images}/settings/icon_wireless1.png" );
}

.NetworkSignalStrength2 .NetworkSignalBase
{
	opacity: 1.0;
	background-image: url( "file://{images}/settings/icon_wireless2.png" );
}

.NetworkSignalStrength3 .NetworkSignalBase
{
	opacity: 1.0;
	background-image: url( "file://{images}/settings/icon_wireless3.png" );
}

.AvailableNetwork:descendantfocus .NetworkLockBase,
.AvallableNetwork:descendantfocus .NetworkSignalBase,
.AvailableNetwork:descendantfocus .NetworkWiredPluggedIn,
.AvailableNetwork:descendantfocus .NetworkConnectionStatus,
.AvailableNetwork:descendantfocus .NetworkConnectedBase
{
	opacity: 1.0;
	wash-color: applabelselectedsolid;  
}

.StrengthWrapper
{
	margin: 10px 0px 10px 0px;
}

#WiredIcon
{
	background-image: url( "file://{images}/settings/icon_wired_disabled.png" );
}

.WiredDevicePluggedIn #WiredIcon
{
	background-image: url( "file://{images}/settings/icon_wired_enabled.png" );
}

#WiredConnected
{
	visibility: collapse;
}

#WiredUnplugged
{
	visibility: visible;
}

#WiredPluggedIn
{
	visibility: collapse;
}

.WiredDevicePluggedIn #WiredUnplugged
{
	visibility: collapse;
}

.WiredDevicePluggedIn #WiredPluggedIn
{
	visibility: visible;
}

.WiredDeviceConnected #WiredConnected
{
	visibility: visible;
}

.WiredDeviceConnected #WiredPluggedIn,
.WiredDeviceConnected #WiredUnplugged
{
	visibility: collapse;
}

#WirelessConnected
{
	visibility: collapse;
}

#WirelessCardNotFound
{
	visibility: visible;
}

#WirelessCardFound
{
	visibility: collapse;
}

.WirelessDevicePresent #WirelessCardNotFound,
.WirelessDeviceConnected #WirelessCardNotFound
{
	visibility: collapse;
}

.WirelessDevicePresent #WirelessCardFound
{
	visibility: visible;
}

.WirelessDeviceConnected #WirelessConnected
{
	visibility: visible;
}

.WirelessDeviceConnected #WirelessCardFound
{
	visibility: collapse;
}

.NetworkConnectedBase
{
	width: 32px;
	height: 32px;
	horizontal-align: right;
	margin-right: 100px;
}

.NetworkConnectedCheck #NetworkConnected
{
	background-image: url( "file://{images}/store/Icon_CheckDefault.png" );
}

.NetworkCustomIPSettings
{
	opacity: 1.0;
}

.NetworkSettingsIPBottomPanel
{
	margin-left: 0px;
	margin-top: 20px;
	height: 480px;
}

.NetworkSettingsIPSettingsLegend,
.NetworkSettingsIPLongDesc
{
	font-size: 24px;
}

.NetworkThrobber
{
	opacity: 1.0;
	width: 30px;
	height: 30px;
	horizontal-align: right;
}

.NetworkConnectionComplete .NetworkThrobber
{
	opacity: 0.0;
}

.NetworkCustomIPSettings_disabled
{
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: bigpicture-ease-in-out;
}

#NetworkDeviceStatus
{	
}

.NetworkName
{
	font-size: 24px;
	font-family: platformfont;
	width: 575px;
}

.DeviceName
{
	font-size: 22px;
	max-width: 560px;
	padding-left: 5px;
	padding-top: 2px;
	color: applabelsolid;
}

.AvailableNetworkSelected .NetworkName
{
	color: applabelsolid;
}

.AvailableNetworkSelected:focus .NetworkName
{
	color: applabelselectedsolid;
}


.NetworkPasswordTextEntry,
.SettingsNetwork_SSID_Other_class
{
	width: 50%;
	height: 48px;
	background-color: ui_common_control;
}

// If the password control has focus and caplock is on
.SettingsNetwork_IPv4Format
{
	opacity: 0.5;
}

.HasInput .SettingsNetwork_IPv4Format
{
	opacity: 0.0;
}

#ShowPasswordToggle
{
	margin: 0px 5px 0px 10px;
	width: 48px;
	height: 48px;
	border-color: ui_common_control_border;
	border-width: 5px;
}

#ShowPasswordToggle:focus
{
	margin: 0px 5px 0px 10px;
	width: 48px;
	height: 48px;
	border-color: #ffffff;
	border-width: 5px;
}

#ShowPasswordLabel
{
	margin: 10px 0px;
	width: 420px;
}

SettingsPanelNetwork_Credentials #ShowPasswordLabel
{
 	margin-left: 60px;
}

#ConnectPanel
{
	horizontal-align: left;
	margin: 20px 0px;
}

#CustomSSID_Edit .WizardTextEntry
{
	margin-left: 10px;
	}

#ConnectToNetwork
{
	width: 235px;
	padding: 5px 5px;
	flow-children: right;
}

#ConnectToNetwork Label
{
	color: applabelsolid;
	padding: 0px 0px 0px 0px;
}

#ConnectToNetwork:focus Label
{
	color: applabelselectedsolid;
}

.SingleMonitor .MonitorArea
{
	visibility: collapse;
}

.SettingsBottomPanel_NetworkSettings
{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
}

.SettingsNetwork_SSIDList
{
	width: 100%;
	padding-left: 0px;
	flow-children: down;
}

.SettingsNetwork_LeftButton
{
	width: 480px;
	horizontal-align: left;
	padding-left: 0px;
	margin-bottom: 0px;
	margin-right: 25px;
}

.SettingsNetwork_RightButton
{
	width: 480px;
	horizontal-align: left;
	padding-right: 0px;
	margin-bottom: 0px;
	margin-right: 25px;
}

.SettingsContent .SettingsNetwork_LeftButton .Button, 
.SettingsContent .SettingsNetwork_RightButton .Button
{
	margin-right: 25px;
}

.NetworkSettingsRightPane
{
	width: 1005px;
	vertical-align: bottom;
	height: fit-children;
	flow-children: right;
	margin-top: 25px;
	margin-bottom: 0px;
}

.NetworkThrobber
{
	width: 100px;
	height: 100px;
	margin-top: 250px;
	horizontal-align: center;
	margin-left: 50px;
}
	
.CenteredContainer
{
	width: 1575px;
	height: 500px;
	flow-children: down;
}	

#network_connect #ConnectionStatus
{
	width: 100%;
	text-align: center;
	transform: translateX( 0px );
	margin-top: 20px;
	color: #66c0f4;
	font-size: 28px;
}

#network_ipsettings .RadioButton Label
{
	margin-top: 0px;	
	padding-top: 4px;
}

#SettingsNetwork_Wired_Enabled,
#SettingsNetwork_WiFi_Enabled,
#SettingsNetwork_WiFi_Details,
#SettingsNetwork_WAP_SecurityRequired,
#SettingsNetwork_WAP_Open,
#ChooseSSID_Edit,
.NetworkForgotten
{
	visibility: collapse;
	flow-children: down;
}

.NetworkWired #SettingsNetwork_Wired_Enabled,
.NetworkWiFi #SettingsNetwork_WiFi_Enabled,
.NetworkWiFiDetails #SettingsNetwork_WiFi_Details,
.NetworkWiFiSecurityOn #SettingsNetwork_WAP_SecurityRequired,
.NetworkWiFiSecurityOff #SettingsNetwork_WAP_Open,
.NetworkWiFiChooseSSID #ChooseSSID_Edit,
.NetworkForgettable
{
	visibility: visible;
}


.SettingsNetwork_CustomIP_Text
{
	padding-top: 14px;
	margin-left: 15px;
	width: 900px;
}

.ResLabel
{
	width: 300px;
	color: tcstatictext;
	text-align: left;
	padding-right: 20px;
}

.ResBody
{
	color: applabelsolid;	
}

.SettingsBody
{
	font-size: 36px;
	color: #b0b4b7;
	font-weight: light;
}

#SurfaceSizeWrapper, #WindowSizeWrapper, #GPUInfoWrapper
{
	flow-children: right;
	height: 40px;
}

#GPUInfoWrapper
{
	height: 40px;
}

#GPUInfoValue
{
	white-space: normal;
	width: 440px;
}

.SettingsCallout
{
	margin: 4px 0px 12px 0px;
	color: tcstatictext;
}

.SettingsContained .SettingsCallout
{
	visibility: collapse;
}

#CurrentResWrapper
{
	margin-top: 8px;
	margin-bottom: 16px;
	flow-children: down;
}

#CurrentResWrapper .SettingsCallout
{
	margin: 0px;
}

.SteamOS.Linux #ResolutionArea
{
	visibility: collapse;
}

#SteamOSSettingsArea
{
	visibility: collapse;
}

.SteamOS.Linux #SteamOSSettingsArea
{
	visibility: visible;
}

.HorzContainer
{
	vertical-align: top;
	horizontal-align: left;
}

.HorzContainerLeft
{
	flow-children: right;
	vertical-align: top;
	horizontal-align: left;
	margin-bottom: 20px;
}

.VertContainer
{
	flow-children: down;
	vertical-align: top;
	horizontal-align: left;
}

.HorzSub
{
	flow-children: right;
	vertical-align: center;
	// leave room for content to grow
	margin-bottom: 10px;
}

.HorzSub Image,.HorzSub Button,.HorzSub .CheckBox,.HorzSub Label,.HorzSub KeyboardShortcut
{
	vertical-align: center;
	wash-color: none;
	margin-right: 2px;
	margin-left: 0px;
	color: applabelsolid;
}

.HorzLabelDropdown
{
	flow-children: right;
	// leave room for content to grow
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 0px;
}

#Settings_Downloads .HorzLabelDropdown 
{
	width: 475px;
}


.TimeRestrictionDropdown, .TimeRestrictionDropdown:hover
{
	width: 230px;
	horizontal-align: right;
	opacity: 1.0;
	saturation: 1.0;
	blur: none;
	transition-property: opacity, blur, saturation, pre-transform-scale2d, box-shadow;
	transition-duration: SettingsPanelTransitionDuration;
	transition-timing-function: ease-in;
}

.TimeRestrictionDropdown:disabled,.TimeRestrictionDropdown:disabled:hover, #SettingsDownloads_ToggleTimeLimits:selected .SettingsCalloutSnugRight
{
	opacity: 0.5;
	saturation: 0.5;
	blur: gaussian( 1.0 );
	pre-transform-scale2d: 1.0;
	box-shadow: none;

}

DropDownMenu
{
	width: 575px;
}

.SettingsGroup
{
	flow-children: down;
	horizontal-align: left;
	margin: 0px 0px 16px 0px;
	padding-top: 10px;
	padding-right: 0px;
}

VUMeter
{
	horizontal-align: left;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

VUMeter
{
	margin: 10px;
	margin-left: 0px;
	margin-right: 3px;
	width: 290px;
}

// apply effects to 'test microphone' subitems when not testing mic,
// to indicate they are not alive

.CheckBox:parentdisabled,VUMeter:parentdisabled,Label:parentdisabled,Image:parentdisabled,KeyboardShortcut:parentdisabled,.KeyboardShortcut:parentdisabled,#SettingsInterface_CustomSearchProviderURL:parentdisabled
{
	opacity: 0.6;
	saturation: 0.0;
	blur: gaussian( 1.0 );

}

#SettingsAccount_Beta
{
	width: 100%;
}

// toggle visibility of labels inside the 'test microphone' button
// to indicate the selection state
#TestMicrophone Label
{
	transition-property: opacity, transform;
	transition-duration: SettingsPanelTransitionDuration;
	transition-timing-function: ease-in;
	margin-left: 4px;
	margin-bottom: 2px;
	margin-top: 0px;
}

#TestMicrophone Label.AltLabel
{
	visibility: collapse;
}


#TestMicrophone:descendantfocus Label
{
	color: black;
	transform: translateX( 7px );
}

#TestMicrophone:selected Label
{
	visibility: collapse;
}

#TestMicrophone:selected Label.AltLabel
{
	visibility: visible;
}

#TestMicrophone .TickBox
{
	visibility: collapse;
}

KeyboardShortcut,.KeyboardShortcut
{
	flow-children: right;
	margin-top: 0px;
	margin-bottom: 26px;
	padding: 7px;
	background-color: simplebutton;
	transition-property: pre-transform-scale2d,color,background-color,blur;
	transition-duration: 0.2s;
	color: applabelsolid;
	width: 500px;
	border-width: 5px;
	border-radius: 0px;
	border-style: solid;
	box-shadow: box_shadow_off_color -3px -3px 6px 6px;
}

.HorzSub KeyboardShortcut
{
	margin-bottom: 0px;
}

#InGameControllerScreenshotGamepad
{
    visibility: visible;
}

.SteamControllerPresent #InGameControllerScreenshotGamepad
{
	visibility: collapse;
}

#InGameControllerScreenshotSteamController
{
	visibility: collapse;
}

.SteamControllerPresent #InGameControllerScreenshotSteamController
{
	visibility: visible;
}

#OverlayKey
{
	width: 475px;
}

#InGameControllerOverlay, #InGameControllerScreenshot
{
	background-color: none;
	color: detailsdatalabel;
	margin-top: 0px;
	padding-top: 0px;
}

#InGameControllerScreenshot
{
	margin-top: 8px;	
}

KeyboardShortcut:focus
{
	border-color: white;
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfd66 ), to( #bdbfbf66 ) );
	color: black;
	box-shadow: box_shadow_on_color -3px -3px 6px 6px;
	
	animation-name: main-button-glow-movement; 
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

KeyboardShortcut:selected
{
	pre-transform-scale2d: 1.04;
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );
	color: black;
}



#ScreenshotKey
{
	width: 475px;
}

#ScreenshotBtn
{
	width: fit-children;
}

#ScreenshotBtn:focus Label
{
	color: black;	
}


KeyboardShortcut .Graphic
{
	margin-left: 5px;
	margin-right: 2px;
	wash-color: white;
}

#ScreenshotBtn:descendantfocus KeyboardShortcut .Graphic
{
	wash-color: black;
	opacity: 1.0;
}

.SettingsCalloutSnug
{
	margin-bottom: 4px;
	margin-top: 8px;
}

.SettingsCalloutSnugRight
{
	text-align: right;
	width: 230px;
	opacity: 0.7;
}

.SettingsRight
{
	horizontal-align: left;

}

#AudioSub VUMeter
{
	margin-right: 20px;
}

.SettingsGameControllerIcon
{
	width: 48px;
	height: 48px;
	margin: -10px 4px 0px 0px;
}

.SettingsGameControllerImage
{
	width: 420px;
	height: 300px;
	background-repeat: space;
	background-image: url("file://{images}/settings/controllermap.png");
	margin-left: -20px;
}

.SettingsGameControllerButtonHighlight
{
	width: 48px;
	height: 48px;
	background-repeat: space;
	background-image: url("file://{images}/settings/button_highlight.png");
//	opacity: 0.0;
}

.SettingsController
{
	width: 1200px;

}


.SettingsScreensaverPanels
{
	width: 100%;
	margin-top: 0px;
	//padding-bottom: 20px;
	visibility: visible;
}

.SettingsScreensaverPanels_Dropdown
{
	horizontal-align: left;
}

#AddController
{
    visibility: collapse;
}

.SteamControllerDonglePresent #AddController
{
    visibility: visible;
}

#SettingsSteamController_ShutdownTime_Panel
{
	width: 100%;
	margin-top: 10px;
	padding-bottom: 20px;
	visibility: collapse;
}

#SettingsSteamController_ShutdownTime_Dropdown
{
	horizontal-align: left;
}

.CanTurnOffController #SettingsSteamController_ShutdownTime_Panel
{
    visibility: visible;
}

#SettingsController_TurnOffOnQuit {
    visibility: collapse;
}

.CanTurnOffController #SettingsController_TurnOffOnQuit 
{
    visibility: visible;
}

#GameControllerContent {
    height: 100%;
    visibility: visible;
}

.NonSteamControllerDetails .SteamControllerDetails
{
    visibility: collapse;
}

#CalibrateButton,
#GenericJoystick
{
    visibility: collapse;
}

.GenericJoystickSelected #GenericJoystick 
{
    visibility: visible;
}

.SettingsBindingsVisibile #GenericJoystick
{
    visibility: collapse;
}

.CanBeCalibrated #CalibrateButton
{
    visibility: visible;
}

.SettingsControllerName
{
	horizontal-align: left;
	padding-left: 0px;
	width: 800px;
	margin: 4px 0px 12px 0px;
	color: applabelsolid;
}

.SettingsControllerNameTitle
{
	horizontal-align: left;
	padding-left: 0px;
	width: 800px;
	margin: 4px 0px 12px 0px;
}

.GeneratedSerial #RegisteredTitleText
{
    horizontal-align: left;
    padding-left: 0px;
    width: 800px;
    margin: 4px 0px 12px 0px;
    visibility: collapse;
}

.GeneratedSerial #ControllerName
{
    horizontal-align: left;
    padding-left: 0px;
    width: 800px;
    margin: 4px 0px 12px 0px;
    visibility: visible;
}

.SettingsControllerNameHeader
{
	horizontal-align: left;
	padding-left: 15px;
	width: 800px;
	margin: 0px;
	font-size: 35px;
	color: white;
}

#SettingsControllerNameType_Dropdown
{
    width: 230px;
    max-height: 320px;
}

.SettingsControllerBatteryLabel
{
	horizontal-align: left;
	padding-left: 15px;
	width: 800px;
	margin: 0px;
	font-size: 25px;
	margin-bottom: 25px;
	color: white;
}

#NoControllersFoundPanel
{
	horizontal-align: left;
	vertical-align: top;
	padding-top: 30px;
	width: 40%;
	visibility: visible;
}

.ControllerFound #NoControllersFoundPanel
{
	visibility: collapse;
}

#NoControllersFoundLabel
{
	horizontal-align: left;
	vertical-align: top;
}

.ControllerSettingsButton
{
	flow-children: right;
	width: 600px;
	visibility: collapse;
}

.DetectedControllers
{
	visibility: collapse;
}

.ControllerFound .DetectedControllers
{
	visibility: visible;
}

.ControllerAvailable
{
	visibility: visible;
}

#SteamControllerVersion
{
	horizontal-align: left;
	vertical-align: top;
	padding-top: 30px;
	width: 40%;
	visibility: collapse;
}

#SteamControllerVersion.SteamControllerSelected 
{
	visibility: visible;
}

#SteamControllerVersion #PersonalizationSection
{
	flow-children: right;
	width: 100%;
	margin-bottom: 20px;
}

#SteamControllerVersion #ControllerName
{
	width: 300px;
	vertical-align: middle;
}

#SteamControllerVersion #PersonalizeButton
{
	horizontal-align: right;
	width: 300px;
}

#SteamControllerVersion #OtherAccountsContainer
{
	margin-bottom: 100px;
}

#SteamControllerVersion .ControllerDetailsButton
{
	width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#SteamControllerVersion Button Label
{
	horizontal-align: middle;
}

#SteamControllerVersion #ControllerInfo
{
	flow-children: down;
	vertical-align: bottom;
}

#SteamControllerVersion #ControllerInfo #ControllerInfoButtons
{
	flow-children: right-wrap;
	width: 100%;
	height: 120px;
}

#SteamControllerVersion #RegisteredAccountsContainer
{
	width: 100%;
	padding-left: 50px;
	flow-children: down;
	max-height: 300px;
	overflow: noclip scroll;
}

.GeneratedSerial .RegisteredAccountButton
{
    visibility: collapse;
}

#SteamControllerVersion #SelectAccountNoneLabel
{
	horizontal-align: left;
	vertical-align: middle;
}

#SteamControllerVersion #RegisteredAccountsContainer Button
{
	flow-children: right;
	margin-top: 0px;
	padding: 0px;
	padding-top: 2px;
	background-color: simplebutton;
	transition-property: pre-transform-scale2d,color,background-color,blur;
	transition-duration: 0.2s;
	color: applabelsolid;
	width: 400px;
	border-width: 5px;
	border-radius: 0px;
	border-style: solid;
	box-shadow: box_shadow_off_color -3px -3px 6px 6px;
}

#SteamControllerVersion #RegisteredAccountsContainer Button:focus
{
	border-color: white;
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfd66 ), to( #bdbfbf66 ) );
	color: black;
	box-shadow: box_shadow_on_color -3px -3px 6px 6px;
	
	animation-name: main-button-glow-movement; 
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.SettingsControllerBindingButton
{
	opacity: 0.0;
	max-height: 0px;
}

.Joystick .SettingsControllerBindingButton, .Controller .SettingsControllerBindingButton
{
	opacity: 1.0;
	max-height: 100px;
}

#SettingsControllerLeft
{
	width: 428px;
	margin-left: 200px;
	margin-right: 140px;
}

#SettingsContollerHeaderRow
{
	width:1000px;
	flow-children: right;
	font-weight: bold;
}

.SettingsController_BindRow
{
	flow-children: right;

	width: 1200px;
	margin: 5px;
	padding: 5px;
	border-style: solid;
	border-width: 5px;
	border-color: none;
}

.SettingsController_BindRow:focus
{
	transition-duration: 0.25s !immediate;
	transform: translateX( 0px );
	transition-property: border, background-color, color, box-shadow, transform;

	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	color: #161718f5;
	border-radius: 2px;
	border-radius: 2px;



	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) );

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.SettingsController_BindRow.EditBind:focus
{
	background-color: none;
//	color: none;
	border-color: none;
	border-width: 0px;
	animation-name: none;
	margin: -25px 28px -25px 0px;
	padding: 10px 0px 10px 0px;
}


.EditBind .SettingsControllerCommand
{
	padding: 15px -5px 0px 5px; 
}

.EditBind.SettingsGameControllerBindRow .SettingsControllerCommand
{
	padding: 15px -5px 0px 0px; 
}


.SettingsGameController_BindRow
{
	flow-children: right;
	width: 1000px;
}

.SettingsGameControllerBindRow:focus
{
	transition-duration: 0.25s !immediate;
	transform: translateX( 0px );

	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	color: #161718f5;
	border-radius: 2px;
	border-radius: 2px;

	margin-right: 18px;
	margin-top: -5px;
	margin-bottom: -5px;

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) );

	animation-name: links-and-more-button-focus, quick-blur; 
	animation-duration: 1.7s;
	animation-delay: 0.4s, 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite, 1;
	animation-direction: normal;
	
}

.SettingsGameControllerBindRow.EditBind:focus
{
	background-color: none;
	border-color: none;
	border-width: 0px;
	animation-name: none;
	margin: -25px 28px -25px 0px;
	padding: 10px 0px 10px 0px;
}


.SettingsBindingsVisibile #GameControllerContent
{
	opacity: 0.0;
	padding-right: 0px;
}

#Settings_GameController.SettingsBindingsVisibile
{
	flow-children: none;
}

.SettingsBindingsVisibile SettingsPanel_GameController_Binding
{
	opacity: 1.0;
	visibility: visible;
}

SettingsPanel_GameController_Binding 
{
	opacity: 0.0;
	visibility: collapse;
}

.SettingsControllerCommand
{
	margin-left: 10px;
	
}

.SettingsController_BindRow:focus .SettingsControllerCommand
{
	margin-left: 5px;
}

.EditBind #ButtonLabel
{
	transition-duration: 0.25s !immediate;
	transform: translateX( 0px );

	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	border-radius: 2px;
	color: #161718f5;
	height: 66px;
	margin: 10px 0px 11px 0px;
	padding: 14px 0px 0px 0px;
	vertical-align: center;

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) );

	animation-name: links-and-more-button-focus, quick-blur; 
	animation-duration: 1.7s;
	animation-delay: 0.4s, 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite, 1;
	animation-direction: normal;
	
}


.SettingsControllerContent
{
	margin-top: 32px;
	flow-children: right;
	height: 100%;
}

.SettingsControllerContent .SettingsRight
{
	height: 100%;
}

.SettingsControllerContent #SettingsControllerBinds
{
	height: 750px;
}


#SettingsControllerBinds
{
	margin-top: 3px;
	padding-top:5px;
	padding-bottom:5px;
	height: 600px;
	overflow: squish scroll;
	flow-children: down;
//	font-size: 20px;
	
	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );
}


.SettingsControllerCommand
{
	width: 300px;
}

.SettingsControllerButton
{
	width: 300px;
	border-radius: 2px;
}

#SettingsSteamController_ControllerTypeDropDownMenu
{
    z-index: msgbox_zindex;
    max-height: 320px;
}

SettingsPanelGameController_NameAndCommitBinding, .SettingsPanelGameController_NameAndCommitBinding {
    width: 100%;
    height: 100%;
    z-index: msgbox_zindex;
    transition-property: opacity;
    transition-duration: 0.3s !immediate;
    transition-timing-function: linear;
    animation-name: msg-box-appear;
    animation-duration: 0.4s;
    animation-timing-function: bigpicture-ease-in-out;
    animation-iteration-count: 1;
}

SettingsPanelGameController_NameAndCommitBinding.Destructing, .SettingsPanelGameController_NameAndCommitBinding.Destructing
{
	opacity: 0.0;
	transform: translatez( 600px ) translatey( 1080px );

	animation-name: msg-box-disappear;
	animation-duration: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
}

.ControllerNameEntry
{
	width: 500px;
	height: 50px;
	
}

.ControllerNameBodyRegion
{
	width: 45%;
	padding: 30px 40px 40px 40px;
	background-color: message_box_bg;
	box-shadow: fill #00000044 -4px -4px 8px 8px;

	vertical-align: center;
	horizontal-align: center;
	flow-children: down;

	border-width: 5px;
	border-style: solid;
	border-color: ui_common_control_border;

	color: detailsdatalabel;
	font-family: platformfont;
	font-weight: light;
}

.ControllerNameHeader, .ControllerNameButtonArea
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	font-size: 24px;	
	margin: 20px;
}

.ControllerNameButtons
{
	flow-children: right;
	font-size: 24px;	
	margin: 20px;
	horizontal-align: center;
}

.ControllerNameButtons Button
{
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
}

.ControllerNameButtons Label
{
		horizontal-align: center;
}

.a .SettingsGameControllerButtonHighlight
{
		position: 276px 102px 0px;
}

.b .SettingsGameControllerButtonHighlight
{
		position: 305px 76px 0px;
}

.x .SettingsGameControllerButtonHighlight
{
		position: 250px 76px 0px;
}

.y .SettingsGameControllerButtonHighlight
{
		position: 279px 49px 0px;
}

.start .SettingsGameControllerButtonHighlight
{
		position: 210px 65px 0px;
}

.guide .SettingsGameControllerButtonHighlight
{
	position: 164px 60px 0px;
		pre-transform-scale2d: 1.2;
}

.back .SettingsGameControllerButtonHighlight
{
		position: 120px 65px 0px;
}

.leftstick .SettingsGameControllerButtonHighlight
{
		position: 46px 69px 0px;
		pre-transform-scale2d: 1.2;
}

.rightstick .SettingsGameControllerButtonHighlight
{
		position: 212px 122px 0px;
		pre-transform-scale2d: 1.2;
}

.leftshoulder .SettingsGameControllerButtonHighlight
{
		position: 44px 0px 0px;
}

.rightshoulder .SettingsGameControllerButtonHighlight
{
		position: 282px 0px 0px;
}

.dpup .SettingsGameControllerButtonHighlight
{
		position: 112px 98px 0px;
}

.dpdown .SettingsGameControllerButtonHighlight
{
		position: 112px 145px 0px;
}

.dpleft .SettingsGameControllerButtonHighlight
{
		position: 88px 124px 0px;
}

.dpright .SettingsGameControllerButtonHighlight
{
		position: 136px 124px 0px;
}

.leftx .SettingsGameControllerButtonHighlight
{
	background-image: url("file://{images}/settings/axis_highlight.png");
	width: 60px;
	position: 47px 72px 0px;
}

.lefty .SettingsGameControllerButtonHighlight
{
	background-image: url("file://{images}/settings/axis_highlight.png");
	width: 60px;
	position: 70px 62px 0px;
	transform-origin: 0% 0% parent-relative;
	transform: translateX( -80px ) translateY( -80px ) rotateZ( 90deg ) translateX( 80px ) translateY( 80px );
}

.rightx .SettingsGameControllerButtonHighlight
{
	background-image: url("file://{images}/settings/axis_highlight.png");
	width: 60px;
	position: 215px 125px 0px;
}

.righty .SettingsGameControllerButtonHighlight
{
	background-image: url("file://{images}/settings/axis_highlight.png");
	width: 60px;
	position: 125px 135px 0px;
	transform-origin: 0% 0% parent-relative;
	transform: translateX( -200px ) translateY( -200px ) rotateZ( 90deg ) translateX( 200px ) translateY( 200px );
}

.lefttrigger .SettingsGameControllerButtonHighlight
{
		position: 44px -15px 0px;
}

.righttrigger .SettingsGameControllerButtonHighlight
{
		position: 282px -15px 0px;
}

.NotLoggedIn #AccountSettingsButton,
.NotLoggedIn #FriendsSettingsButton,
.NotLoggedIn #InGameSettingsButton,
.NotLoggedIn #RemoteClientsButton,
.NotLoggedIn #StoreSettingsButton,
.NotLoggedIn #MusicSettingsButton,
.NotLoggedIn #VoiceSettingsButton,
.NotLoggedIn #BroadcastSettingsButton,
.NotLoggedIn #DownloadsSettingsButton,
.NotLoggedIn #DiskManagetmentButton,
.NotLoggedIn #AddShortcutSettingsButton,
.NotLoggedIn #WebBrowserSettingsButton,
.NotLoggedIn #KeyboardSettingsButton,
.NotLoggedIn #InterfaceSettingsButton,
.NotLoggedIn #PersonalSettingsHeaderLabel,
.NotLoggedIn #FeaturesSettingsHeaderLabel
{
	visibility: collapse;
}

// always hide store settings, this code is moving to the web
#StoreSettingsButton
{
	visibility: collapse;
}

.SettingsPanel_Family_Sharing_List
{
	flow-children: down;
	overflow: squish scroll;
	width: 975px;
	height: 395px;
	margin-top: 10px;
	padding: 8px;

	background-color: dialog_bg_color;
	box-shadow: box_shadow_off_color -5px -5px 6px 10px;
}


	
.SettingsPanel_Family_Sharing_List:focus
{
	border-color: applabelsolid;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.SettingsPanel_Family_Sharing_List VerticalScrollBar
{
	margin-right: 10px;
	margin-left: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#BorrowerToggle
{
	margin-bottom: 6px;
	margin-top: 6px;
	margin-right: 8px;
	background-color: none;
	height: 52px;
	border-color: none;
	box-shadow: none;
	animation-name: none;
	
}

#BorrowerToggle Label
{
	color: applabelsolid;
	transform: translateX( 4px );
	opacity: 0.7;
	transition-property: color, transform, opacity;
	transition-duration: 0.23s;
	transition-timing-function: ease-out;
	transition-delay: 0.0s;
}

#BorrowerToggle:descendantfocus Label, #BorrowerToggle:hover Label, 
{
	transform: translateX( 10px );
	opacity: 1.0;
}

#BorrowerToggle .CheckBox, #BorrowerToggle .TickBox
{
	width: 44px;
	height: 44px;
	background-color: #FFFFFF22;
}

#BorrowerToggle:descendantfocus .CheckBox, #BorrowerToggle:descendantfocus .TickBox
{
	box-shadow: fill box_shadow_on_color -3px -3px 9px 6px;
	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
	background-color: #cccccc;
	border-color: #ffffff;
}


.SettingsPanel_Family_Sharing_List_ColumnName
{

	font-size: 24px;
	margin-left: 4px;
	margin-top: 20px;
	color: tcstatictext;
}

.SettingsPanel_Family_Sharing_List_ColumnItem
{
	width: 48px;
	font-size: 24px;
	margin-top: 20px;
	text-align: right;
	padding-right: 10px;
	color: applabelsolid;
}

.SettingsManageDevices_Header
{
	font-size: 32px;
	flow-children: right;
	margin-top: 20px;
}

.SettingsManageDevices_List, #AppList #SettingsDiskManagementTable, #SettingsBluetoothDeviceTable
{
	height: 500px;
	width: 1200px;
	flow-children: down;
	overflow: squish scroll;
	background-color: dialog_bg_color;
}

.SettingsManageDevices_ColumnItem
{
	width: 55px;
	font-size: 24px;
	margin-top: 20px;
}

.SettingsManageDevices_ColumnName, .SettingsDiskSpaceManagement_ColumnName, .SettingsBluetooth_ColumnName
{

	font-size: 24px;
	margin-left: 8px;
	margin-top: 20px;
	margin-right: 28px;
	color: detailsdatalabel;
}


#Settings_ManageDevices .SettingsManageDevices_ColumnName
{
	width: 317px;
}

#Settings_RemoteClients .SettingsManageDevices_ColumnName
{
	width: 536px;
}

#AppNameHeader.SettingsDiskSpaceManagement_ColumnName
{
	width: 672px;
}

#AppSizeHeader.SettingsDiskSpaceManagement_ColumnName
{
	text-align: right;
	width: 317px;
}


.SettingsManageDevices_ColumnTime
{
	width: 350px;
	font-size: 24px;
	margin-top: 20px;
	margin-left: 8px;
	color: detailsdatalabel;
}

.SettingsManageDevices_ColumnUser
{
	width: 400px;
	font-size: 24px;
	margin-top: 20px;
	margin-left: 8px;
	color: detailsdatalabel;
}

.SettingsManageDevices_ColumnItemContent
{
	width: 32px;
	margin-right: 8px;
	font-size: 24px;
	text-align: right;
	color: detailsdatalabel;
}

.SettingsManageDevices_ColumnNameContent
{
	width: 325px;
	font-size: 24px;
	padding-right: 8px;
	color: applabelsolid;
	opacity: 0.7;
}

.SettingsManageDevices_ColumnTimeContent
{
	width: 350px;
	font-size: 24px;
	margin-right: 8px;
	color: applabelsolid;
	opacity: 0.7;
}

.SettingsManageDevices_ColumnUserContent
{
	width: 400px;
	font-size: 24px;
	margin-right: 8px;
	color: applabelsolid;
	opacity: 0.7;
}

.SettingsController_BindRow:focus .SettingsManageDevices_ColumnItemContent,.SettingsController_BindRow:focus .SettingsManageDevices_ColumnNameContent, .SettingsController_BindRow:focus .SettingsManageDevices_ColumnTimeContent, .SettingsController_BindRow:focus .SettingsManageDevices_ColumnUserContent
{
	color: black;
	opacity: 1.0;
}

.AuthButton
{
	horizontal-align: left;
	margin-top: 20px;
	width: fit-children;
	padding-right: 20px;
}


.AuthButton:focus .LongDesc
{
color: black;
}


//
// Remote Clients
//

.SettingsRemoteClientsInstructions
{
	margin-top: 40px;
	color: #abb4b9;
}

#SettingsRemoteClientTable, #SettingsDiskManagementTable, #SettingsBluetoothDeviceTable
{
	flow-children: down;
	width: 1025px;
	height: 250px;
	margin-bottom: 20px;
	margin-top: 16px;
	border-radius: 2px;
	border-width: 5px;
	border-style: solid;
	border-color: ui_common_control_border;
	background-color: dialog_bg_color;
	box-shadow: box_shadow_off_color -5px -5px 6px 10px;
}

#SettingsRemoteClientsStreamActiveContainer
{
    flow-children: down;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#SettingsRemoteClientsStreamActiveDeviceLabel
{
    margin-top: 16px;
    margin-bottom: 16px;
}

#SettingsRemoteClientsStreamActiveSpaceFiller
{
    height: fill-parent-flow( 1.0 );
}

#SettingsDiskManagementTable, #SettingsBluetoothDeviceTable
{
	height: 500px;	
}

#SettingsDiskManagement_FoldersBlock
{
	visibility: collapse;
}

.HasMultipleFolders #SettingsDiskManagement_FoldersBlock
{
	visibility: visible;
}

#SettingsDiskManagement_FoldersBlock
{
	flow-children: right;
}

#SettingsDiskManagement_FoldersBlock Label
{
	vertical-align: center;
	padding : 10px;
}

#SettingsDiskManagement_IsDefaultFolder
{
	visibility: collapse;
}

.IsDefaultFolder #SettingsDiskManagement_IsDefaultFolder
{
	visibility: visible;
}


#SettingsRemoteClientTable:descendantfocus, #SettingsDiskManagementTable:descendantfocus
{
	box-shadow: box_shadow_off_color -5px -5px 6px 10px;
}
	
#SettingsRemoteClientTable:focus, #SettingsDiskManagementTable:focus
{
	border-color: applabelsolid;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.SettingsRemoteClientSection
{
	width: 1025px;
	height: 250px;
	background-color: simplebutton;
}

.SettingsRemoteClientsColumnDevice
{
	width: 538px;
}

.SettingsRemoteClientsColumnStatus
{
	width: 676px;
}

.SettingsDiskManagementApp
{
	width: 776px;
}

.SettingsRemoteClientsHeader, .SettingsDiskSpaceManagementHeader, .SettingsBluetoothHeader
{
	margin: -12px 0px 0px 0px;
	padding-bottom: 6px;
	flow-children: right;
	background-color: simplebuttonsolid;
	width: 1025px;
}

#SettingsRemoteClientList, #AppList #SettingsDiskManagementTable, #DeviceList #SettingsBluetoothDeviceTable
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
	padding: 8px;
	flow-children: down;
	overflow: squish scroll;
	
	
	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );
}

#SettingsRemoteClientTable:descendantfocus #SettingsRemoteClientList, #SettingsDiskManagementTable:descendantfocus
{
	background-color: ui_common_control;
}

#RemoteClientThrobber
{
	width: 120px;
	height: 120px;
	align: center center;
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0.0s;
}

SettingsPanel_RemoteClients.Loading #RemoteClientThrobber
{
	opacity: 1.0;
	
	animation-name: loading-throbber-appear;
	animation-duration: 0.23s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
}


// clean up with other styles in settings
SettingsPanelRemoteClientListing
{
	flow-children: right;
	background-color: transparent;
	width: fit-children;

	margin-right: 8px;
	horizontal-align: center;
}


SettingsPanelDiskManagementAppListing Button, SettingsPanelBluetoothDeviceListing Button,
{
	width: 100%;
	flow-children: right;
	background-color: transparent;
	width: fit-children;

	padding: 10px 10px 0px 10px;

	margin-right: 16px;
	margin-left: 8px;
	margin-bottom: 0px;
	margin-top: 0px;
	horizontal-align: center;


}

SettingsPanel_RemoteClients.Loading SettingsPanelRemoteClientListing
{
	visibility: collapse;
}


SettingsPanelRemoteClientListing:focus, SettingsPanelDiskManagementAppListing Button:focus, SettingsPanelBluetoothDeviceListing Button:focus
{
	transition-duration: 0.25s !immediate;

	z-index: 1000;

}

#SettingsDiskManagementTable .VertContainer
{
	overflow: squish scroll;
	padding-bottom: 8px;
	padding-top: 8px;
	
	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );
}

SettingsPanelRemoteClientListing:descendantfocus, SettingsPanelDiskManagementAppListing Button:descendantfocus, SettingsPanelBluetoothDeviceListing Button:descendantfocus

{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #66c0f4ff ), to( #b6e1faff ) );
	animation-name: button-focus;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

SettingsPanelDiskManagementAppListing Button Label, SettingsPanelBluetoothDeviceListing Button Label
{
	transform: translateX( 0px );
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;

}

SettingsPanelDiskManagementAppListing Button:descendantfocus Label, SettingsPanelBluetoothDeviceListing Button:descendantfocus Label
{
	transform: translateX( 7px );

	color: #072e47;
}

.SettingsDiskManagementSize
{
	text-align: right;
	width: 438px;
}

SettingsPanelDiskManagementAppListing Button:descendantfocus .SettingsDiskManagementSize
{
	transform: translateX( -7px );
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;
	
}

SettingsPanelRemoteClientListing #Status
{
	color: #a1b3bd;
}

.TimeZoneLabel
{
	margin-bottom: 10px;
}

.SteamOSButton
{
	visibility: collapse;
}

.SteamOS .SteamOSButton
{
	visibility: visible;
}

.NonSteamOSButton
{
	visibility: visible;
}

.SteamOS .NonSteamOSButton
{
	visibility: collapse;
}

.Spacer
{
	height: 20px;
}

.Spacer2
{
	height: 22px;
}


#Settings_Downloads_RegionDropDownMenu DropDownMenu
{
	max-height: 600px;

	}


/* CSS for check for updates steam client button in About dialog */
#SettingsInterface_SteamClientChecking
{
	visibility: collapse;
	width: 100%;
}

/* hide check label if chekcing or downloading or have update*/
.SteamClientPending #SettingsInterface_SteamClientCheckForUpdates, .SteamClientChecking #SettingsInterface_SteamClientCheckForUpdatesLabel, .SteamClientDownloading #SettingsInterface_SteamClientCheckForUpdatesLabel
{
	visibility: collapse;
	width: 100%;
}

.SteamClientChecking #SettingsInterface_SteamClientChecking
{
	visibility: visible;
}

/* hide restart button if we don't have a pending restart */
#SettingsInterface_SteamClientPending
{
	visibility: collapse;

}

.SteamClientPending #SettingsInterface_SteamClientPending
{
	visibility: visible;
}

/* hide downloading label if we aren't downloading */
#SettingsInterface_SteamClientDownloading
{
	visibility: collapse;
	width: 100%;
}

.SteamClientDownloading #SettingsInterface_SteamClientDownloading
{
	visibility: visible;
}

#CheckForUpdatesWrapper
{
	flow-children: down;
	height: 60px;
}


/* Hide the news button for client updates if not logged in, it won't work */
.NotLoggedIn #SettingsAbout_ClientUpdate,
.NotLoggedIn .ClientBetaOptIn
{
	visibility: collapse;
}

.BetaFilter
{
	margin-top: 8px;
	margin-left: 0px;
}

.ClientInfoSectionHeader
{
	margin-top: 50px;
	margin-bottom: 4px;
}

.SteamOS .ClientInfoSectionHeader,
.MainBetaVisible .ClientInfoSectionHeader
{
	margin-top: 12px;
}

.SteamOS SettingsPanel_Display
{
	margin-bottom: -40px;
}

SettingsPanel_Display.Underscan
{
	visibility: collapse;	
}

.SteamOS SettingsPanel_Display.Underscan
{
	visibility: visible;
	
	background-image: url( "file://{images}/settings/underscan1.png" ), url( "file://{images}/settings/underscan2.png" ), url( "file://{images}/settings/underscan3.png" ), url( "file://{images}/settings/underscan4.png" );
	background-repeat: no-repeat;
	background-position: left top, right top, right bottom, left bottom;
	background-size: 100px 100px;
	background-color: settingsbackgroundgradient;
}

.SteamOSUpdates
{
	visibility: collapse;	
}

.SteamOS.Linux .SteamOSUpdates
{
	visibility: visible;	
}

#SettingsAbout_SteamOSUpdateButton
{
	flow-children: right;
}

.SteamOsUpdateThrobber
{
	opacity: 0.0;
	width: 34px;
	height: 34px;
	horizontal-align: center;

	margin-left: 100px;
	margin-top: 2px;
}

.SteamOSCheckingForUpdates .SteamOsUpdateThrobber
{
	opacity: 0.7;
}

.HideDriverDate #DriverDateLabel, .HideDriverDate #DriverDateValue
{
	visibility: collapse;
}

.HideVideoMemory #VideoMemoryLabel, .HideVideoMemory #VideoMemoryValue
{
    visibility: collapse;
}

#SettingsDownloads_TimeLimitFromDropDownMenu, 
#SettingsDownloads_TimeLimitToDropDownMenu  
{
	width: 230px;
	max-height: 320px;
}


#Settings_AuthorizeLocalDevice .Button {
    margin-right: 20px;
}



#SettingsAbout_LegalInformationButton
{
	margin-top: 25px;
}

.SettingsPanel_Family_Sharing_Borrower
{
	flow-children: right;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	border-width: 0px;
	width: 100%;
	margin-right: 8px;
}

.SettingsPanel_Family_Sharing_Borrower:descendantfocus
{
	background-color: none;
}

.SettingsSteamPlayPanels
{
	width: 100%;
	margin-top: 0px;
	//padding-bottom: 20px;
	visibility: visible;
}

.SettingsSteamPlayPanels_Dropdown
{
	horizontal-align: left;
}

.SettingsSteamPlayPanels_Dropdown:disabled
{
	visibility: collapse;
}

#SettingsSteamPlay_HR
{
	horizontal-align: left;
	width: 1200px;
	margin-top: 25px;
	margin-bottom: 8px;
}

// Steam Controller Settings styles
.CtlrBarContainer
{
	background-color: simplebutton;
	height: 70px;
	width: fit-children;
	border-radius: 4px;
	flow-children: right;
	border: 5px solid #1c333dff;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 14px;
	margin-left: 0px;
	transition-property: transform, pre-transform-scale2d;
	transition-duration: 0.20s;
	border-color: none;
	border-style: solid;
	border-width: 5px;

}

.CtlrBar
{
	height: 100%;
	width: 8px;
	border-radius: 1px;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: bottom;
	background-color: #99999999;
	opacity: 0.5;

	transition-property: background-color;
	transition-duration: 0.05s;
	transition-timing-function: bigpicture-ease-in-out;
}

.CtlrBarContainer:focus .CtlrBar
{
	opacity: 1.0;
}

.CtlrBarActive
{
	background-color: ui_primary_color;
	transition-duration: 0.3s;
	opacity: 1.0;
}

.CtlrBarContainer:focus
{
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfd66 ), to( #bdbfbf66 ) );
	pre-transform-scale2d: 1.0;
	border-color: white;
	box-shadow: box_shadow_on_color -3px -3px 6px 6px;
}

.CtlrBarContainer:selected
{
	pre-transform-scale2d: 1.06;
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );
}


.OfflineMode #SettingsAccount_ChangePassword,.OfflineMode #SettingsAccount_ChangeEmail
{
	visibility: collapse;
}

// updated change pw button to go to help site
#SettingsAccount_ChangePassword
{
	visibility: visible;
}

#AudioCard, #AudioCard_Error, #PortAvailable, #PortUnavailable, #PortNoNext, #CodecsAvailable, #CodecsUnavailable
{
	visibility: collapse;
}

.SystemAudioSupport #AudioCard, .SystemAudioSupport_Failed #AudioCard_Error, .AudioPort #PortAvailable, .AudioPort_Failed #PortUnavailable, .AudioPort_Digital #PortNoNext, .AudioCodec_Unavailable #CodecsUnavailable, .AudioCodec_Available #CodecsAvailable
{
	visibility: visible;
}

.AudioFlow
{
	flow-children: down;
}

.AudioBottom
{
	margin-bottom: 10px;
}

.AudioCheck
{
	font-size: 24px;
	font-family: platformfont;
	margin-top: 20px;
}

.AudioDropDown_Wiz, #CardDropDownMenu, #PortDropDownMenu, #ProfileDropDownMenu
{
	width: 700px;
}

#SettingsVoice_Boost
{
	opacity: 0.0;
}

.SupportsMicBoost #SettingsVoice_Boost
{
	opacity: 1.0;
}


#DeviceAuthorizedStateLabel
{
	margin-bottom: 10px;
}
	
#BorrowersLabel
{
	margin-top: 20px;
	margin-bottom: 10px;
}
	
#LastTimeLabel
{

	font-size: 20px;
	margin-top: 4px;

}

.SystemAudioSupport #DetectAudioButton, .SystemAudioSupport #InputDeviceGroupOther
{
	flow-children: down;
	visibility: collapse;
}

#InputDeviceGroupOther
{
	flow-children: down;
}


#InputDeviceGroupLinux
{
	visibility: collapse;
}

.SystemAudioSupport #InputDeviceGroupLinux
{
	flow-children: down;
	visibility: visible;
}

#VoiceOutputToInput
{
	margin-top: 20px;
	width: 600px;
}

.colorpicker
{
	flow-children: right;
	padding: 20px;
	padding-right: 0px;
	padding-left: 0px;
}

.colorpicker Image
{
	margin-right: 12px;

	wash-color: #00000000;
}

.colorwrapper
{
	vertical-align: center;
}

.colorpicker .colorregion
{
	padding: 2px;
	vertical-align: center;

	flow-children: right;

	overflow: noclip noclip;
}

.colorpicker .colorregion Button,
.colorpicker .colorregion Button:hover
{
	z-index: 0;
	width: 40px;
	height: 40px;

	margin: 0px;

	overflow: noclip noclip;

	border-style: solid;
	border-radius: 0px;
	border-width: 3px;
	border-color: #18364900;
	box-shadow: none;

	pre-transform-scale2d: 1.0;

	transition-property: border, pre-transform-scale2d;
	transition-duration: 0.20s;
}

.colorpicker .colorregion Button:hover
{
	pre-transform-scale2d: 1.3;		
	z-index: 5;
}

#AlienColor:descendantfocus .colorregion Button:focus,
#AlienColor:descendantfocus .colorregion Button:hover,
#AlienColor:descendantfocus .colorregion Button.active:focus,
#AlienColor:descendantfocus .colorregion Button.active:hover,
#AlienColor:descendantfocus .colorregion Button.active:focus:hover,
#SteamColor:descendantfocus .colorregion Button:focus,
#SteamColor:descendantfocus .colorregion Button:hover,
#SteamColor:descendantfocus .colorregion Button.active:focus,
#SteamColor:descendantfocus .colorregion Button.active:hover,
#SteamColor:descendantfocus .colorregion Button.active:focus:hover
{
	z-index: 10;
	border-style: solid;
	border-color: #ffffffff;
	border-radius: 2px;
	pre-transform-scale2d: 1.4;
}

.colorpicker .colorregion Button.active
{
	z-index: 6;
	border-style: solid;
	border-color: #aaaaaaFF;
	border-radius: 2px;
	pre-transform-scale2d: 1.3;
}

.colorpicker .colorregion Button.active:hover
{
	pre-transform-scale2d: 1.35;
}

.colorborderwrapper
{
	z-index: -1;
}

SettingsPanel_AlienFX .SettingsCenterContent
{
	width: 1300px;
}

.colorborder
{
	z-index: -1;
	width: 804px;
	height: 44px;
	vertical-align: center;

	border-style: solid;
	border-radius: 2px;
	border-width: 2px;
	border-color: #183649ff;
}

#SettingsAccount_VerifyEmail,.VerifyEmail #SettingsAccount_ManageSteamGuard
{
	visibility: collapse;
}

.VerifyEmail #SettingsAccount_VerifyEmail
{
	visibility: visible;
}

.SettingsContentStreaming
{
	flow-children: right;
	height: 70px;

	padding-top: 10px;
}

#SettingsRemoteClients_Help
{
	margin-left: 50px;
}

#LanguageList,
#RegionsList
{
	padding-left: 5px;
	padding-right: 5px;
	height: 500px;
	width: 500px;

	overflow: squish scroll;

	opacity: 0.8;

	opacity-mask-scroll-up: url( "file://{images}/list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/list_mask_fade_both.png" );
}

#RegionsList
{
	min-width: 500px;
	width: fit-children;
}

.SettingsContained #LanguageList,
.SettingsContained #RegionsList
{
	height: 500px;
}

SettingsPanel_Keyboard #LanguageList
{
	max-height: 400px;
	margin-bottom: 40px;
	height: fit-children;
	padding: 0px;
}

SettingsPanel_Keyboard #LanguageList Button
{
	padding: 0px;
}

SettingsPanel_Keyboard .SettingsContent RadioButton
{
	width: 900px;
}

SettingsPanel_Keyboard #RadioButtonContainer,
SettingsPanel_Keyboard #RadioButtonContainer_Suggest
{
	flow-children: down;
	height: fit-children;
	width: 100%;
	margin-bottom: 50px;
}

SettingsPanel_Keyboard .HorzContainer,
SettingsPanel_Keyboard .HorzContainer Button
{
	width: 100%;
}

SettingsPanel_Keyboard .HorzContainer Button
{
	margin-right: 10px;
}

SettingsPanel_Keyboard .VertContainer
{
	width: 800px;
}

SettingsPanel_Keyboard Panel:disabled,
SettingsPanel_Keyboard Label:disabled
{
	visibility: collapse;
}

#LanguageList:descendantfocus,
#RegionsList:descendantfocus
{
	opacity: 1.0;
}

#LanguageList Button,
TimeZoneRegionPanel Button
{
	background-color: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 2px;
	box-shadow: none;
	transition-property: background-color;
	animation-name: none;
	height: 50px;
}

TimeZoneRegionPanel Button
{
	min-width: 475px;
	width: fit-children;
	height: fit-children;
}

#LanguageList Button:focus,
#LanguageList Button.SelectedLanguage:focus,
TimeZoneRegionPanel Button:focus,
TimeZoneRegionPanel Button.SelectedRegion:focus
{
	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	padding-right: 10px;
	
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#LanguageList Button.SelectedLanguage,
TimeZoneRegionPanel Button.SelectedRegion
{
	background-color: blue;
}

#LanguageList Button Label,
TimeZoneRegionPanel Button Label
{
	vertical-align: center;
	font-size: 24px;
	font-family: platformfont;
	color: applabelsolid;

	transition-property: color, transform;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

#LanguageList Button:hover Label,
TimeZoneRegionPanel Button:hover Label
{
	transform: translateX( 5px );
}
	
#LanguageList Button:focus Label,
#LanguageList Button:selected Label,
TimeZoneRegionPanel Button:focus Label,
TimeZoneRegionPanel Button:selected Label
{
	color: applabelselectedsolid;	
	transform: translateX( 5px );
}

#LanguageList Button.SelectedLanguage Label,
TimeZoneRegionPanel Button.SelectedRegion Label
{
	transform: translateX( 5px );
}

#SearchProviderContainer
{
	visibility: visible;
	margin-left: 0px;
	width: 700px;
}

#SettingsInterface_CustomSearchProviderURL
{
	width: 423px;
	margin-left: 50px;
	margin-bottom: 10px;
}

.SettingsSearchProviderHint
{
	margin-left: 44px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#SearchProviderContainer, #SearchProvidersCustom
{
	flow-children: down;
}

#SearchProvidersCustom
{
	height: 140px;
	margin-top: 20px;
}



.SettingsStore_Config
{
	flow-children: right;	
	vertical-align: center;
	margin-bottom: 10px;
}

#LocalWindows
{
	visibility: collapse;
}

.ShowLocalWindows #LocalWindows
{
	visibility: visible;
}

#LocalOSX
{
	visibility: collapse;
}

.ShowLocalOSX #LocalOSX
{
	visibility: visible;
}

#LocalSteamOS
{
	visibility: collapse;
}

.ShowLocalSteamOS #LocalSteamOS
{
	visibility: visible;
}

#LocalLinux
{
	visibility: collapse;
}

.ShowLocalLinux #LocalLinux
{
	visibility: visible;
}

#InputXInput
{
	visibility: collapse;
}

.ShowInputXInput #InputXInput
{
	visibility: visible;
}

#InputKeyboard
{
	visibility: collapse;
}

.ShowInputKeyboard #InputKeyboard
{
	visibility: visible;
}

#InputSteampad
{
	visibility: collapse;
}

.ShowInputSteampad #InputSteampad
{
	visibility: visible;
}

#StreamingWindows
{
	visibility: collapse;
}

.ShowStreamingWindows #StreamingWindows
{
	visibility: visible;
}

#StreamingOSX
{
	visibility: collapse;
}

.ShowStreamingOSX #StreamingOSX
{
	visibility: visible;
}

#StreamingLinux
{
	visibility: collapse;
}

.ShowStreamingLinux #StreamingLinux
{
	visibility: visible;
}

.ConfigLabel
{
	vertical-align: center;
	color: applabelsolid;
	margin-left: 4px;
}

.SettingsIcon
{
	visibility: visible;
	width: 50px;
	height: 50px;
	color: applabelsolid;
	background-size: contain;
	background-repeat: no-repeat;
	horizontal-align: left;
	vertical-align: center;
}

#SettingsIcon_OSConfig_Win
{
	background-image: url( "file://{images}/store/icon_windows_storefront.png" );
}

#SettingsIcon_OSConfig_OSX
{
	background-image: url( "file://{images}/store/icon_mac_storefront.png" );
}

#SettingsIcon_OSConfig_Linux,
#SettingsIcon_OSConfig_SteamOS
{
	background-image: url( "file://{images}/store/icon_steamos_storefront.png" );
}

#SettingsIcon_InputConfig_XInput
{
	background-image: url( "file://{images}/store/icon_fullcontroller.png" );
	width: 40px;
	height: 40px;
	margin: 0px 5px 0px 5px;
}

#SettingsIcon_InputConfig_Steampad
{
	background-image: url( "file://{images}/store/icon_steamcontroller.png" );
	width: 40px;
	height: 40px;
	margin: 0px 5px 0px 5px;
}
#SettingsIcon_InputConfig_Keyboard
{
	background-image: url( "file://{images}/store/icon_keyboard.png" );
	width: 40px;
	height: 40px;
	margin: 0px 5px 0px 5px;
}

#SettingsBroadcast_SubControls .SettingsLeftContent
{
	width: 600px;
}

#SettingsBroadcast_SubControls DropDown,
#SettingsBroadcast_SubControls ToggleButton
{
	horizontal-align: left;
	width: 600px;
}

#SettingsDiskSpaceManagement_IntroBlock
{
	flow-children: down;
}

.HiddenColum.SettingsContent
{
	visibility: collapse;
}

SettingsPanelDiskManagementAppListing.Deleting Button
{
	wash-color: #ffffffaa;
}

SettingsPanelDiskManagementAppListing.EmptyEntry, 
#BluetoothNotFound
{
	visibility: collapse;
}

.Empty SettingsPanelDiskManagementAppListing.EmptyEntry, 
.Empty #BluetoothNotFound
{
	visibility: visible;
}


.NonSteamOSButton,
#SettingsInterface_EnableScreenSaver.CheckBox,
#SearchProviders.Radios,
#SearchProviders .Button.RadioButton,
.Cookie.Button
{
	width: fit-children;
	min-width: 600px;
	padding-right: 10px;
}

.OOBE #NetworkForget
{
 	visibility: collapse;
}

OOBEWizard SettingsPanelNetwork_Device #ButtonBack,
OOBEWizard SettingsPanelNetwork_Connect #ButtonNext
{
	visibility: visible;
}

SettingsPanelNetwork_Device #ButtonBack,
OOBEWizard #ButtonCancel,
OOBEWizard SettingsPanelNetwork_Connect.NetworkConnectionComplete #ButtonBack,
SettingsPanelNetwork_Connect #ButtonNext,
OOBEWizard SettingsPanelNetwork_Connect #ButtonDone
{
	visibility: collapse;
}

.TimeZoneRegionDetailText
{
	color: tcstatictext;
}

SettingsPanelNetwork_IPCustomSettings #WrapperPanel
{
	flow-children: down;
	margin-left: 7px;
}


AddShortcutPanel
{
    width: 100%;
    height: 100%;
}

AddShortcutPanel.SettingsSection
{
	opacity: 1.0;
	flow-children: none;
}

AddShortcutPanel #ShortcutsGrid
{
	width: 100%;
	height: 100%;

	pre-transform-scale2d: 1.0, 1.0;

	position: 0px 126px 0px;
	margin-top: 00px;
}


AddShortcutPanel #FastScrollWrapper
{
	z-index: 100;
	flow-children: right;
	width: 100%;
}

AddShortcutPanel #FastScrollLabel
{
	margin-top: 100px;
	margin-left: 520px;
	font-size: 600px;

	height: 720px;
	width: 100%;
	
	z-index: 100;

	color: #f2f2f2ff;
	opacity: 0.0;
	
	text-transform: uppercase;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;

}

AddShortcutPanel #TypeToJumpLabel
{
	margin-top: 300px;
	font-size: 300px;

	z-index: 100;

	color: #f2f2f2ff;
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.Moving #FastScrollLabel
{
	opacity: 1.0;
	transition-duration: 0.5s;
}

.Moving #TypeToJumpLabel
{
	opacity: 1.0;
	transition-duration: 0.5s;
}

AddShortcutPanel .GamesGrid
{
	margin-top: 40px;
	padding-top: 70px;
	padding-left: 140px;
	position: 390px 0px 0px;


	width: 1500px;
	height: 100%;
	
	opacity-mask-scroll-up: url( "file://{images}/library/scroll_data_mask_up.tga" );
	opacity-mask-scroll-down: url( "file://{images}/library/scroll_data_mask_down.tga" );
	opacity-mask-scroll-up-down: url( "file://{images}/library/scroll_data_mask_both.tga" );

	transform: translateX( 0px );
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;
	transition-property: transform, width;
}

OOBEWizard #ChildContainer .SettingsBottomPanel
{
	margin-left: 0px;
	margin-top: 0px;
}

SettingsPanel .Button
{
	width: 430px;
	margin-right: 10px;
	margin-bottom: 3px;
	background-color: transparent_module;
	border-radius: 3px;
}

.SettingCategory
{
	text-align: left;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 3px;
	color: #ffffff;
	font-size: 30px;
}

.SettingCategoryWrapper
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #00000040 ), color-stop( 0.5, #00000040 ), to( #00000000 ) );
	margin-bottom: 15px;
	padding: 10px 0px 0px 20px;
	width: 1600px;
}

// Urgh, this is a bit of a hack. The timezone interior panel is used by both the OOBE and the regular settings dialog.
// The styles are set up in such a way that this is the easiest way to align everything.
#ContentFrame #Settings_TimeZone .SettingsContent
{
	padding-left: 0px;
}

SettingsPanel_Keyboard .SettingsContent
{
	width: 84%;
}

SettingsPanel .SettingsContent
{
	padding: 0px 0px 0px 0px;
}

.SettingsSubcheckboxes
{
	margin-top: 4px;
	margin-left: 56px;
	margin-bottom: 4px;
}

// Temp stuff for the coming soon messages on the controller config settings page
SettingsPanel_ControllerConfigs .SettingsContent
{
	flow-children: right;
}
.CfgComingSoon
{
	vertical-align: center;
	font-size: 26px;
	margin-bottom: 5px;
}

.OnlyVisibleWithSteamControllersConnected
{
	visibility: collapse;
}

.SteamControllerConnected .OnlyVisibleWithSteamControllersConnected
{
	visibility: visible;
}

.SettingsBluetooth_ColLeft

{

	width: 150px;

}

.SettingsBluetooth_ColMiddle

{

	width: fill-parent-flow(1.0);

	horizontal-align: right;

}


.SettingsBluetooth_ColRight

{

	horizontal-align: right;

	text-align: right;

}

#BluetoothNotFound Label
{
    margin-left: 10px;
}

.VROnly
{
	visibility: collapse;
}

.VR .VROnly
{
	visibility: visible;
}

#SettingsController_XBoxDriver.XboxEnabled
{
    visibility: visible;
}

#SettingsController_XBoxDriver
{
    visibility: collapse;
}

#SettingsController_NintendoLayout.NintendoEnabled
{
    visibility: visible;
}

#NintendoLayoutPanel
{
    height: 800px;
}

#SettingsController_NintendoLayout
{
    visibility: collapse;
}

#NintendoLayoutHelpImage
{
    background-repeat: no-repeat no-repeat;
	background-position: left 60px top 200px;
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/library/controller/controller_standard_layout.png");
    opacity: 0.8;
}


#NintendoLayoutHelpImage.NintendoLayout
{
    background-image: url("file://{images}/library/controller/controller_nintendo_layout.png");
}

.CloudGamingActive .CloudGamingVisible {
    visibility: visible;
}

.CloudGamingActive .CloudGamingHidden {
    visibility: collapse;
}

.CloudGamingVisible {
    visibility: collapse;
}

.CloudGamingHidden {
    visibility: visible;
}
