Shutdown
{
	z-index: 1000;
	width: 100%;
	height: 100%;
}

#CenterWrapper
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
}

#BackgroundThrobber
{
	vertical-align: center;
	horizontal-align: center;
}

#DescriptionLabel
{
	text-align: center;
	height: 50px;
	font-family: platformfont;
	font-size: 30px;
	margin-top: 30px;
	color: tcstatictext;
	opacity: 0.0;
}

.MessageVisible #DescriptionLabel
{
	opacity: 1.0;
}
