.HorzCenter
{
	horizontal-align: center;
}
.FlowRight
{
	flow-children: right;
}


SSA
{
	horizontal-align: center;
	background-image: url("file://{images}/profile/profile_bg_wash.png");
	background-size: 100% 100%;
	background-position: 0px;
	vertical-align: center;
	z-index: 10000;
	width: 100%;
	height: 100%;
	padding: 50px;
}


.SSAContainer
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.SSAContainer .Button
{
	margin-top: 30px;
	height: 56px;
	padding-right: 20px;
	padding-left: 20px;
}


.SSAContainer .Button Label
{
	font-size: 30px;
	transform: none;
}

#SSAAccept
{
	margin-right: 40px;
}

HTML
{
	background-color: #0f283d;
	width: 100%;
	height: 800px;
	padding-right: 0px;
	margin: 5px;
	padding-left: 0px;
}

HTML:focus,HTML:hover
{
	box-shadow: box_shadow_on_color -5px -5px 6px 10px;
}

#SSAScrollHintXInput,
#SSAScrollHintSteam
{
	visibility: collapse;
	margin-top: 20px;
	font-size: 27px;
	color: white;
	opacity: 0.8;
	text-align: right;
	width: 100%;

	font-family: platformfont;
}

.XInputPad #SSAScrollHintXInput
{
	visibility: visible;
}

.SteamPad #SSAScrollHintSteam
{
	visibility: visible;
}