
@define buttonfocus: 40px;
@define buttonnormal: 0px;
@define buttonhover: 20px;

#SystemMenu
{
	font-family: platformfont;
	
	background-color: #00000099;
	
	transition-property: transform, border, blur, background-color, color, box-shadow, opacity, saturation;
	transition-timing-function: bigpicture-ease-in-out;
	transition-duration: 0.3s;
	
	animation-duration: 0.3s;

	transform:none;
	opacity: 0.99;
}

#SystemMenu.BehindAnotherMsgBox
{
	z-index: 102;
	saturation: 0.8;
	blur: gaussian( 1.5 );
	wash-color: #66666666;
}

#SystemMenu.Destructing
{
	transform: translatez( 600px ) translatey( 1080px );
}

#MenuRow
{
	width: 100%;
	height: 600px;
	vertical-align: center;
	background-color: transparent;
	flow-children: down;
	background-image: url("file://{images}/homeglow.png");
}


#MenuRowButtons
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;

	padding-left: 60px;
	padding-right: 60px;
}

#MenuRowLabels
{
	vertical-align: top;
	horizontal-align: center;
	flow-children: right;

	padding-left: 60px;
	padding-right: 60px;
	
	width: 100%;
	height: 100px;

}

#TopRow
{
	margin-left: 0px;	
	margin-right: 0px;
}

#TopRowButtons
{
	padding: 65px 66px;
	horizontal-align: right;
	flow-children: right;
}

#BatteryPanel
{
	opacity: 0.0;
	visibility: collapse;
}

Label
{
	color: detailsdatalabel;
}

#MenuRow
{
	transform: translateY( -10px );
}

#MenuRow .Button
{
	width: 325px;
}

#MenuRow .Button Label
{
	font-size: 40px;
	margin-top: 16px;
}

.Button.Locked
{
	wash-color: parental_locked_wash;
}



.MenuButton
{
	width: 200px;
	height: 200px;
	margin-left: 40px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #1f2124ff ), to( #0f0f11ff ) );
}

.MenuButton Image
{
	horizontal-align: center;
	vertical-align: center;
	width: 125px;
	height: 125px;
	transition-property: wash-color;
	transition-timing-function: ease-out;
	transition-duration: 0.3s;
}

.MenuButton:focus  Image
{
	wash-color: messagecolorwash;
}

.Button:focus #ProfileLabel
{
	color: applabelselected;
	}

.ButtonWrapper
{
	flow-children: down;
}

.Button:focus .ButtonLabel
{
	color: tcmainbuttonselected;
}




.LongDesc
{
	margin-left: 10px;
	max-width: 310px;
	opacity: 1.0;

	text-overflow: ellipsis;

	transition-property: max-width, color, opacity;
	transition-duration: 0.3s;
	transition-delay: 0.08s;
	transition-timing-function: linear, ease-out;
}

.TopRowBase:descendantfocus .LongDesc
{
	max-width: fit-children;
	
}


#SettingsWrapper
{
	margin-left: 50px;
}




.MainMenu
{
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 100% 100%, from( #14c6fcaa ), to( #14c6fc55 ) );
	font-size: 42;
	text-align: center;
	text-overflow: clip;
	height: 100px;
	y: 350px;
	letter-spacing: 6px;
}

#TopRowButtons Image
{
	width: 32px;
	height: 32px;
}

#TopRowButtons Button, #TopRowButtons ParentalButton
{
	height: fit-children;
}

.MusicGuideButton
{
	visibility: visible;
}
