@define shortduration: 0.25s;
@define shortmedduration: 0.3s;
@define mediumduration: 0.4s;
@define longduration: 1.7s;

.TitleFont
{
	font-size: 45px;
	margin-top: 572px;
	padding-bottom: -30px;
	font-family: platformfont;
	color: detailsdatalabel;
	horizontal-align: center;
}

.TenfootControllerLossHelperPopup
{
	perspective: 1000;
	perspective-origin: 50% 50%;
	horizontal-align: center;
	vertical-align: center;
}

.TenfootControllerLossHelperPopupBody
{
	padding: 0px 40px 0px 40px;
	margin-top: 35px;

	flow-children: down;
	horizontal-align: center;
	vertical-align: top;
	width: 1024px;
	height: 900px;
  font-size: 28px;
	opacity: 1.0;

	border-width: 5px;
	border-style: solid;
	border-color: ui_common_control_border;
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	color: #000000ff;
	background-color: dialog_bg_color;
	background-image: url( "file://{images}/help/controller_connection_help.png" );
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}

.AlienwareBox #TenfootControllerLossHelperPanel
{
	background-image: url( "file://{images}/help/controller_connection_alien_help.png" );
}

#PairingCodesPanel
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
	color: tcexitrow;
	padding: 0px;
}

.PaddingCodesImage
{
		padding-right: 5px;
		width: 96px;
		height: 96px;
}

.PaddingCodesImageCorrect
{
		opacity: 0.25;
}