@define shortduration: 0.25s;
@define shortmedduration: 0.3s;
@define mediumduration: 0.4s;
@define longduration: 1.7s;

.TitleFont
{
	font-size: 35px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: platformfont;
	color: detailsdatalabel;
	horizontal-align: center;
}

.TextFont
{
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 0px;
	font-family: platformfont;
	color: detailsdatalabel;
	horizontal-align: center;
}

.TenfootControllerDongleUpdatePopup
{
	perspective: 1000;
	perspective-origin: 50% 50%;
	horizontal-align: center;
	vertical-align: center;
}

.TenfootControllerDongleUpdatePopupBody
{
	padding: 40px 40px 30px 40px;

	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: 580px;
	height: 240px;

	opacity: 1.0;

	border-width: 5px;
	border-style: solid;
	border-color: ui_common_control_border;
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	color: #000000ff;
	background-color: dialog_bg_color;

	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}
