@define shortduration: 0.25s;
@define shortmedduration: 0.3s;
@define mediumduration: 0.4s;
@define longduration: 1.7s;

.TitleFont
{
	font-size: 35px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: platformfont;
	color: detailsdatalabel;
	horizontal-align: center;
}

.TextFont
{
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 0px;
	font-family: platformfont;
	color: detailsdatalabel;
	horizontal-align: center;
}

.TenfootControllerPadCalibrationPopup
{
	perspective: 1000;
	perspective-origin: 50% 50%;
	horizontal-align: center;
	vertical-align: center;
}

.TenfootControllerPadCalibrationPopupBody {
    padding: 20px 30px 20px 30px;
    flow-children: down;
    horizontal-align: center;
    vertical-align: center;
    margin-bottom: 50px;
    width: 620px;
    height: fit-children;
    opacity: 1.0;
    border-width: 5px;
    border-style: solid;
    border-color: ui_common_control_border;
    box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;
    color: #000000ff;
    background-color: dialog_bg_color;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: bigpicture-ease-in-out;
}

.row {
    horizontal-align: center;
    flow-children: right;
    visibility: visible;
    width: 300px;
    height: 50%;
    margin-left: -15px;
    overflow: hidden;
}

.quarter {
    display: inline-block;
    width: 130px;
    height: 150px;
}

#q1 {
    background-color: #f00;
    opacity: 0;
}

#q2 {
    background-color: ui_common_control_border;
}

#q3 {
    background-color: ui_common_control_border;
}

#q4 {
    background-color: #0ff;
    opacity: 0;
}

#ButtonPanel
{
    width: 100%;
    flow-children: down;
    vertical-align: bottom;
    visibility: visible;
}

.Joystick #ButtonPanel
{
   // visibility: collapse;
}

.CalibrationButton
{
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    margin: 8px 0px 0px 0px;
}

.CalibrationButtonText
{
    width: 100%;
    text-align: center;
}

.JoystickCalibration Slider
{
    visibility: visible;
}

Slider
{
	width: 100%;
	height: 20px;
	margin-top: 4px;
	margin-bottom: 0px;
    visibility: collapse;
}

Slider:focus
{
	border-width: 3px;
	border-style: solid;
	border-radius: 3px;
	border-color: white;

	background-color: simplebuttonsolid;
}

Slider:Selected
{
	//temporary until we decide how to visually handle focus
	background-color: gradient( linear, -0% 0%, 0% 100%, from( #f0f0f0 ), to( #c2c2c2 ) );
	box-shadow: box_shadow_on_color -2.5px -2.5px 8px 5px;
	border: 2px solid #fdfefef0;
	border-radius: 2px;
    border-style: none;
}

.SliderLabel
{
    height: 42px;
	font-size: 20px;
	font-family: platformfont;
	color: #01caef;
    padding-top: -22px;
}

.LeftStick,
.RightStick
{
    visibility: collapse;
}

.JoystickCalibration .LeftStick
{
    visibility: visible;
    margin-top: 32px;
}

.JoystickCalibration .RightStick
{
    visibility: visible;
}

.Joystick #JoystickMsg
{
    visibility: visible;
}

#JoystickMsg
{
    visibility: collapse;
}

.IMU #IMUMsg
{
    visibility: visible;
}

#IMUMsg
{
    visibility: collapse;
}

.StickDeadzone
{
    visibility: visible;
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
    border: 3px;
    border-style: solid;
}

.StickDeadzone.RightStick
{
    margin-left: 290px;
}

.StickImage
{
    visibility: visible;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 7px;
    border-style: solid;
    border-color: ui_primary_color;
    margin-bottom: 20px;
    overflow: hidden;
    flow-children: down;
}

.StickImage.RightStick
{
    margin-left: 290px;
}


.StickDeadzone.BadCal
{
    border-color: red;
    background-color: red;
}

.StickCursor
{
    visibility: visible;
    width: 10px;
    height: 10px;
    margin-top: 114px;
    background-color: #07213588;
    border-radius: 50%;
    border: 1px;
    border-style: solid;
    border-color: ui_primary_color;
    margin-left: 3px;
    z-index: 3;
}

.StickCursor.RightStick
{
    margin-left: 292.5px;
}

.JoystickCalibration.IMU .LeftStick,
.JoystickCalibration.IMU .RightStick,
.JoystickCalibration.Joystick #LeftStickSliderContainer,
.JoystickCalibration.Joystick #RightStickSliderContainer
{
    visibility: collapse;
}

#LockJoystickButton
{
    visibility: collapse;
}

.JoystickCalibration #LockJoystickButton
{
    visibility: visible;
    margin-top: 0px;
}

.JoystickCalibration.IMU #LockJoystickButton,
.JoystickCalibration.Joystick #LockJoystickButton
{
    visibility: collapse;
}

#StickVisualization
{
    visibility: collapse;
}

.JoystickCalibration #StickVisualization
{
    visibility: visible;
}

.JoystickCalibration.IMU #StickVisualization
{
    visibility: collapse;
}

.Joystick #OKButton,
.IMU #OKButton,
{
    visibility: collapse;   
}

#IMUMsg
{
    margin-bottom: 12px;
    padding-top: 0px;
}

.FooterButtons
{
    visibility: visible;
	flow-children: right;
	width: 100%;
}

.Button,
{
 //min-height:40px;
 //padding: 2px 20px 0px 10px;
}

.TickBox
{
    margin-left: 8px;
}

#GyroAutoCalCheckbox,
#GyroButton,
#CancelButton
{
    visibility: collapse;   
}

.JoystickCalibration.GyroCalibration #GyroAutoCalCheckbox,
.GyroCalibration #GyroButton,
.JoystickCalibration #CancelButton
{
    visibility: visible;
}