@define shortduration: 0.25s;
@define shortmedduration: 0.3s;
@define mediumduration: 0.4s;
@define longduration: 1.7s;


/* transition duration for settings panels to opaque in/out; referred to from code so don't change the name */
@define DownloadsPanelTransitionDuration: 0.4s;

@define DownloadsPanelBackgroundTransitionDuration: 0.4s;

@define percentbarwidth: 412px;

.TitleFont
{
	font-size: 39px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: platformfont;
	color: detailsdatalabel;
	horizontal-align: center;
}

.TextFont
{
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 0px;
	font-family: platformfont;
	color: detailsdatalabel;
	horizontal-align: center;
}

.TenfootUpgradePopup {
    perspective: 1000;
    perspective-origin: 50% 50%;
    horizontal-align: center;
    vertical-align: center;
}

.TenfootUpgradePopupBody {
    padding: 40px 40px 30px 40px;
    flow-children: down;
    horizontal-align: center;
    vertical-align: center;
    width: 640px;
    height: fit-children;
    opacity: 1.0;
    border-width: 5px;
    border-style: solid;
    border-color: ui_common_control_border;
    box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;
    color: #000000ff;
    background-color: dialog_bg_color;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: bigpicture-ease-in-out;
}

#ButtonPanel
{
    width: 100%;
    flow-children: down;
    vertical-align: bottom;
    visibility: visible;
}


.CalibrationButton
{
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    margin: 8px 0px 0px 0px;
}

.CalibrationButtonText
{
    width: 100%;
    text-align: center;
}

Slider
{
	width: 100%;
	height: 20px;
	margin-top: 4px;
	margin-bottom: 0px;
    visibility: collapse;
}

Slider:focus
{
	border-width: 3px;
	border-style: solid;
	border-radius: 3px;
	border-color: white;

	background-color: simplebuttonsolid;
}

Slider:Selected
{
	//temporary until we decide how to visually handle focus
	background-color: gradient( linear, -0% 0%, 0% 100%, from( #f0f0f0 ), to( #c2c2c2 ) );
	box-shadow: box_shadow_on_color -2.5px -2.5px 8px 5px;
	border: 2px solid #fdfefef0;
	border-radius: 2px;
    border-style: none;
}

.SliderLabel
{
    height: 42px;
	font-size: 20px;
	font-family: platformfont;
	color: #01caef;
    padding-top: -22px;
}

.ProgressBarPercent
{
    width: 100%;
    height: 100%;
    margin: 0px;
    height: 8px;
    background-color: #ffffffff;
    wash-color: ui_primary_color;
    z-index: 3010;
}

.ProgressBarBackground {
    width: percentbarwidth;
    height: 12px;
    width: 100%;
    position: 40px 190px 0px;
    background-color: #00000099;
    box-shadow: fill #00000044 -4px -4px 8px 8px;
    z-index: 3010;
    transition-duration: DownloadsPanelTransitionDuration;
    transition-timing-function: bigpicture-ease-in-out;
    visibility: collapse;
    margin-top: 5px;
    margin-bottom: 5px;
}

.UpdateInProgress .ProgressBarBackground {
    visibility: visible;
}

.UpdateBody
{
    margin-bottom: 16px;
}