
#TestPanel
{
	height: 100%;
	width: 100%;
	visibility: collapse;
}

#TestPanel:descendantfocus
{
	visibility: visible;
}

#TestPanelContents
{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 1.0;
	z-index: 1000;
}

.FlowDown
{
	flow-children: down;
}

.FlowRight
{
	flow-children: right;
}

Button
{
	width: 250px;
	height: 60px;
	background-color: blue;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 10px;

	margin-right: 40px;
}

Button:focus
{
	background-color: white;
}

Button Label
{
	vertical-align: center;
	horizontal-align: center;
	color: white;
	font-size: 22;
	text-align: center;
}

Button:focus Label
{
	color: black;
}

#ButtonStack
{
	width: 800px;
	height: 500px;
	vertical-align: center;
	horizontal-align: center;
}

#ReturnButton
{
	margin-bottom: 200px;
}




