/*	welcome to steam main menu inline panel css style */

WelcomeToSteam
{
	width:100%;
}

#WelcomeSection
{
	width:100%;
	flow-children:down;
}

#WelcomeSection:focus
{
	animation-name: none;
}



.TitlePanel
{
	flow-children:right;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#WelcomeTitle
{
	font-size: 64px;
	font-weight: light;
	color: #36ceff;
	text-align: center;
	font-family: platformfont;
	margin: 0px 15px 0px 0px;
}

#icon_image
{
	margin: 0px 15px 0px 0px;
	width: 80px;
	height: 80px;
	wash-color: ui_primary_color;
}

#icon_header_image
{
	width: 98px;
	height: 98px;
	wash-color: ui_primary_color;
}

#icon_header_image_Right
{
	horizontal-align: right;
	width: 98px;
	height: 98px;
	wash-color: ui_primary_color;
}

#sub_image_center_large
{
	height: 700px;
}

#sub_image_center
{
	height: 540px;
}

#sub_image_center_shortish
{
	height: 440px;
}

#WelcomeCapsuleOver
{
	opacity-mask: url( "file://{images}/systemmenu/capsule_mask.png" );
	opacity: 0.3;
	border-radius: 5px;
}

MainMenu.BelowTheFoldOpen #WelcomePanel #WelcomeCapsuleOver
{
	opacity: 0.0;
}

#WelcomePanel:descendantfocus #WelcomeCapsuleOver,
#WelcomePanel:descendantfocus #WelcomeTitle,
#WelcomePanel:descendantfocus #icon_image 
{
	color: #e5f1f9;
	wash-color: #e5f1f9;
	opacity: 1.0;
	border-radius: 0px;
}

#sub_text_center
{
	horizontal-align: center;
	margin: 48px 24px 48px 24px;
	width: 920px;
}

#sub_touchmenu_right
{
	horizontal-align: right;
	vertical-align:  top;
	margin: 100px 124px 48px 24px;
	width: 920px;
}

#sub_touchmenu_left
{
	horizontal-align: left;
	vertical-align:  bottom;
	margin: 0px 0px 200px 450px;
	width: 320px;
	z-index: 1;
}

#sub_hometheater_right
{
	horizontal-align: right;
	vertical-align:  bottom;
	margin: 0px 200px 50px 0px;
	width: 500px;
	z-index: 1;
}

Button.TouchButton
{
	flow-children: none;	
}

.TouchMenuFlow
{
	flow-children: down;

}
#sub_text_right
{
	horizontal-align: right;
	vertical-align:  top;
	margin: 100px 124px 48px 24px;
	width: 920px;
}

#sub_text_center_wide
{
	horizontal-align: center;
	margin: 48px 24px 48px 24px;
	width: 1020px;
}

#bulletpoints_header
{
	horizontal-align: center;
	margin: 42px 24px 0px 24px;
	width: 1200px;
}

#sub_align_right Label
{
	text-align: right;
	horizontal-align: right;
}

#sub_align_left
{
	text-align: left;
	horizontal-align: left;
	width: 1000px;
	margin-left: 150px;
	z-index: 1;
}

#sub_images_right
{
	margin: 24px 24px 24px 64px;
}

.welcome_btn_a 
{
	vertical-align: center;

	border-radius: 50%;
	border: 2px solid #00000000;
	width: 42px;
	height: 42px;
	font-size: 20px;
	margin-top: 24px;
	box-shadow: #00000022 -3px -3px 4px 6px;
	 padding: 6px 0px 0 0px;
	
	color: gradient( linear, 0% 0%, 0% 100%, color-stop( 0.0, #072e47ff ), color-stop( 1.0, #000000ff ) );
	background-color: legendbuttongreen;
	text-align: center;
}

#welcome_btn_bump Label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	text-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, color-stop( 0.0, #072e47ff ), color-stop( 1.0, #000000ff ) );
}

#welcome_friends_hint
{
	flow-children: right;
	visibility: collapse;
}

.ControllerPresent #welcome_friends_hint
{
	visibility: visible;
}

.WelcomeBtnBump 
{
	width: 89px;
	height: 38px;
	margin-top: 24px;
	margin-right: 12px;
}

.WelcomeBtnOverlay
{
	width: 64px;
	height: 64px;
	margin-top: 24px;
	margin-right: 12px;
}

.SubPanel
{
	flow-children: down;
	horizontal-align: center;
	background-color: none;
	transition-property: background-color;
	transition-duration: 1.0s;
	box-shadow: none;
	
}



.SubPanelContainer,
.SubPanelCenterContainer
{
	opacity: .5;
	transition-property: opacity, transform;
	transition-duration: PageTransitionTimeOff;

	vertical-align: center;
	horizontal-align: center;
}


.SubPanelContainer
{
	flow-children: right;
	width: 1920px;
}


.SubImageCenterAlign
{
	vertical-align: top;
	transform: translateZ(0px );
	opacity: 0.0;
	width: 1920px;
	transition-property: transform, opacity;
	transition-duration: PageTransitionTimeOff;
}

MainMenu.BelowTheFoldOpen Button:focus .SubImageCenterAlign
{
	opacity: 1.0;
}

.FixZControllerUpdate
{
	z-index: 0;	
}

.GyroButtonVisible
{
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: PageTransitionTimeOff;
}

Button:focus .GyroButtonVisible
{
	opacity: 1.0;
}

.SubImageLeftAlignControllerUpdate
{
	vertical-align: center;
	horizontal-align: left;
	margin-left: 150px;
	transform: translateZ(0px );
	opacity: 1.0;
	//height: 300px;
	width: 600px;
	transition-property: transform, opacity;
	transition-duration: PageTransitionTimeOff;
}

.GyroImageSize
{
	width: 700px;
	height: 300px;
	background-image: none;
	background-size: 500px 300px;
	background-repeat: no-repeat;
}

MainMenu.BelowTheFoldOpen .GyroImageSize
{
	background-image: url( "file://{images}/welcomeupdates/controller_update_gyro.webm" );
}

.ControllerHUDImageSize
{
	width: 700px;
	height: 300px;
	background-image: none;
	background-size: 500px 300px;
	background-repeat: no-repeat;
}

MainMenu.BelowTheFoldOpen .ControllerHUDImageSize
{
	background-image: url( "file://{images}/welcomeupdates/controller_update_controllerhud.webm" );
}

.GyroVideosLeft
{
	flow-children: right;
	horizontal-align: left;
	width: 960px;
	margin: 10px 10px 10px 10px;
}

.GyroVideosLeft:focus
{
	animation-name: main-button-glow-movement-no-fill;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}



.SubPanelContainerGyroVideos
{
	width: 800px;
	horizontal-align: center;
	flow-children: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sub_gyro_video_align
{
	font-size: 30px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
	width: 590px;
}

.SubImageGyroVideos
{
	vertical-align: center;
	horizontal-align: left;
	transform: translateZ(0px );
	opacity: 1.0;
	width: 300px;
	margin-left: 100px;
	transition-property: transform, opacity;
	transition-duration: PageTransitionTimeOff;
}

.SubImageGyroVideosPressA
{
	vertical-align: bottom;
	horizontal-align: left;
	margin-left: 30px;
	opacity: 1.0;
	width: 35px;
	height: 35px;
}


.SubImageRightAlignControllerUpdate
{
	vertical-align: center;
	horizontal-align: right;
	transform: translateZ(0px );
	opacity: 1.0;
	//height: 300px;
	width: 600px;
	transition-property: transform, opacity;
	transition-duration: PageTransitionTimeOff;
}

MainMenu.BelowTheFoldOpen .SubImageCenterAlign
{
	opacity: 0.5;
}

.BelowTheFoldOpen .SubPanel:descendantfocus .SubPanelCenterContainer,
.BelowTheFoldOpen .SubPanel:descendantfocus .SubPanelContainer
{
	background-color: gradient( linear, 0%  0%, 100% 0%, from( #66c0f460 ), color-stop( 0.5, #11111100 ), color-stop( 0.5, #11111100 ), to( #66c0f460 ) );
	opacity: 1;
	transform: translateY( 0px ) translateZ( 16px );
}

.BelowTheFoldOpen .SubPanel:descendantfocus
{
	box-shadow: black -2px -2px 32px 6px;
}

.SubPanel:hover .SubPanelCenterContainer, 
.SubPanel:hover .SubPanelContainer
{
	opacity: 1;
}

.SubText
{
	transform: translateY( 0px ) translateZ( 0px );
	flow-children: down;
	vertical-align: center;
	margin: 48px 24px 48px 24px;
	width: 550px;
	
	transition-property: transform;
	transition-duration: PageTransitionTimeOff;
}

.SubTextRightOffset
{
	margin-left: 300px;
}

.SubTextLeft Label
{
	text-align: right;
}

.SubHeader
{
	font-size: 40px;
	color: #36ceff;
}

.SubDesc
{
	font-size: 26px;
	color: white;
	margin-top: 20px;
	vertical-align: center;
}

.SubImages 
{
	flow-children: down;
	margin: 24px 64px 24px 256px;
	vertical-align:center;

	transform: translateZ(0px );
	opacity: 1;
	
	transition-property: transform;
	transition-duration: PageTransitionTimeOff;
}

.BulletpointsFlow
{
	flow-children: down;
	horizontal-align: center;
	margin-bottom: 64px;
}

.Bulletpoints
{
	flow-children: down;
	font-size: 24px;
	color: white;
	horizontal-align: center;
	width: 1220px;
}

.SingleBulletPoint 
{
	flow-children: right;
	vertical-align: center;
	margin: 24px 0px 0px 0px;
}

.SingleBulletPointImage
{
	vertical-align: center;
	margin-right: 24px;
	height:96px;
	width:128px;
	wash-color: ui_primary_color;
	box-shadow: #00000022 -3px -3px 2px 6px;
}

#bulletpointimage_nowash
{
	wash-color:none;
}

.SingleBulletPointText
{
	font-size: 24px;
	color: white;
	vertical-align: center;
}

WelcomeToSteamTipSectionContainer
{
	flow-children: down;
}

.SecurityTwoColumnWrapper
{
	width: 100%;
	flow-children: right;
	padding-top: 20px;
}

.SecurityTwoColumnWrapper Image
{
	margin-left: 8px;
	margin-right: 30px;

	width: 115px;
	height: 189px;
}

.SecurityColumnTextWrapper
{
	flow-children: down;
	vertical-align: center;
	height: fit-children;
	width: 860px;
}

.SecurityColumnTextWrapper Label
{
	width: 100%;
}

.SecurityColumnTextWrapper Label.Header
{
	font-size: 30px;
	color: #36ceff;
}

.SecurityColumnTextWrapper Label.Content
{
	font-size: 26px;
	color: white;
	padding-top: 20px;
}

.SubDesc .Emphasis
{
	color: green;
}

.SecurityCallToActionWrapper
{
	margin-top: 30px;
	padding: 25px;
	horizontal-align: center;
	width: 100%;
	background-color: #234c6c;
	opacity: 0.3;
}

Button:descendantfocus .SecurityCallToActionWrapper
{
	opacity: 1.0;
}

.SecurityCallToActionWrapper Label
{
	font-size: 26px;
	color: white;
	horizontal-align: center;
}

.SecurityCallToActionWrapper Image
{
	width: 40px;
	height: 40px;
	margin-bottom: -10px;
}

.SecurityCallToActionWrapper Label.OnlyController
{
	visibility: collapse;
	z-index: 100;
}

.ControllerPresent .SecurityCallToActionWrapper Label.OnlyController
{
	visibility: visible;
}

.ControllerPresent .OnlyKBMouse
{
	visibility: collapse;
}