//
// Styles
//<Label id="PressButtonToStart" class="PressButtonLabel StdLabelMedBlue" text="#SteamUI_AddController_HowToPair" />	          
//			
Welcome_NoController
{
	width: 100%;
	height: 100%;

	opacity: 1.0;
	background-color: black;

	z-index: all_top_zindex;
	
	animation-name: none;
}


.StdLabelMedBlue.PressButtonLabel
{
	align: center center;
}

.WelcomeBackground #BackgroundMovie
{
	opacity: 1.0;
	
	color: #00000000;
}

//THERES NO CONTROLLER
#WelcomeNoControllerTurnOn
{
	opacity: 1.0;
 	align: center center;
 	
 	visibility: collapse;
}

//FOUND A CONTROLLER GO AWAY
.NoControllerVisible #WelcomeNoControllerTurnOn
{
	visibility: visible;
}

//This is for the image of no controller
#ControllerImageNoController
{
	visibility: visible;
}

//Steam Controller Panel
#SteamControllerBasePanel
{
	opacity: 1.0;
 	align: center center;
 	
 	visibility: collapse;
}

.SteamControllerVisible #SteamControllerBasePanel
{
	visibility: visible;
}

#GamepadBasePanel
{
	opacity: 1.0;
 	align: center center;
 	
 	visibility: collapse;
}

.GamepadVisible #GamepadBasePanel
{
	visibility: visible;
}

.ControllerImageBase
{
	opacity: 1.0;
 	align: center center;
 	
 	visibility: visible;
}

#ControllerImageA
{
	visibility: visible;
}

.ControllerHideImageA #ControllerImageA
{
	visibility: collapse;
}

.ControllerImageOverlay
{
	align: center center;
	opacity: 0.0;
	
	animation-name: pulse-controller-anim;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	
	visibility: collapse;
}

.ControllerImageStickLeft
{
	animation-direction: alternate-reverse;
}

.ControllerImageStickRight
{
}

.ShowStickImages .ControllerImageOverlay
{
	visibility: visible;
}

@keyframes 'pulse-controller-anim'
{
	0%
	{
		opacity: 0.0;
	}
	
	50%
	{
		opacity: 0.5;
	}
	
	100%
	{
		opacity: 1.0;
	}
}


//PAIRING
#PairingBasePanel
{
	opacity: 1.0;
 	align: center center;
 	 	
 	visibility: collapse;
}

.PairingPanelVisible #PairingBasePanel
{
	visibility: visible;
	
	transition-property: transform !immediate;
	transition-duration: 0.5s;

	transform-origin: 0% 0% parent-relative;
	transform: translateX( -350px );
}

.PairingImageOverlay
{
	align: center center;
	opacity: 0.0;
	
	animation-name: pairing-controller-anim;
	animation-duration: 4.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	
	visibility: collapse;
}

@keyframes 'pairing-controller-anim'
{
	0%
	{
		opacity: 0.0;
	}
	
	15%
	{
		opacity: 1.0;
	}
	
	95%
	{
		opacity: 1.0;
	}
	
	100%
	{
		opacity: 0.0;
	}
}

.ControllerHowToPair
{
	align: right center;
	
	padding-right: 250px;
	font-size: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: platformfont;
	color: blue;
	
	visibility: collapse;
	
	width: 800px;
}

.PairingPanelVisible .ControllerHowToPair
{
	visibility: visible;
	
	animation-name: pairing-controller-anim-label;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
}


@keyframes 'pairing-controller-anim-label'
{
	0%
	{
		opacity: 0.0;
	}
	
	100%
	{
		opacity: 1.0;
	}
}

#VerificationPanel
{
	visibility: collapse;
}

.VerificationVisible #VerificationPanel
{
	visibility: visible;
}