	//
// Styles for text input full screen dialog
//

TextInputFullscreen
{
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #274e66ff ), to( #1d3a4dff ) );
}

TextInputFullscreen.MinimalKeyboard
{
	background-color: #00000000;
}

#FullscreenColumnRight
{
	width: 50%;
	horizontal-align: right;
	vertical-align: center;
	flow-children: down;
}

.MinimalKeyboard #FullscreenColumnRight
{
	visibility: collapse;
}

#InputDescription
{
	color: white;
	font-size: 28px;
	font-family: platformfont;
	margin-bottom: 4px;
	
}

#EnteredText
{
	width: 80%;
	font-size: 28px;
	line-height: 36px;
	padding-top: -2px;
	font-family: platformfont;
}

.Multiline #EnteredText
{
	height: 200px;
}

.HidePassword #FullscreenColumnRight
{
    visibility: collapse;
}

#WheelWrapper
{
	width: 100%;
	height: 100%;
}
