//
// Styles for text input
// for circular look: NE_margin = N_margin/1.4
//

@define quadgroupsize: 244px;
@define quadgroupmargin: 435px;
@define quadgroupmargin2d: 305px;

@define storetitlecolor: gradient( linear, 0% 0%, 0% 100%, from( #d2d2d2ff ), to( #979898 ) );

// item height - width can increase to accomodate content
@define itemsize: 50px;

// radius of borders - wider items will be non-circular, with circular borders
// on L/R sides and flat tops/bottoms
@define borderradius: 25px;

@define itemmargin: 54px;

@define stick_pri_cold_time: 0.0;

// @define stick_pri_select_oct_lo: 0.52359877559829887307710723054658;
// @define stick_pri_select_oct_hi: 1.0471975511965977461542144610932;
@define stick_pri_select_oct_lo: 0.32;
@define stick_pri_select_oct_hi: 1.24;

@define stick_pri_move_scale_x:  0.16;
@define stick_pri_move_scale_y: -0.16;
@define stick_pri_select_dist_0: 25;
@define stick_pri_select_dist_1: 100;
@define stick_pri_select_ang_0: 0.1;

@define stick_snd_move_scale_x:  0.025;
@define stick_snd_move_scale_y: -0.025;
@define stick_snd_select_dist_0:  50;
@define stick_snd_select_dist_1: 500;
@define stick_snd_select_ang_0: 17;

@define picked_item_transition_time: 0.15s;

@define settings_transition_time: 0.2s;
@define language_transition_time: 0.2s;
@define language_show_time: 0.8s;

@define pad_select_color: #1d3547ff;

TextInputDaisy
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

TextInputDaisy.HalfWidth
{
	width: 50%;
	height: 100%;
	flow-children: none;
}

#BodyContainer
{
	width: 948px;
	height: 100%;
	flow-children: none;

	opacity: 1.0;
	background-color: #00000000;
	box-shadow: fill #000000ff 0px 0px 10px 1px;

	color: #d0d0d0ff;
	font-weight: normal;
	font-family: platformfont;
	transform: translateZ( 0px );
	horizontal-align: center;

	animation-name: textinputdaisy-appear-from-bottom-center;
	animation-duration: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;

	transition-property: opacity, blur, saturation;
	transition-duration: 0.8s !immediate;
}

.MinimalKeyboard #BodyContainer
{
	color: #00000000;
	box-shadow: none;
}

.Destructing #BodyContainer
{
	transition-duration: 0.2s !immediate;

	opacity: 0.0;
	animation-duration: 0.25s;
	animation-direction: reverse;
}

// Disable entry/exit animation for vr keyboard
.VR #BodyContainer
{
    animation-name: none;	
    opacity: 1.0;
}

.HalfWidth #BodyContainer
{

	width: 948px;
	height: 1400px;
}
.FullWidth #BodyContainer
{
	box-shadow: none;
}
.FullWidth
{

	background-image: url("file://{images}/profile/profile_bg_wash.png");
	background-size: 100% 100%;
	background-position: 0px;

}

.DockLeft #BodyContainer
{
	horizontal-align: left;
}

.DockRight #BodyContainer
{
	horizontal-align: right;
}

.Desktop #BodyContainer
{
	horizontal-align: center;
}

.AppearFromBottomCenter #BodyContainer
{	
	animation-name: textinputdaisy-appear-from-bottom-center;
}

.ScreenSaverMode #BodyContainer
{
	opacity:0;
}

@keyframes 'textinputdaisy-appear-from-bottom-center'
{
	from
	{
		opacity: 0.0;
		pre-transform-scale2d: 0.03;
		transform: translatex( 0px ) translatey( 370px );
	}
	to
	{
		opacity: 1.0;
		transform: translatez( 0px );
	}
}

#Legends
{
	width: 100%;
	height: 1080px;
	flow-children: none;
	padding-bottom: 40px;
	background-color: #20425f;
}

.MinimalKeyboard #Legends
{
	visibility: collapse;
}

.NoBackground #Legends,
.FullWidth #Legends
{
	background-color: none;
}

#Wheel
{
	width: 750px;
	height: 700px;
	flow-children: none;
	margin-bottom: 210px;
	margin-right: 120px;
	margin-left: 120px;
	margin-top: 20px;
	horizontal-align: center;

	background-color: daisy_bg_color;
	background-position: left 167px top 167px;
	background-repeat: no-repeat;
	background-size: 55%;

	box-shadow: fill #00000022 -4px -4px 8px 12px;
	border-radius: 50%;
}

#Subwheel
{
	width: 380px;
	height: 380px;
	flow-children: none;
	margin-top: 150px;
	horizontal-align: center;
	background-color: daisy_petal_color;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.Autosuggest
{
	font-size: 28px;
}

.Autosuggest.Prefix
{
	text-align: right;
}
.Autosuggest.Suffix
{
	text-align: left;
	color: friendsingame_solid;
}

#Autosuggest
{
	position: 0px 36% 0px;
	horizontal-align: center;
	flow-children: right;
//	opacity: 0.0;
}

.DaisyInputTypeABXY.ColdLS #Autosuggest
{
	opacity: 1.0;
}

#Stick_Pri
{
//	border-radius: 50%;
//	border: 2px solid legendbuttonborder;
	
	width: 150px;
	height: 150px;

	vertical-align: center;
	horizontal-align: center;
	flow-children: none;
}

#Stick_Pri Image
{
	width: 100%;
	height: 100%;
	margin-top: 20px;
	
	vertical-align: center;
	horizontal-align: center;
}

#ConfigName
{
	vertical-align: bottom;
	horizontal-align: center;
	visibility: collapse;
	
	margin-bottom: 110px;
	font-size: 32px;
	line-height: 40px;
}

#LeftLegend
{
	vertical-align: bottom;
	horizontal-align: left;
	margin-bottom: 140px;
	margin-left: 100px;
	font-size: 21px;
	line-height: 30px;
	font-family: "Motiva Sans";
	font-weight: normal;
	color: tclegendlabel;
}

#RightLegend
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 100px;
	margin-bottom: 140px;
	font-size: 21px;
	line-height: 30px;
	font-family: "Motiva Sans";
	font-weight: normal;
	color: tclegendlabel;
}

.TriggerButtonBox
{
	border-radius: 6px;
	width: 43px;
	height: 34px;
	text-align: center;
	box-shadow: #EEEEEE30 -5px -5px 6px 10px;
	border: 2px solid #00000000;
}

#LangLegend
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 140px;
	font-size: 21px;
	line-height: 30px;
	font-family: "Motiva Sans";
	font-weight: normal;
	color: tclegendlabel;

}

.LangImage
{
	horizontal-align: left;
	width: 47px;
	height: 33px;
	opacity: 1.0;
	border-radius: 44%;
	box-shadow: #EEEEEE30 -5px -5px 6px 10px;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 0px;
	background-position: 10px 50%;
	background-image: url( "file://{images}/footer/back_xinput.png" );
}

#Lang_txt
{
	margin-left: 60px;
	text-transform: uppercase;
	
	opacity: 1.0;
	transition-property: opacity !immediate;
	transition-duration: language_transition_time;
	transition-timing-function: ease-in;
}

#Lang_txt.ShowingLanguage
{
	transition-delay: language_show_time;
	opacity: 0.0;
}

#DPadLegend
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 183px;
	font-size: 21px;
	line-height: 30px;
	flow-children: right;
	visibility: collapse;
}


.DaisyInputTypeRS #DPadLegend
{
	visibility: collapse;
}

#DPadLegend Image
{
	width: 30px;
	height: 30px;
	margin-top: 1px;
	margin-left: 10px;
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: language_transition_time;
	transition-timing-function: ease-in;
}


.SteamPad #DPadLegend Image.SteamPad,
Image.SteamPadIcon
{
	width: 64px;
	height: 64px;
	margin-top: -15px;
	margin-left: -10px;
	opacity: 0.5;
}

Image.SteamPadIcon
{
	margin-top: -12px;
	margin-left: -15px;
}

.SteamPad #LeftLegend,.SteamPad #RightLegend
{
	margin-bottom: 120px;
}

.SteamPad #RightLegend
{
	margin-right: 85px;
}

#RightLegend Image.SteamPadIcon
{
	margin-left: 108px;
}

.XInputPad #DPadLegend Image.XInputPad
{
	opacity: 0.7;
}

.SteamPad #DPadLegend Image.XInputPad
{
	opacity: 0.0;
	width: 0px;
}

.XInputPad #DPadLegend
{
	visibility: collapse;
}

.SteamPadIcon, .XInputPadIcon
{
	visibility: collapse;
}

.SteamPad .SteamPadIcon,
.XInputPad .XInputPadIcon
{
	visibility: visible;
}

#DPad_txt_left,#DPad_txt_right
{
	margin-top: 0px;
	font-family: "Motiva Sans";
	font-weight: normal;
	color: tclegendlabel;
}

#LBLegend
{
	vertical-align: bottom;
	horizontal-align: left;
	margin-bottom: 200px;
	margin-left: 80px;
	font-size: 21px;
	font-family: "Motiva Sans";
	font-weight: light;
	color: tclegendlabel;
	line-height: 30px;
	font-weight: normal;
	width: 100%;
}

.LB_txt
{
	margin-top: 2px;
	margin-left: 80px;
	visibility: collapse;
}

.DaisyInputTypeABXY #LB_txt_ABXY
{
	visibility: visible;
}

.DaisyInputTypeRS #LB_txt_RS
{
	visibility: visible;
}

#LT_txt
{
	margin-top: 2px;
	margin-left: 60px;
}

.RB_txt
{
	margin-top: 2px;
	margin-right: 80px;
	visibility: collapse;
}

.DaisyInputTypeABXY #RB_txt_ABXY
{
	visibility: visible;
}

.DaisyInputTypeRS #RB_txt_RS
{
	visibility: visible;
}

#RT_txt
{
	margin-top: 2px;
	margin-right: 60px;
}

#RG_btn
{
	visibility: collapse;
	margin-top: 2px;
	margin-Left: 123px;	
}

#LG_btn
{
	visibility: collapse;
	margin-top: 2px;
	margin-Left: 10px;
}

.SteamPad #RG_btn,.SteamPad #LG_btn
{
	visibility: visible;
}


#LBLegend .TriggerButtonBox
{
	padding-left: 20px;
	width: 63px;
	border-top-left-radius: 35px 18px;
	box-shadow: #EEEEEE30 -5px -5px 6px 10px;
	border: 2px solid #00000000;
}

#StartLegend
{
	vertical-align: top;
	horizontal-align: right;
	margin-right: 100px;
	margin-top: 200px;
	font-size: 21px;
	line-height: 30px;
	visibility: collapse;
}

#StartLegend Image
{
	margin-top: 1px;
	horizontal-align: right;
	width: 47px;
	height: 33px;
	opacity: 0.8;
	border-radius: 44%;
	box-shadow: #EEEEEE30 -5px -5px 6px 10px;
}

#Start_txt
{
	margin-right: 50px;
}

#MiddleLegendRS
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 30px;
	flow-children: right;

	font-size: 24px;
	font-weight: light;
	font-family: "Motiva Sans";
	padding: 20px;
	padding-top: 25px;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

.DaisyInputTypeRS #MiddleLegendRS
{
	opacity: 1.0;
}

.DaisyInputTypeABXY.ColdLS #MiddleLegendRS
{
	opacity: 1.0;
}


.AButtonBox,
.BButtonBox,
.XButtonBox,
.YButtonBox,
.BkspButtonBox
{
	width: 38px;
	height: 38px;
	text-align: center;

	font-size: 24px;
	font-weight: light;
}

#ABXY_Footer_Wrapper
{
	visibility: visible;
	flow-children: right;
}


.AButtonBox,
.BButtonBox,
.XButtonBox,
.YButtonBox,
.BkspButtonBox,
.BkspButtonBox
{
	border-radius: 50%;
	border: 2px solid #00000000;
	box-shadow: #EEEEEE60 -5px -5px 6px 10px;
	margin-left: 16px;
	margin-right: 2px;
	padding-top: 2px;

}	

Label.PINButtonBox.YButtonBox {
	color: gradient( linear, 0% 0%, 0% 100%, color-stop( 0.0, #072e47ff ), color-stop( 1.0, #000000ff ) );
	background-color: legendbuttonyellow;
}

Label.PINButtonBox.XButtonBox {
	color: gradient( linear, 0% 0%, 0% 100%, color-stop( 0.0, #072e47ff ), color-stop( 1.0, #000000ff ) );
	background-color: legendbuttonblue;
}

.AButtonText,
.BButtonText,
.XButtonText,
.YButtonText,
.BkspButtonText
{
	margin-top: 4px;
	margin-left: 8px;
	margin-right: 8px;
	font-family: "Motiva Sans";
	font-weight: normal;
	color: tclegendlabel;
}

#RBLegend
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 80px;
	margin-bottom: 200px;
	font-size: 21px;
	line-height: 30px;
	font-family: "Motiva Sans";
	font-weight: normal;
	color: tclegendlabel;
}

#RBLegend .TriggerButtonBox
{
	horizontal-align: right;
	padding-right: 20px;
	width: 63px;
	border-top-right-radius: 35px 18px;
	box-shadow: #EEEEEE30 -5px -5px 6px 10px;
	border: 2px solid #00000000;
}

#RightLegend .TriggerButtonBox
{
	horizontal-align: right;
}

#TextInputText
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 50px;
	margin-left: 75px;
	margin-right: 75px;

	height: 100%;
	min-height: 94px;
	height: fit-children;
	overflow: squish scroll;
	white-space: normal;

	padding-left: 8px;
	padding-right: 8px;
	font-weight: medium;
	font-size: 22px;
	line-height: 28px;
	text-overflow: clip;
	color: #f2f2f2ff;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5685a950 ), to( #20204070 ) );

	border-width: 4px;
	border-color: #364559e0;
	border-style: solid;
	border-radius: 4px;
}

.StickPriLabel
{
	vertical-align: center;
	horizontal-align: center;

	font-size: 32px;
	line-height: 40px;
}

TextInputDaisyGroup #Bkgnd
{
	width: 100%;
	height: 100%;

}

TextInputDaisyGroup.SelectionGroup #Bkgnd
{
	background-color: #FFFFFF00;

}

.DaisyInputTypeRS TextInputDaisyGroup.SelectionGroup
{
	border: 2px solid #FFFFFF00;
	border-radius: 50%;
	transform: translatez(1px);
	pre-transform-scale2d: 1.10;
	transform: translatez( 10px );
	background-color: daisy_petal_selection_color;
}

.Group
{
	border-radius: 0%;
	border: 2px solid #FFFFFF00;
	flow-children: none;

	width: quadgroupsize;
	height: quadgroupsize;
	transform: translatez(0px);
	transition-property: transform, pre-transform-scale2d, border, background-color;
	transition-duration: 0.15s;
	transition-timing-function: bigpicture-ease-in-out;
	background-color: daisy_petal_color;
}



.Group.SelectionGroup
{
	border: 2px solid #FFFFFF00;
	transform: translatez(1px);
	pre-transform-scale2d: 1.08;
	transform: translatez( 10px );
	background-color: daisy_petal_action_color;
}

#Group_N
{
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: quadgroupmargin;
	opacity-mask: url( "file://{images}/textinput/drop01.tga" );
}



#Group_S
{
	vertical-align: center;
	horizontal-align: center;
	margin-top: quadgroupmargin;
	
	opacity-mask: url( "file://{images}/textinput/drop05.tga" );
	background-position: left 0px top 0px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#Group_W
{
	vertical-align: center;
	horizontal-align: center;
	margin-right: quadgroupmargin;
	
	opacity-mask: url( "file://{images}/textinput/drop07.tga" );
	background-position: left 0px top 0px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#Group_E
{
	vertical-align: center;
	horizontal-align: center;
	margin-left: quadgroupmargin;
	
	opacity-mask: url( "file://{images}/textinput/drop03.tga" );
	background-position: left 0px top 0px;
	background-repeat: no-repeat;
	background-size: 100%;
	
}

#Group_NE
{
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: quadgroupmargin2d;
	margin-left: quadgroupmargin2d;
	
	opacity-mask: url( "file://{images}/textinput/drop02.tga" );
	background-position: left 0px top 0px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#Group_SE
{
	vertical-align: center;
	horizontal-align: center;
	margin-top: quadgroupmargin2d;
	margin-left: quadgroupmargin2d;
	
	opacity-mask: url( "file://{images}/textinput/drop04.tga" );
	background-position: left 0px top 0px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#Group_SW
{
	vertical-align: center;
	horizontal-align: center;
	margin-top: quadgroupmargin2d;
	margin-right: quadgroupmargin2d;
	
	opacity-mask: url( "file://{images}/textinput/drop06.tga" );
	background-position: left 0px top 0px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#Group_NW
{
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: quadgroupmargin2d;
	margin-right: quadgroupmargin2d;
	
	opacity-mask: url( "file://{images}/textinput/drop08.tga" );
	background-position: left 0px top 0px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#Stick_Snd
{
//	border-radius: 50%;
//	border: 1px solid legendbuttonborder;
	color: #000000FF;
	
	visibility: collapse;
	width: 45px;
	height: 41px;

	vertical-align: center;
	horizontal-align: center;
}

.DaisyInputTypeRS #Stick_Snd
{
	visibility: visible;
	opacity: 0.0;
}

#Stick_Snd Image
{
	width: 100%;
	height: 100%;
	margin-top: 5px;
	
	vertical-align: center;
	horizontal-align: center;
}

.StickSndLabel
{
	vertical-align: center;
	horizontal-align: center;

	color: #d0d0d0ff;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;	
}

.Item
{
	min-width: itemsize;
	padding-left: 4px;
	padding-right: 4px;
	height: itemsize;
	box-shadow: #00000000 0px 0px 8px 0px;
}

.Group.SelectionGroup .Item
{
	background-color: #00000000;
	border-radius: borderradius;
	border: 2px solid;
}


.Group.SelectionGroupRS .Item
{
	background-color: #999999ff;
	border-radius: borderradius;
	border: 2px solid;
	border-color: #00000000;
}

.DaisyInputTypeRS .Item.Picked
{
	background-color: #999999ff;
	
	transition-property: background-color, box-shadow;
	transition-duration: picked_item_transition_time;
	transition-timing-function: bigpicture-ease-in-out;
	
	box-shadow: fill #00000022 0px 0px 6px 0px;
	border-radius: borderradius;
}

.DaisyInputTypeABXY .Group #Item_N.Item.Picked,
.DaisyInputTypeABXY .Group #Item_S.Item.Picked,
.DaisyInputTypeABXY .Group #Item_E.Item.Picked,
.DaisyInputTypeABXY .Group #Item_W.Item.Picked
{
	background-color: #00000000;
	
	
	box-shadow: fill #00000022 0px 0px 6px 0px;
	border-radius: borderradius;
	
	transition-property: background-color, transform !immediate;
	transition-duration: picked_item_transition_time;
	transition-timing-function: bigpicture-ease-in-out;
	
}

.DaisyInputTypeABXY.SteamPad .Group #Item_N.Item.Picked,
.DaisyInputTypeABXY.SteamPad .Group #Item_S.Item.Picked,
.DaisyInputTypeABXY.SteamPad .Group #Item_E.Item.Picked,
.DaisyInputTypeABXY.SteamPad .Group #Item_W.Item.Picked
{
	background-color: #00000033;
	border-radius: borderradius;

	box-shadow: fill #00000022 0px 0px 6px 0px;
	transition-property: background-color, transform !immediate;
	transition-duration: picked_item_transition_time;
	transition-timing-function: linear;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_N.Picked,
.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_S.Picked,
.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_E.Picked,
.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_W.Picked
{
	background-color: #00000011;
	border-radius: borderradius;

	transition-property: background-color, transform !immediate;
	transition-duration: picked_item_transition_time;
	transition-timing-function: linear;
}

.ItemLabel
{
	vertical-align: center;
	horizontal-align: center;
	
	font-weight: bold;
	font-size: 30px;
	line-height: 40px;
	margin-top: -2px;
	color: #C0C0C0FF;
}

.Group.SelectionGroup .ItemLabel
{
	color: #ffffffff;
}

.DaisyInputTypeABXY .Group #Item_N.Item.Picked .ItemLabel,
.DaisyInputTypeABXY .Group #Item_S.Item.Picked .ItemLabel,
.DaisyInputTypeABXY .Group #Item_E.Item.Picked .ItemLabel,
.DaisyInputTypeABXY .Group #Item_W.Item.Picked .ItemLabel
{
	color: #999999FF;
}


.DaisyInputTypeABXY.SteamPad .Group #Item_N.Item.Picked .ItemLabel,
.DaisyInputTypeABXY.SteamPad .Group #Item_S.Item.Picked .ItemLabel,
.DaisyInputTypeABXY.SteamPad .Group #Item_E.Item.Picked .ItemLabel,
.DaisyInputTypeABXY.SteamPad .Group #Item_W.Item.Picked .ItemLabel
{
	color: #999999FF;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_N.Picked .ItemLabel,
.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_S.Picked .ItemLabel,
.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_E.Picked .ItemLabel,
.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_W.Picked .ItemLabel
{
	color: #333333FF;
	
	transition-property: color, transform !immediate;
	transition-duration: picked_item_transition_time;
	transition-timing-function: linear;
}


#Item_N
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: itemmargin;
}

.DaisyInputTypeABXY #Item_N
{
	border: 2px solid #00000000;
	background-color: #00000000;
	border-radius: borderradius;
	
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

.DaisyInputTypeABXY.SteamPad #Item_N
{
	box-shadow: #ffffff00 0px 0px 2px 0px;
	background-color: #00000000;
}

.DaisyInputTypeABXY .Group.SelectionGroup #Item_N
{
	background-color: #b38e1fff;
	box-shadow: #00000055 0px 0px 8px 0px;
	border-radius: borderradius;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_N
{
	background-color: #222222ff;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_N .ItemLabel
{
	color: #b38e1fff;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_N
{
	box-shadow: #ffffff00 0px 0px 2px 0px;
	background-color: #00000000;
}

.DaisyInputTypeABXY.RightPad_Up .Group.SelectionGroup #Item_N,.DaisyInputTypeABXY.RightPad_PickAllItems .Group.SelectionGroup #Item_N
{
	background-color: pad_select_color;
	box-shadow: #ffffff80 0px 0px 2px 0px;
	border: 2px solid #ffffff80; 
	border-radius: borderradius;
}


#Item_S
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: itemmargin;
}

.DaisyInputTypeABXY #Item_S
{
	border: 2px solid #00000000;
	background-color: #00000000;
	border-radius: borderradius;
	
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

.DaisyInputTypeABXY.SteamPad #Item_S
{
	box-shadow: #ffffff00 0px 0px 2px 0px;
	background-color: #00000000;
}
	
.DaisyInputTypeABXY .Group.SelectionGroup #Item_S
{
	background-color: #6b900cff;

	box-shadow: #00000055 0px 0px 8px 0px;
	border-radius: borderradius;

}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_S
{
	background-color: #222222ff;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_S .ItemLabel
{
	color: #6b900cff;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_S
{
	box-shadow: #ffffff00 0px 0px 2px 0px;
	background-color: #00000000;
}

.DaisyInputTypeABXY.RightPad_Down .Group.SelectionGroup #Item_S,.DaisyInputTypeABXY.RightPad_PickAllItems .Group.SelectionGroup #Item_S
{
	background-color: pad_select_color;
	box-shadow: #ffffff80 0px 0px 2px 0px;
	border: 2px solid #ffffff80; 
	border-radius: borderradius;
}


#Item_W
{
	horizontal-align: left;
	vertical-align: center;
	margin-left: itemmargin;
}

.DaisyInputTypeABXY #Item_W
{

	border: 2px solid #00000000;
	background-color: #00000000;
	border-radius: borderradius;
	
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

.DaisyInputTypeABXY.SteamPad #Item_W
{
	background-color: #00000000;
	box-shadow: #ffffff00 0px 0px 2px 0px;
}

.DaisyInputTypeABXY .Group.SelectionGroup #Item_W
{
	background-color: #143566ff;
	box-shadow: #00000055 0px 0px 8px 0px;
	border-radius: borderradius;
}


.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_W
{
	background-color: #222222ff;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_W .ItemLabel
{
	color: #2056a5ff;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_W
{
	box-shadow: #ffffff00 0px 0px 2px 0px;
	background-color: #00000000;
}

.DaisyInputTypeABXY.RightPad_Left .Group.SelectionGroup #Item_W,.DaisyInputTypeABXY.RightPad_PickAllItems .Group.SelectionGroup #Item_W
{
	background-color: pad_select_color;
	box-shadow: #ffffff80 0px 0px 2px 0px;
	border: 2px solid #ffffff80; 
	border-radius: borderradius;
}


#Item_E
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: itemmargin;
}

.DaisyInputTypeABXY #Item_E
{


	border: 2px solid #00000000;
	background-color: #00000000;
	border-radius: borderradius;
	
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

.DaisyInputTypeABXY.SteamPad #Item_E
{
	box-shadow: #ffffff00 0px 0px 2px 0px;
	background-color: #00000000;
}

.DaisyInputTypeABXY .Group.SelectionGroup #Item_E
{
	background-color: #a51c0cff;
	box-shadow: #00000055 0px 0px 8px 0px;
	border-radius: borderradius;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_E
{
	background-color: #222222ff;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_E .ItemLabel
{
	color: #a51c0cff;
}

.DaisyInputTypeABXY.SteamPad .Group.SelectionGroup #Item_E
{
	box-shadow: #ffffff00 0px 0px 2px 0px;
	background-color: #00000000;
}

.DaisyInputTypeABXY.RightPad_Right .Group.SelectionGroup #Item_E,.DaisyInputTypeABXY.RightPad_PickAllItems .Group.SelectionGroup #Item_E
{
	background-color: pad_select_color;
	box-shadow: #ffffff80 0px 0px 2px 0px;
	border: 2px solid #ffffff80; 
	border-radius: borderradius;
}


//
// toplevel daisy settings container
//
#TextInputDaisySettings
{
	width: 50%;
	height: 100%;

	opacity: 0.0;

	horizontal-align: center;

	font-size: 32px;

	transition-property: opacity;
	transition-duration: settings_transition_time;
	transition-timing-function: bigpicture-ease-in-out;
}

.DockLeft #TextInputDaisySettings
{
	horizontal-align: left;

}

.DockRight #TextInputDaisySettings
{
	horizontal-align: right;

}

//
// we style in the settings and style out the actual daisy
// with the InSettings class
//
.InSettings #TextInputDaisySettings
{
	opacity: 1.0;
}

.InSettings #BodyContainer
{
	opacity: 0.5;
}

//
// 2nd level container
//
#TextInputDaisySettingsContainer
{
	background-color: #000000;
	padding: 100px;

	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
	color: #c8cbccca;
}

#TextInputDaisySettingsCancel
{
	flow-children: right;
}

.XButtonBox , .XButtonText
{
	visibility: visible;
}

.WebEntry .AButtonText, .WebEntry  .AButtonBox
{
	visibility: visible;
	color: #75b324ff;
}

.WebEntry  .AButtonBox
{
	box-shadow: #75b32499 -5px -5px 6px 10px;
	background-color: #5c8d1c66;
}

.YButtonBox, .YButtonText
{
	visibility: collapse;
}

.IsPasswordEntry .YButtonText, .IsPasswordEntry .YButtonBox
{
	visibility: visible;
}

.WebEntry .AButtonText
{
	text-transform: uppercase;
}

.NoCancel #B_btn,.NoCancel #B_txt
{
	visibility: collapse;
}



@define pinpaddivider: #878c8eff;
@define pinpadbuttonshadow: #EEEEEE78 -5px -5px 6px 10px;

.DaisyInputTypePIN #Wheel
{
	visibility: collapse;
}

.DaisyInputTypePIN #Legends
{
	visibility: collapse;
}

.DaisyInputTypePIN #TextInputText
{
	visibility: collapse;
}

#PINPad
{
	width: 100%;
	height: 1080px;
	flow-children: down;
	background-color: daisy_bg_wash_color;
	visibility: collapse;
}

.DaisyInputTypePIN #PINPad
{
	visibility: visible;
}

.PINButton
{
	flow-children: down;

	color: tclegendlabel;

	border-style: solid;
	border-color: pinpaddivider;

	height: 198px;
	width: 126px;

	padding: 20px 20px 10px 20px;
}

.PINButtonText
{
	height: 100px;
	margin-bottom: 20px;
	padding-top: -22px;
	horizontal-align: center;
	font-size: 124px;
	font-weight: light;
	color: storetitlecolor;
}

.PINButton .PINButtonIcon
{
	padding-top: 4px;
	horizontal-align: center;
	font-size: 21px;
	font-family: "Motiva Sans";
	font-weight: light;
}

#LBPIN .TriggerButtonBox
{
	padding-left: 20px;
	width: 63px;
	border-top-left-radius: 35px 18px;
}

#RBPIN .TriggerButtonBox
{
	padding-right: 20px;
	width: 63px;
	border-top-right-radius: 35px 18px;
}

.PINButtonBox
{
	border-radius: 50%;
	border: 2px solid #00000000;
	width: 38px;
	height: 38px;
	text-align: center;
	box-shadow: pinpadbuttonshadow;
}

.PINRow
{
	flow-children: right;
	horizontal-align: center;
	border-style: solid;
	border-color: pinpaddivider;
}

#PINTop
{
	margin-top: 30px;
}

#PINMiddle
{
	border-width: 1px 0px 1px 0px;
}

#PINBottom
{
	border-width: 0px 0px 1px 0px;
}

.PINButtonMiddle
{
	border-width: 0px 1px 0px 1px;
}


#Bksp_btn
{
	width: 47px;
	height: 33px;
	border-radius: 44%;
	margin-right: 8px;
}


#PINFooter
{
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: 40px;
	flow-children: right;

	font-size: 24px;
	padding: 20px;
	height: 88px;
}


.SteamPad .DPadButtonBox
{
	visibility: collapse;
}

.SteamPadGridBox
{
	visibility: collapse;
}

.SteamPad .SteamPadGridBox
{
	visibility: visible;
	height: 48px;
	width: 48px;
}

#YPIN_Wrapper,
#XPIN_Wrapper
{
	horizontal-align: center;
}

#PINPad .YButtonBox,
#PINPad .XButtonBox
{
	visibility: visible;
	opacity: 0.6;
	margin-left: 0px;
	margin-right: 0px;
	horizontal-align: center;
}

#XPIN_Wrapper .XButtonBox
{
	visibility: visible;
	margin-left: 0px;
	margin-right: 0px;
}

.SteamPad #XPIN_Wrapper,
.SteamPad #YPIN_Wrapper
{
	margin-top: -6px;
}

#PINFooter .A_Wrapper,
#PINFooter .B_Wrapper
{
	flow-children: right;
}

#PINFooter .LegendText
{
	vertical-align: center;
}

.XInputPad #SteamPad_ABXY_Footer_Wrapper
{
	visibility: collapse;
}

.HiddenFooter
{
	visibility: collapse;
}

#YButtonWrapper
{
	opacity: 0.0;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 20px;
	padding: 5px;
	flow-children: right;

	transition-property: opacity;
	transition-duration: 0.5s;
}

.IsLongString.IsPasswordEntry #YButtonWrapper
{
	opacity: 0.0;
}

.IsPasswordEntry #YButtonWrapper
{
	opacity: 1.0;
}

.IsPasswordVisible #YButtonWrapper .YButtonText.PasswordVisible,
.IsPasswordHidden #YButtonWrapper .YButtonText.PasswordHidden
{
	visibility: visible;
}

#YButtonWrapper .YButtonText
{
	visibility: collapse;
	color: #000000;
	font-size: 21px;
}

#YButtonWrapper .YButtonBox
{
	color: gradient( linear, 0% 0%, 0% 100%, color-stop( 0.0, #072e47ff ), color-stop( 1.0, #000000ff ) );
	background-color: legendbuttonyellow;
}

//
// Dualtouch tutorial
//

@keyframes 'dualtouch-tutorial-click-overlay-fade'
{
	from
	{
		opacity: 0.0;
	}

	50%
	{
		opacity: 0.8;
	}

	to
	{
		opacity: 0.0;
	}
}

#TutorialLeft, #TutorialRight, #TutorialLeftAlphaFade, #TutorialRightAlphaFade, #TutorialLeftPartialDisable, #TutorialRightPartialDisable
{
	opacity: 0.0;
	width: 384px;
	height: 640px;
	background-size: 100% 100%;
	background-position: 0px;
	z-index: 1000;

	transition-property: opacity;
	transition-duration: 0.4s;
}

.VR #TutorialLeft, .VR #TutorialRight, .VR #TutorialLeftAlphaFade, .VR #TutorialRightAlphaFade, .VR #TutorialLeftPartialDisable, .VR #TutorialRightPartialDisable
{
	opacity: 0.0;
	width: 305px;
	height: 510px;
	background-size: 100% 100%;
	background-position: 0px;
	z-index: 1000;

	transition-property: opacity;
	transition-duration: 0.4s;
}

#ActualLegends
{
	width: 100%;
	height: 100%;
opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.75s;
}

.LeftTutorialEnabled.RightTutorialEnabled #TutorialLeftPartialDisable,
.LeftTutorialEnabled.RightTutorialEnabled #TutorialRightPartialDisable,
.LeftTutorialEnabled #TutorialLeft,
.RightTutorialEnabled #TutorialRight
{
	opacity: 0.0;
}

.LeftTutorialEnabled #TutorialLeftPartialDisable,
.RightTutorialEnabled #TutorialRightPartialDisable,
.LeftTutorialEnabled.RightTutorialEnabled #TutorialLeft,
.LeftTutorialEnabled.RightTutorialEnabled #TutorialRight
{
	opacity: 1.0;
}

.LeftTutorialEnabled #TutorialLeftAlphaFade, .RightTutorialEnabled #TutorialRightAlphaFade
{
	opacity: 0.8;
	z-index: 1001;

	animation-name: dualtouch-tutorial-click-overlay-fade;
	animation-duration: 5.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#TutorialLeft, #TutorialLeftAlphaFade, #TutorialLeftPartialDisable
{
	position: 98px 350px 0px;
}

.VR #TutorialLeft, .VR #TutorialLeftAlphaFade, .VR #TutorialLeftPartialDisable
{
	position: 98px 0px 0px;
}

#TutorialRight, #TutorialRightAlphaFade, #TutorialRightPartialDisable
{
	position: 482px 350px 0px;
}

.VR #TutorialRight, .VR #TutorialRightAlphaFade, .VR #TutorialRightPartialDisable
{
	position: 482px 00px 0px;
}

#TouchPadLeft, #TouchPadRight
{
	transition-property: opacity, blur, saturation;
}

.LeftTutorialEnabled #TouchPadLeft, .RightTutorialEnabled #TouchPadRight
{
	blur: gaussian( 1.8 );
	saturation: 0.45;
	opacity: 0.3;
}

.LeftTutorialEnabled #ActualLegends, .RightTutorialEnabled #ActualLegends
{
	opacity: 0.0;
}


.TouchKeySpaceLabel
{
	vertical-align: center;
	horizontal-align: left;
	font-size: 30px;
	color: #ccccccff;
	wash-color: #ccccccff;
}
