
#FriendsNotifications
{
	width: 500px;
	margin-top: 10px;
	padding-top: 30px;
	padding-left: 20px;
	flow-children: down;
	horizontal-align: right;
}

#FriendsNotifications.DetailsDataPanel
{
	height: 700px;
}

#FriendsNotifications .TitleLabel
{
	color: moduledatalabel;
	margin-left: 10px;
	margin-top: -5px;
	font-size: 30px;
}

#FriendsNotifications Label
{
	font-size: 30px;
}

#FriendsNotifications .HorizontalRule
{
	margin-top: 10px;
	background-color: moduledatalabel;
	max-width: 250px;
	height: 2px;
	margin-left: 0px;
}

#TempGameInvites
{
	margin-top: 10px;
	visibility: collapse;
}

.PersonaLabelContainer
{
	flow-children: down;
}

.PersonaName
{
	color: blue;
}

#NotificationContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
}


OverlayFriendsNotificationItem
{
	visibility: collapse;
	height: fit-children;
	width: 100%;
	flow-children: right;
	margin-top: 15px;
}

.NotificationVisible OverlayFriendsNotificationItem
{
	visibility: visible;
}

.FriendInvitesNotification, .MoreUnreadNotification, .UnreadChatNotification, .GameInviteNotification, .VoiceChatNotification
{
	visibility: collapse;
}

AvatarImage
{
	width: 80px;
	height: 80px;
	margin-right: 4px;

	border: 3px solid friendsoffline_darkbg;
	border-radius: 4px;
}

.Online AvatarImage
{

	border: 3px solid friendsonline_darkbg;
}

.InGame AvatarImage
{
	border: 3px solid friendsingame_darkbg;
}

.Notification_MoreUnread #Avatar,
.Notification_FriendInvites #Avatar
{
	visibility: collapse;
}

OverlayFriendsNotificationItem.Notification_FriendInvites
{
	visibility: visible;
}

.Notification_FriendInvites Label, .Notification_FriendInvites .NotificationDetailsContainer Label
{
	color: moduledatalabel;
}

.Notification_FriendInvites .FriendInvitesIcon
{
	width: 80px;
	height: 80px;
	padding: 4px;
	margin-right: 4px;
	background-color: gradient( linear, 0% 0%, 80% 0%, from( #65bff3ff ), to( #308abeff ) );

	background-image: url( "file://{images}/systemmenu/icon_user.png" );
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60% 60%;
}

.Notification_MoreUnread .MoreUnreadChatsIcon
{
	width: 80px;
	height: 80px;
	padding: 4px;
	margin-right: 4px;
	background-color: #a4d007ff;

	background-image: url( "file://{images}/systemmenu/icon_user.png" );
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60% 60%;
}

.Notification_UnreadChat .UnreadChatNotification
{
	visibility: visible;
}

.Notification_VoiceChat .VoiceChatNotification
{
	visibility: visible;
}

.VoiceChatState
{
	font-size: 20px;
	color: red;
}

.Notification_FriendInvites .FriendInvitesNotification
{
	visibility: visible;
}

.UnreadChatNotification Image
{
	width: 24px;
	height: 24px;
	margin-top: 3px;
	vertical-align: center;
	margin-left: 8px;
}

.VoiceChatNotification Image
{
	width: 30px;
	height: 30px;
	margin-right: 8px;
	margin-top: 3px;
}

.Notification_MoreUnread .MoreUnreadNotification
{
	visibility: visible;
}

.Notification_MoreUnread .PersonaName
{
	visibility: collapse;
}

.MoreUnreadNotification
{
	flow-children: down;
}

#MoreChatsCount,
#MoreInvitesCount,
#MoreInvitesCount_Plural,
#MoreChatsCount_Plural
{
	visibility: collapse;
}

.HasOneUnreadInvite #MoreInvitesCount,
.HasManyUnreadInvites #MoreInvitesCount_Plural,
.HasMoreUnreadChats #MoreChatsCount_Plural,
.HasOneUnreadChat #MoreChatsCount
{
	visibility: visible;
}

.Notification_MoreUnread .MoreUnreadNotification
{
	flow-children: down;
}

.Notification_MoreUnread .NotificationDetailsContainer Label
{
	color: friendsingame_solid;
}

OverlayFriendsNotificationItem.Notification_MoreUnread
{
	visibility: visible;
}

OverlayFriendsNotificationItem.Notification_UnreadChat
{
	visibility: visible;
}

OverlayFriendsNotificationItem.Notification_GameInvite
{
	visibility: visible;
}

.Notification_GameInvite .GameInviteNotification
{
	visibility: visible;
}

OverlayFriendsNotificationItem.Notification_VoiceChat
{
	visibility: visible;
}

.NotificationDetailsContainer
{
	flow-children: down;
	height: fit-children;
	margin-left: 10px;
}

.NotificationDetailsContainer Label
{
	font-size: 25px;
	color: white;
}

.NotificationDetails
{
	margin-top: 6px;
	flow-children: right;
}

.PersonaName
{
	color: friendsoffline_solid;
}

.Online .PersonaName
{
	color: friendsonline_solid;
}

.InGame .PersonaName
{
	color: friendsingame_solid;
}
