/*
 * SteamMain
 */


/* Our custom font face defintions */

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-Regular') format('truetype');
}

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-RegularItalic') format('truetype');
	font-style: italic;
}

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-Thin') format('truetype');
	font-weight: 100;
}

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-Light') format('truetype');
	font-weight: 300;
}

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-LightItalic') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-Medium') format('truetype');
	font-weight: 500;
}

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-Bold') format('truetype');
	font-weight: 700;
}

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-BoldItalic') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-ExtraBold') format('truetype');
	font-weight: 800;
}

@font-face
{
	font-family: 'Motiva Sans';
	src: url('/custom_fonts/clientui.uifont?MotivaSans-Black') format('truetype');
	font-weight: 900;
}

