body
{
	margin: 0px;
	padding: 0px;
}

.friendlist
{
	display: flex;
	flex-direction: column;
	height: calc(100% - 24px);
	background: radial-gradient( ellipse farthest-corner at 50% 30%, rgb( 33, 35, 41 ) 0%, rgb( 30, 32, 37 ) 50%, rgb( 28, 29, 34 ) 100% );
}

.fullheight
{
	height: 100%;
}

.chat_main
{
	width: 100%;
	height: 100%;

	background-color: rgb(34, 37, 43);
	color: rgb( 150, 150, 150 );

	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.chat_main .TitleBar
{
	height: 70px;
	border-bottom: 1px solid rgba( 67, 73, 83, .5 )
}

.FriendsFailureContainer
{
	align-self: center;
	max-width: 324px;
	flex: 1;
	margin-top: 0;
	padding: 8px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.FriendsFailureContainer .titleText
{
	color: rgb(255, 174, 0);
	font-size: 18px;
	margin-bottom: 8px;
}

.FriendsFailureContainer .summaryText
{
	font-size: 14px;
	line-height: 24px;
	margin: 8px 0px;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 16px;
	color: rgb(255, 174, 0);
	cursor: default;
}

.FriendsFailureContainer .detailText
{
	font-size: 12px;
	margin: 8px 16px;
	line-height: 20px;
	cursor: default;
}

body.in_global_drag .friendlist_titlebar
{
	-webkit-app-region: no-drag;
}

.friendsThrobber
{
	margin-top: 12px;
}

.retryButton
{
	margin: 16px;
	margin-top: 24px;
	width: calc(100% - 32px);

	display: inline-block;
	height: 32px;
	background-color: rgb( 21, 162, 254 );
	background: linear-gradient( to right, rgb( 21, 162, 254 ) 0%, rgb( 54, 71, 233 ) 100% );
	user-select: none;
	cursor: pointer;
	color: white;
	border: 0px solid transparent;
	border-radius: 3px;
	padding: 0px 16px;
	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
	box-shadow: 1px 2px 18px rgba( 0, 0, 0, .3 );
	text-transform: uppercase;
}

.retryButton:focus
{
	outline: none;
}

.retryButton:hover
{
	background: linear-gradient( to right, rgb( 51, 192, 255 ) 0%, rgb( 74, 145, 255 ) 100% );
}

.retryButton:active
{
	background: linear-gradient( to right, rgb( 1, 142, 234 ) 0%, rgb( 24, 95, 235 ) 100% );
}


.friends_loading_error .currentUserContainer
{
	height: 70px;
	border-bottom: 1px solid rgba( 67, 73, 83, .5 );
}

.friends_loading_error .AvatarAndUser
{
	display: flex;
	flex-direction: row;
	padding-left: 8px;
	padding-top: 8px;
}

.friends_loading_error .currentUserContainer .labelHolder
{
	margin: 0px 0px 0px 12px;
	min-width: 0;
	flex-shrink: 1;
	margin-right: 14px;
}

.friends_loading_error .currentUserAvatar
{
	pointer-events: none;
	width: 48px;
	height: 48px;
	/*border: .5px solid black;*/
	box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.3);
	transition-property: box-shadow, filter;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
	z-index: 3;
}

.friends_loading_error .noAvatarImg
{
	border: 1px solid #888888;
}

.friends_loading_error .currentUserContainer .statusAndName
{
	display: flex;
	flex-direction: row;
	margin-bottom: -4px;
}

.friends_loading_error .playerName
{
    font-size: 15px;
    font-family: "Motiva Sans Light", Arial, Helvetica, sans-serif;
    transition: color .94s ease-in-out;
    text-shadow: 1px 1px 4px #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
}


.friends_loading_error .gameName.richPresenceLabel
{
	font-size: 14px;
	display: inline-block;
	transition: color .94s ease-in-out;
	text-shadow: 1px 1px 3px #000;
	-webkit-app-region: drag;
	color: rgb(87, 87, 87);
}

.friends_loading_error .cautionIcon
{
	width: 64px;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
}

.friends_loading_error .cautionIcon .SVGIcon_Caution
{
	width: 100%;
	height: 100%;
	margin-top: 16px;
}

.friends_loading_error .cautionIcon .SVGIcon_Caution .exclamation line,
.friends_loading_error .cautionIcon .SVGIcon_Caution .triangle path
{
	stroke: rgb(255, 174, 0);
}

.friends_loading_error .cautionIcon .SVGIcon_Caution .exclamation path
{
	fill: rgb(255, 174, 0);
}