

.FriendsLoading
{
    opacity: 0.0;
}

#FriendInviteAll, #GroupInviteAll
{
    vertical-align: bottom;
    white-space: nowrap;
    font-weight: bold;
    font-size: 27px;
    margin-left: 8px;
    margin-bottom: 1px;
    color: #d8d8d8ff;
    background-color: #1b405933;
    text-overflow: ellipsis;
    width: 100%;
}

#FriendInviteAll:descendantfocus, 
#GroupInviteAll:descendantfocus
{
	transition-duration: 0.4s !immediate;

	border-color: #cececeff;
	background-color: friendsitemmainlistbkgnd;
	transform: translateX( 0px );

	animation-name: main-button-glow-movement-no-fill;
	//animation-name: links-and-more-button-focus;
	animation-duration: 1.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	transition-property: background-color, transform, border;
	transition-duration: 0.3s !immediate;
	transition-timing-function: ease-in-out;
}

#FriendInviteAll:descendantfocus Label,
#FriendInviteAll:hover Label,
#FriendInviteAll:focus Label,
#GroupInviteAll:descendantfocus Label,
#GroupInviteAll:hover Label,
#GroupInviteAll:focus Label
{
	transform: translateX( 10px );
}

Button
{
    transition-property: background-color, color, opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.23s;
}

Button.ActedOnRequest
{
    opacity: 0.0;
}

#GroupInviteAll
{
    height: 75px;
    flow-children: down;
    margin-top: 5px;
}

#GroupInviteAll Label
{
    vertical-align: center;
    margin-left: 20px;
}

Label
{
    font-weight: bold;
    font-size: 27px;
    height: 35px;
    margin-top: 1px;
    margin-bottom: 0px;
    white-space: nowrap;
    color: detailsdatalabelfocus;

}

.FriendEntry
{
    transition-property: background-color, color, box-shadow;
    transition-timing-function: ease-out;
    transition-duration: 0.23s;
    padding: 5px;
    margin-right: 10px;
    transform: translateX( 0px );
}

.FriendEntry Label
{
	transform: translateX( 0px );
	transition-property: transform;
	transition-duration: 0.23s;
	transition-timing-function: ease-out;
}

.FriendEntry:focus
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffffff ), to( #bdbfbfff ) );
    box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;

    animation-name: main-button-glow-movement-no-fill;
    animation-duration: longduration;
    animation-delay: mediumduration;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    border-color: #ffffffff;
    
    transform: translateX( -7px );
}

.FriendEntry:hover Label
{
    transform: translateX( 7px );
}

.FriendEntry:focus Label
{
    color: #555555FF;
    transform: translateX( 7px );
}

.FriendEntry:focus .FriendsListItemAvatar
{
	transform: translateX( 7px );
	}

FriendsInvitePage .FriendEntry
{
    flow-children: right;
}



#Friends .friendLevel
{
	margin-right: 10px;
}

#Friends .FriendEntry:focus .friendLevel
{
	margin-right: 3px;
}

#SteamLevelRow Label
{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: normal;
    vertical-align: center;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    color: #FFFFFF99;
    transform: translateX( 0px );
}

.FriendEntry:focus #SteamLevelRow Label
{
	color: #161718e5;
	transform: translateX( 0px );
	}

.FriendsListItemStatusDetail
{
	height: 28px;
	font-size: 21px;
	}

#FriendInCommon
{
	height: 28px;
	font-size: 21px;
}

#Indicator
{
    visibility: collapse;
    horizontal-align: right;
    flow-children: right;
    width: 300px;
    height: 50px;
}

#Indicator Label.FriendIndicatorContainedText
{
    color: ui_common_control_border;
    vertical-align: bottom;
    margin-right: 10px;

}


#Indicator Label.FriendIndicatorContainedImageWithText
{
    text-align: center;
    font-size: 18px;
    padding-right: 8px;
    padding-top: 2px;
    margin: 1px;
    width: 40px;
    height: 40px;

    background-color: #A0A0A0ff;
    color: #303030ff;
 }



.CurrentSelection Label.FriendIndicatorContainedText,
.CurrentSelection Label.FriendIndicatorContainedImageWithText
{
    color: #999999ff;
}

#FriendIndicatorContainedImageFriendRequest
{
    opacity-mask: url( "file://{images}/friends/friends_indicator_friendrequest.png" );
}


.CurrentSelection:descendantfocus Label.FriendIndicatorContainedText
{
    color: #303030ff;
}

.CurrentSelection Label.FriendIndicatorContainedText
{
    wash-color: #ffffffff;
    background-color: none;
}


.CurrentSelection:descendantfocus Label.FriendIndicatorContainedImageWithText
{
    background-color: #303030ff;
    color: friendsoffline_solid;
}

.CurrentSelection Label.FriendIndicatorContainedImageWithText
{

    wash-color: #ffffffff;
}

.FriendStatus
{
    visibility: collapse;
}

#FriendPanelLabels
{
    vertical-align: top;
}

.GroupStatus
{
    width: 100%;
    flow-children: right;
}

.GroupStatusItem
{
    width: width-percentage( 33 );
    margin-right: 20px;
}

#PageError
{
    horizontal-align: center;
    vertical-align: center;
    color: applabelsolid;
    margin-top: 100px;
}