/* Test panel styles */

TestPanel
{
	width: 100%;
	height: 100%;
	background-color: black;
}

Label
{
	color: black;
	font-size: 22px;
	font-family: platformfont;
	align: center center;
}

.Container
{
	background-color: blue;
	align: center center;
	flow-children: down;
}

.FirstChild
{
	background-color: red;
	flow-children: right;
	margin: 10px;
	
	transition-property: position;
	transition-duration: 0.5s;
}

.FirstChild:hover
{
	background-color: white;
}

.FirstChild.DropHover
{
	background-color: purple;
}

.GreenBox
{
	background-color: green;
	width: 150px;
	height: 100px;
	margin: 10px;
	padding: 5px;
}

.MeasureTest
{
	width: 100%;
	height: 100%;
}

.DynamicWidth
{
	background-color: purple;
	width: fit-children;
	height: 50px;
	margin: 10px;
	flow-children: right;
	
	transition-property: position;
	transition-duration: 0.5s;
}

.Container .DynamicWidth
{
	width: 100%;
}

.DynamicWidth .GreenBox
{
	width: 80px;
}

.FirstChild .DynamicWidth
{
	width: fit-children;
}