

Label.TextEntryPrompt, .LoginPromptContainer:descendantfocus Label.TextEntryPrompt
{
	horizontal-align: right;
	vertical-align: center;
	color: #888888;
	font-size: 22px;
	font-family: platformfont;
	margin: 0px;
	padding:0px;
	padding-right: 6px;
	margin-top: 2px;
	// Linux/Mac bug: border-radius != 0 results in no border - will fix
	//border-radius: 2px;
	border-radius: 0px;

	transition-property: opacity;
	transition-duration: 0.23s;
	transition-timing-function: ease-in;

}


// If the password control has focus and caplock is not on
TextEntry.CapsLock:focus .Password, .PasswordCapsLock
{
	opacity: 0.0;
}


// If the password control has focus and caplock is on
.Password, TextEntry.CapsLock:focus .PasswordCapsLock
{
	opacity: 1.0;
}

.HasInput .Password, TextEntry.HasInput:focus .PasswordCapsLock
{
	opacity: 0.0;
}