#EnableSteamGuardInputContainer
{
	margin-top: 55px;
	flow-children: down;
	width: fit-children;
}

#EnableSteamGuardCheckbox
{
	width: fit-children;
}

#MachineNameInputContainer
{
	margin-top: 40px;
	flow-children: down;
}

#ButtonDeauthorizeComputers
{
	visibility: collapse;
}

.ShowDeauthorizeMachine #ButtonDeauthorizeComputers
{
	visibility: visible;
}

#MachineNameInputContainer
{
	opacity: 0.0;
}

.ShowMachineName #MachineNameInputContainer
{
	opacity: 1.0;

	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}



