/* styles for the generic popup */

.MessagePanel
{
	horizontal-align: center;
	flow-children: right;
}

#MessageLabel
{
    font-size: 24px;
    color: #FFFFFF;
    horizontal-align: center;
    vertical-align: center;
    max-width: 400px;
    text-align: center;
}

.WideMode #MessageLabel
{
    max-width: 700px;
}

.PopupPanel.EconItemIconEnabled #MessageLabel
{
	text-align: left;
}

#Spinner
{
    horizontal-align: center;
    visibility: collapse;
	margin-top: 10px;
}

#Spinner.SpinnerVisible
{
    visibility: visible;
}

.ImageContainer
{
    flow-children:down;
    vertical-align: center;
    width: fit-children;
    height: fit-children;
}

#EconItemImage
{
    width: 80px;
    margin-right: 15px;
    visibility: collapse;
}

.PopupPanel.EconItemIconEnabled #EconItemImage
{
    visibility: visible;
}

#HeroImage
{
    width: 80px;
    margin-right: 15px;
    visibility: collapse;
}

 .PopupPanel.HeroIconEnabled #HeroImage
{
    visibility: visible;
}

.Confirmation 
{
    margin-top: 9px;
    horizontal-align: center;
    flow-children: down;
    visibility: collapse;
}

.PopupPanel.ConfirmationCodeEnabled .Confirmation
{
    visibility: visible;
}

.Confirmation Label
{
    horizontal-align: center;
}

#ConfirmationText
{
    horizontal-align: center;
	margin-top: 10px;
}

.CriticalText
{
    color: #FF0000;
}

#ProgressBar
{
    horizontal-align: center;
    visibility: collapse;
	margin-top: 10px;
}

#ProgressBar.ProgressBarVisible
{
    visibility: visible;
}

@keyframes 'DelayedFadeOpacityIn'
{
	0%
	{
		opacity: 0.0;
	}

	80%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}


.DelayedButtons #ButtonContainer
{
	animation-name: DelayedFadeOpacityIn;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

.NoTitle #TitleLabel,
.NoMessage #MessageLabel
{
	visibility: collapse;
}


.NoTitle #MessageLabel
{
	margin-top: 12px;
}