/* styles for the popup manager */

PopupManager
{
    width: 100%;
    height: 100%;
}

#DimBackground
{
    width: 100%;
    height: 100%;
    background-color: #060606;
    opacity: 0.94;

    transition-property: opacity;
   	transition-duration: 0.3s;
    transition-timing-function: ease-in;
	transition-delay: 0s;

}

#DimBackground.Hidden
{
    opacity: 0.0;
}

#BlurBackground
{
	width: 100%;
	height: 100%;
	background-color: #00000055;
	opacity: 1.0;
	
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#BlurBackground.Hidden
{
	opacity: 0.0;
}

#BlurBackground:hover
{
	background-color: #00000055;
}

#BlurBackground:active
{
	sound: "ui_settings_out_multi";
}

