#MsgBoxBodyRegion
{
	width: 60%;
}

.MsgBoxDescriptionArea
{
	flow-children: down;
}

#CDKeyData
{
	margin-top: 20px;
	flow-children: down;
	width: 100%;
	padding: 0px;

	max-height: 280px;
	overflow: squish scroll;
}

#CDKeyEntry
{
	width: 100%;
	flow-children: right;
	margin-bottom: 10px;
	height: 80px;
	padding: 0px 10px 0px 10px;
}

#CDKeyLabel
{
 	color: applabelsolid;
	font-size: 28px;
	vertical-align: center;
	width: 600px;
}

#CdKeyContents
{
	width: fit-children;
	margin-right: 8px;
	font-size: 28px;
	text-align: left;
	vertical-align: center;
	horizontal-align: right;
	color: applabelsolid;
}

#ThrobberRow, #Throbber
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

#ThrobberRow
{
	width: 100%;
	height: 85px;
	margin-top: -76px;
}


.Working #ThrobberRow
{
	opacity: 1.0;
	flow-children: right;

	margin-right: 60px;
	horizontal-align: right;
	vertical-align: bottom;
}

#ThrobberRowWrapper
{
	horizontal-align: right;
	flow-children: right;
}

#ThrobberRow Label
{
	margin-left: 8px;
	color: #ddddddff;
	font-size: 40px;
	vertical-align: center;
}

#Throbber
{
	width: 80px;
	height: 80px;
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

.Working #Throbber
{
	opacity: 1.0;
}

#MsgBoxButtonArea
{
	opacity: 1.0;

	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

.Working #MsgBoxButtonArea
{
	opacity: 0.0;
}

#DontShowAgain
{
	visibility: collapse;
	width: fit-children;
}

.LaunchGame #DontShowAgain
{
	visibility: visible;
	margin-top: 30px;
}
ToggleButton.CheckBox Label
{
	width: fit-children;
}


