#MsgBoxButtons
{
	flow-children: down;
	height: fit-children;
	width: 100%;
}

#MsgBoxDescriptionArea
{
	min-height: 0px;
}

#MsgBoxButtons .MsgBoxButton
{
	flow-children: down;
	height: fit-children;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 25px;
}



#MsgBoxButtons .MsgBoxButton Label
{
	horizontal-align: left;
}

#MsgBoxButtons Label#ButtonUploadDetails, #MsgBoxButtons Label#ButtonDownloadDetails, #MsgBoxButtons Label#ButtonCancelDetails
{
	font-size: 24px;
	opacity: 0.7;
	margin-bottom: 10px;
}
