
#ControllerBindings #MsgBoxBodyRegion
{
	horizontal-align: center;
	vertical-align: center;

	margin-top: -83px;
	width: 1686px;
	height: 920px; 
	background-color: gradient( linear, 20% 20%, 80% 70%, from( #1a1a1aff ), color-stop( 0.5, #2a4355ff ), to( #1a1a1aff ) );

	padding: 0px;
	flow-children: none;
}

#ControllerBindings.D0g #MsgBoxBodyRegion
{
	width: 1812px;
}

#ControllerBindings.BehindTextInputHandler #MsgBoxBodyRegion
{
	transform: translateX( 0px );
}

#ControllerBindings#ControllerBindings.BehindAnotherMsgBox
{
	opacity: 1.0;
	saturation: 0.6;
	blur: gaussian( 1.5 );
	transform: translatex( 0px );
}

#ControllerBindings #BindingRegion
{
	padding: 30px 30px;
	position: 0px 0px 0px;
	width: 1686px;
	height: 930px;
	flow-children: down;

	transition-property: pre-transform-scale2d, transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;
}

#ControllerBindings.D0g #BindingRegion
{
	padding: 30px 6px;
	width: 1812px;
}

#ControllerBindings.SelectMode #BindingRegion
{
	pre-transform-scale2d: 0.75;
	transform: translatex( 190px ) translatey( -170px );
	
}

#ControllerBindings.EditSingleBinding TextInputDaisy
{
	pre-transform-scale2d: 0.75;
	transform: translatex( 160px ) translatey( -50px );
}

#ControllerBindings.EditSingleBinding #BindingRegion,
#ControllerBindings.EditPadBinding #BindingRegion
{
	pre-transform-scale2d: 0.65;
	transform: translatex( 0px ) translatey( -240px );
}

#ControllerBindings.EditPadBinding.EditPadBindingValue #BindingRegion
{
	pre-transform-scale2d: 0.65;
	transform: translatex( 0px ) translatey( -580px );
}


#ControllerBindings.EditSingleBinding .MsgBoxHeader,
#ControllerBindings.EditPadBinding .MsgBoxHeader
{
	opacity: 0.0;
}

#ControllerBindings .MsgBoxHeader Label
{
	horizontal-align: center;
}

#ControllerBindings #MsgBoxHeader
{
	height: 90px;
	margin-bottom: -25px;
}

#ControllerBindings .MsgBoxSubTitle
{
	margin-top: 0px;
	font-size: 22px;

	margin-top: -4px;
}

#ControllerBindings.NativeAPIMode .MsgBoxSubTitle,
#ControllerBindings.GamepadHostMode .MsgBoxSubTitle
{
	opacity: 0.0;
}

#ControllerBindings.GamepadHostMode.EditMode .MsgBoxSubTitle
{
	opacity: 1.0;
}

#ControllerBindings #BindingNativeNotice,
#ControllerBindings #BindingGamepadModeNotice
{
	color: detailsdatalabel;
	horizontal-align: center;
	text-align: center;
	width: 60%;
	opacity: 0.0;
	font-size: 32px;
	margin-top: 620px;
}

#ControllerBindings.NativeAPIMode #BindingNativeNotice,
#ControllerBindings.GamepadHostMode #BindingGamepadModeNotice
{
	opacity: 1.0;
}

#ControllerBindings.EditMode.GamepadHostMode #BindingGamepadModeNotice
{
	opacity: 0.0;
}

#ControllerBindings #LeftColumn
{
	padding: 26px 22px;
	opacity: 1.0;
	position: 0px 0px 0px;
	width: 372px;
	height: 100%;
	z-index: 100;
	transform: translatex( -372px );

	overflow: squish scroll;
	background-color: #202121ff;

	border-right-style: solid;
	border-right-color: #2c3c49ff;
	border-right-width: 1.2px;

	flow-children: down;

	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;
}

#ControllerBindings.SelectMode #LeftColumn
{
	opacity: 1.0;
	transform: translatex( 0px );
}

#ControllerBindings #DescriptionRow, #ControllerBindings #CornerCover
{
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;

	opacity: 1.0;
	width: 100%;
	margin-left: 372px;
	height: 290px;
	vertical-align: bottom;

	flow-children: down;

	transform: translatey( 290px );

	border-top-style: solid;
	border-top-color: #2a3d4cff;
	border-top-width: 1.2px;

	background-color: #202428ff;
}

#ControllerBindings #CornerCover
{
	width: 372px;
	margin-left: 0px;
}

#ControllerBindings.SelectMode #DescriptionRow, #ControllerBindings.SelectMode #CornerCover
{
	transform: translatey( 0px );
	opacity: 1.0;
}

#ControllerBindings #EditPadHeader,
#ControllerBindings #EditPadBody
{
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;
}

#ControllerBindings #BindingSelection,
#ControllerBindings #EditPadBindings
{
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;

	opacity: 1.0;
	width: 100%;
	margin-left: 0px;
	height: 632px;
	vertical-align: bottom;

	flow-children: down;

	transform: translatey( 632px );

	border-top-style: solid;
	border-top-color: #2a3d4cff;
	border-top-width: 1.2px;

	background-color: #202428ff;
}

#ControllerBindings #EditPadBindings
{
	flow-children: none;
	height: 1000px;
	transform: translatey( 1000px );
}

#ControllerBindings #EditPadBindingsBody
{
	margin-top: 60px;
}

#ControllerBindings #EditPadBindings #KeyboardAndMouse
{
	transform: translatey( 520px );
	margin-top: 116px;
}

#ControllerBindings.D0g #EditPadBindings #KeyboardAndMouse
{
	margin-top: 40px;
}


#ControllerBindings.EditSingleBinding #BindingSelection
{
	transform: translatey( 0px );
	opacity: 1.0;
}

#ControllerBindings.EditPadBinding #EditPadBindings
{
	transform: translatey( 380px );
	opacity: 1.0;
}

#ControllerBindings.EditPadBinding.EditPadBindingValue #EditPadBindings #KeyboardAndMouse
{
	transform: translatey( 370px );
}

#ControllerBindings.EditPadBinding.EditPadBindingValue #EditPadBindings
{
	transform: translatey( 0px );
	opacity: 1.0;
}

#ControllerBindings.EditPadBinding.EditPadBindingValue #EditPadHeader
{
	transform: translatey( -100px );
	opacity: 0.0;
}

#ControllerBindings.EditPadBinding.EditPadBindingValue #EditPadBindingsBody
{
	transform: translatey( -40px );
}


#ControllerBindings #KeyboardAndMouse
{
	padding: 20px 25px;
	margin-bottom: 0px;
	height: 520px; 
	flow-children: down;
	opacity-mask: url( "file://{images}/library/keyboardfade.png" ) 0.0;

	transition-property: opacity, opacity-mask;
	transition-duration: mediumduration;
	transition-timing-function: bigpicture-ease-in-out;
}

#ControllerBindings.BehindTextInputHandler #KeyboardAndMouse
{
	opacity-mask: url( "file://{images}/library/keyboardfade.png" ) 0.9;
	opacity: 0.35;
}

#ControllerBindings #KeyboardAndMouse #VirtualMouse
{
	flow-children: down;
	height: 100%;
	background-image: url( "file://{images}/library/mouse.png" );
	background-position: left 20px top 2px;
	background-repeat: no-repeat;
}

#ControllerBindings #KeyboardAndMouse #VirtualMouse 
{
	flow-children: none;
}


#ControllerBindings #KeyboardAndMouse Button
{
	border-style: solid;
	border-width: 2px;
	border-color: #487395ff;

	width: 58px;
	height: 58px;

	padding: 0px;
	margin: 1px;

	transition-property: background-color;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
}

#ControllerBindings #KeyboardAndMouse Button:hover
{
	transition-duration: 0.23s !immediate;
	box-shadow: #eeeeee60 -3px -3px 6px 6px;
}

#ControllerBindings.BehindTextInputHandler #KeyboardAndMouse Button:hover
{
	box-shadow: none;
}


#ControllerBindings #KeyboardAndMouse Button Label, #ControllerBindings #KeyboardAndMouse Label
{
	margin: 0px;
	padding: 0px;
	font-size: 25px;
	font-weight: thin;
	color: #fefefeff;
	vertical-align: center;
	horizontal-align: center;
	transform: translatex( 0px );

	transition-property: color;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
}

#ControllerBindings #KeyboardAndMouse Button:focus,
#ControllerBindings #KeyboardAndMouse Button.OriginalBinding:focus
{
	animation-name: main-button-glow-movement-small;
	animation-duration: longduration;
	animation-delay: shortduration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) ); 

	border-color: #fefefeff;
	border-width: 2px;
}

#ControllerBindings #KeyboardAndMouse Button:focus Label
{
	color: #353535ff;
}

#ControllerBindings #KeyboardAndMouse Button.OriginalBinding
{
	background-color: #6893b570;
	box-shadow: #6893b570 -1.5px -1.5px 4px 3px;
}

#ControllerBindings #KeyboardAndMouse #VKBRow1,
#ControllerBindings #KeyboardAndMouse #VKBRow2,
#ControllerBindings #KeyboardAndMouse #VKBRow3,
#ControllerBindings #KeyboardAndMouse #VKBRow4,
#ControllerBindings #KeyboardAndMouse #VKBRow5,
#ControllerBindings #KeyboardAndMouse #VKBRow6
{
	flow-children: right;
	margin-bottom: 1px;
}

#ControllerBindings #KeyboardAndMouse #VKBRow1
{
	margin-bottom: 8px;
}

#ControllerBindings #KeyboardAndMouse #VKBCol1,
#ControllerBindings #KeyboardAndMouse #VKBCol2,
#ControllerBindings #KeyboardAndMouse #VKBCol3
{
	flow-children: right;
}

#ControllerBindings #KeyboardAndMouse #VKBCol1
{
	margin-right: 15px;
}

#ControllerBindings #KeyboardAndMouse #VKBCol2
{
	margin-right: 15px;
}

#ControllerBindings #KeyboardAndMouse #VKBCol3
{
}

#ControllerBindings #KeyboardAndMouse #kb_key_backspace
{
	width: 118px;
}

#ControllerBindings #KeyboardAndMouse #kb_key_tab,
#ControllerBindings #KeyboardAndMouse #kb_key_backslash
{
	width: 88px;
}

#ControllerBindings #KeyboardAndMouse #kb_key_capslock,
#ControllerBindings #KeyboardAndMouse #kb_key_enter
{
	width: 118px;
}

#ControllerBindings #KeyboardAndMouse #kb_key_lshift,
#ControllerBindings #KeyboardAndMouse #kb_key_rshift
{
	width: 148px;
}

#ControllerBindings #KeyboardAndMouse #kb_key_lcontrol,
#ControllerBindings #KeyboardAndMouse #kb_key_rcontrol,
#ControllerBindings #KeyboardAndMouse #kb_key_lalt,
#ControllerBindings #KeyboardAndMouse #kb_key_ralt
{
	width: 133px;
}


#ControllerBindings #KeyboardAndMouse #kb_key_space
{
	width: 358px;
}

#ControllerBindings #KeyboardAndMouse #kb_key_pad_0
{
	width: 118px;
}

#ControllerBindings #KeyboardAndMouse Button#kb_key_right Label
{
	transform-origin: 0% 0% parent-relative;
	transform: rotatez( 90deg ) translatex( 100% );
}

#ControllerBindings #KeyboardAndMouse Button#kb_key_down Label
{
	transform-origin: 0% 0% parent-relative;
	transform: rotatez( 180deg ) translatex( 100% ) translatey( 100% );
}

#ControllerBindings #KeyboardAndMouse Button#kb_key_left Label
{
	transform-origin: 0% 0% parent-relative;
	transform: rotatez( -90deg ) translatey( 100% ); 
}

#VirtualKeyboard Button.Empty
{
	opacity: 0.0;
}

#ControllerBindings #VirtualKeyboard
{
	height: 100%;
	width: fill-parent-flow( 1.0 );
	flow-children: down;
}

#ControllerBindings #VirtualMouse
{
	height: 100%;
	width: 240px;
	
}

#ControllerBindings #KeyboardAndMouse #mouse_left_button
{
	width: 44px;
	height: 44px;
	position: 48px 94px 0px;
}

#ControllerBindings #KeyboardAndMouse #mouse_right_button
{
	width: 44px;
	height: 44px;
	position: 141px 94px 0px;
}

#ControllerBindings #KeyboardAndMouse #mouse_middle_button
{
	width: 31px;
	height: 46px;
	position: 100px 94px 0px;
}

#ControllerBindings #KeyboardAndMouse #mouse_scroll_up
{
	width: 31px;
	height: 45px;
	position: 100px 50px 0px;
	margin-left: 1px;
}

#ControllerBindings #KeyboardAndMouse #mouse_scroll_down
{
	width: 31px;
	height: 32px;
	position: 100px 139px 0px;
}
#ControllerBindings #KeyboardAndMouse #mouse_scroll_down Label
{
	margin-left: 2px;
	transform-origin: 0% 0% parent-relative;
	transform: rotatez( 180deg ) translatex( 100% ) translatey( 100% );
}
#ControllerBindings #KeyboardAndMouse #mouse_back_button
{
	width: 33px;
	height: 44px;
	position: 37px 191px 0px;
}

#ControllerBindings #KeyboardAndMouse #mouse_forward_button
{
	width: 33px;
	height: 44px;
	position: 160px 191px 0px;
}

#ControllerBindings .SelectBindingHeader,
#ControllerBindings .EditPadHeader
{
	horizontal-align: center;
	margin: 8px;

	color: #7fcfffff;
	font-weight: thin;
	font-size: 32px;
}

#ControllerBindings #BindingDescriptionTextEntry
{
	width: 400px;
	font-size: 36px;
	font-weight: thin;
	height: 58px;
	border-color: #4a5d6cff;
	box-shadow: none;
	border-width: 3px;
	color: #fefefeff;
	
	horizontal-align: center;
	background-color: none;
	animation-name: none;
}

#ControllerBindings #RightColumn
{
	width: 100%;
	height: 100%;
	position: 0px 0px 0px;
}

#ControllerBindings .BindingHeader
{
	color: #7fcfffff;
	font-weight: thin;
	font-size: 26px;
}

#RecentBindingButtons, #CommunityBindingButtons
{
	flow-children: down;
}

#CommunityBindings
{
	margin-top: 26px;
}

#ControllerBindings Button
{
	border-width: 5px;
	border-style: solid;

	flow-children: down;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: -12px;
	margin-right: -12px;
	padding-left: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#ControllerBindings Button Label
{
	transition-property: transform, color;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
	
	transform: translatex( -4px );
	transform: translatey( 20px);
}

#ControllerBindings Button #Description
{
	font-size: 30px;
	font-weight: thin;
	color: #fefefeff;
	white-space: nowrap;
}

#ControllerBindings Button.BindingButton:focus
{
	transition-property: background-color, border;
	transition-duration: shortduration;
	transition-timing-function: ease-in;

	animation-name: main-button-glow-movement;
	animation-duration: longduration;
	animation-delay: shortduration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#ControllerBindings Button.BindingButton
{
	flow-children: down;
	margin: -6px;
	padding: 1px;
	padding-left: 4px;
	width: 360px;
	height: 88px;

	transition-property: transform, color, opacity;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
	
}

#ControllerBindings Button.BindingButtonRight
{
	padding-right: -2px;
}

#ControllerBindings Button.BindingButtonRight Label
{
	text-align: right;
	margin-right: 10px;
}


#PlaceholderDescription
{
	margin-top: 8px;
	font-size: 25px;
	font-weight: thin;
	color: gradient( linear, 0% 0%, 0% 60%, from( #f1f1f1ff ), to( #a1a1a1dd ) );
}

#ControllerBindings Button #Author
{
	font-size: 25px;
	font-weight: thin;
	color: gradient( linear, 0% 0%, 0% 60%, from( #f1f1f1ff ), to( #a1a1a1dd ) );
	white-space: nowrap;
}

#ControllerBindings #BindingLabels:descendantfocus Button:hover
{
	transition-duration: 0.23s !immediate;
	box-shadow: #eeeeee60 -3px -3px 6px 6px;
}

#ControllerBindings Button:focus,
{
	transition-duration: shortduration !immediate;
	transition-property: background-color, border;
	transition-duration: shortduration;
	transition-timing-function: ease-in;


	color: #161718f5;
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) ); 
	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	
	animation-name: links-and-more-button-focus; 
	animation-duration: longduration;
	animation-delay: shortduration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#ControllerBindings Button:focus #Description,
#ControllerBindings Button:focus #Author
{
	transform: translatex( 3px );
	color: #353535ff;
}


#ControllerBindings #MsgBoxButtonArea
{
	background-image: url( "file://{images}/library/alpha_controller.png" ); 
	background-position: center center;
	background-repeat: no-repeat;
}

#ControllerBindings.D0g #MsgBoxButtonArea
{
	background-position: 0px -33px;
	background-image: url( "file://{images}/library/alpha_controller_d0g.png" ); 
}

#ControllerBindings .MsgBoxHeader,
{
	horizontal-align: center;
	flow-children: down;
	
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;
}

#ControllerBindings.SelectMode .MsgBoxHeader
{
	opacity: 0.0;
}

#BindingCallouts 
{
	opacity: 0.0;
	transition-duration: shortduration !immediate;
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: ease-in;	
	position: 114px 20px 0px;
	width: 100%;
	height: 100%;
}

.EditPadBinding #BindingCallouts,
.EditPadBindingValue #BindingCallouts,
.EditSingleBinding #BindingCallouts
{
	opacity: 1.0;
}

#BindingCallouts.left_bumper 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_left_bumper.png" );
}

.D0g #BindingCallouts.left_bumper 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_left_bumper_d0g.png" );
}


#BindingCallouts.left_trigger 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_left_trigger.png" );
}

.D0g #BindingCallouts.left_trigger 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_left_trigger_d0g.png" );
}


#BindingCallouts.backside_left 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_backside_left.png" );
}

.D0g #BindingCallouts.backside_left 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_backside_left_d0g.png" );
}

#BindingCallouts.right_bumper 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_right_bumper.png" );
}

.D0g #BindingCallouts.right_bumper 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_right_bumper_d0g.png" );
}

#BindingCallouts.right_trigger 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_right_trigger.png" );
}

.D0g #BindingCallouts.right_trigger 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_right_trigger_d0g.png" );
}

#BindingCallouts.backside_right 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_backside_right.png" );
}

.D0g #BindingCallouts.backside_right 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_backside_right_d0g.png" );
}

#BindingCallouts.button_0 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_button_0.png" );
}

.D0g #BindingCallouts.button_0 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_button_0_d0g.png" );
}

#BindingCallouts.button_1 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_button_1.png" );
}

.D0g #BindingCallouts.button_1 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_button_1_d0g.png" );
}

#BindingCallouts.button_2 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_button_2.png" );
}

.D0g #BindingCallouts.button_2 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_button_2_d0g.png" );
}

#BindingCallouts.button_3 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_button_3.png" );
}

.D0g #BindingCallouts.button_3 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_button_3_d0g.png" );
}

.D0g #BindingCallouts.s1 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_stick_d0g.png" );
}

.D0g #BindingCallouts.select_button 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_select_d0g.png" );
}

.D0g #BindingCallouts.start_button 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_start_d0g.png" );
}

.D0g #BindingCallouts.steam_button 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_steam_d0g.png" );
}


#BindingCallouts.touch_button_0 
{
	background-image: url( "file://{images}/library/alpha_controller.png" );
}

.D0g #BindingCallouts.touch_button_0 
{
	background-image: url( "file://{images}/library/alpha_controller_d0g.png" );
}

#BindingCallouts.touch_button_1 
{
	background-image: url( "file://{images}/library/alpha_controller.png" );
}

.D0g #BindingCallouts.touch_button_1 
{
	background-image: url( "file://{images}/library/alpha_controller_d0g.png" );
}

#BindingCallouts.touch_button_2 
{
	background-image: url( "file://{images}/library/alpha_controller.png" );
}

.D0g #BindingCallouts.touch_button_2 
{
	background-image: url( "file://{images}/library/alpha_controller_d0g.png" );
}

#BindingCallouts.touch_button_3 
{
	background-image: url( "file://{images}/library/alpha_controller.png" );
}

.D0g #BindingCallouts.touch_button_3 
{
	background-image: url( "file://{images}/library/alpha_controller_d0g.png" );
}

#BindingCallouts.p1 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_p1.png" );
}

.D0g #BindingCallouts.p1 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_p1_d0g.png" );
}

#BindingCallouts.p2 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_p2.png" );
}

.D0g #BindingCallouts.p2 
{
	background-image: url( "file://{images}/library/alpha_controller_callout_p2_d0g.png" );
}

#DescriptionHeader
{
	margin: 16px;
}

#DescriptionBodyCopy
{
	margin: 16px;
	margin-top: 0px;
	font-size: 25px;
	font-weight: thin;
	color: gradient( linear, 0% 0%, 0% 60%, from( #f1f1f1ff ), to( #a1a1a1dd ) );
}

#ControllerBindings #RepeatRegion
{
	horizontal-align: center;
	width: 994px;
	height: 100%;
}

#BindingLabels
{
	width: 100%;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 10px;

	background-image: url( "file://{images}/library/alpha_controller_lines.png" ); 
	background-position: center center;
	background-repeat: no-repeat;

	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
}

#ControllerBindings.D0g #BindingLabels
{
	background-position: 0px -33px;
	background-image: url( "file://{images}/library/alpha_controller_lines_d0g.png" );
} 


#ControllerBindings.NativeAPIMode #BindingLabels,
#ControllerBindings.GamepadHostMode #BindingLabels
{
	opacity: 0.0;
}

#ControllerBindings.GamepadHostMode.EditMode #BindingLabels
{
	opacity: 1.0;
}

#ControllerBindings.GamepadHostMode.EditMode.EditPadBinding #BindingLabels,

#ControllerBindings.GamepadHostMode.EditMode.EditSingleBinding #BindingLabels
{
	opacity: 0.0;
}



.EditSingleBinding #BindingLabels,
.EditPadBinding #BindingLabels
{
	opacity: 0.0;
}

.ActionLabel
{
	width: 350px;
	font-size: 34px;
	font-weight: thin;
	text-transform: uppercase;
	color: #fefefeff;
	white-space: nowrap;

	transition-property: transform, color;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
}

Button:focus .ActionLabel
{
	color: #353535ff;
}

Button.BindingButton:focus .ActionLabel,
Button.BindingButton:focus .ActionMapping
{
	transform: translatex( 3px );
}

Button.BindingButton:focus .PActionMappingWrapper
{
	transform: translatex( 7px );
}

Button.BindingButtonRight:focus .ActionLabel,
Button.BindingButtonRight:focus .ActionMapping,
Button.BindingButtonRight:focus .PActionMappingWrapper
{
	transform: translatex( -7px );
}

.ActionMapping
{
	width: 350px;
	font-size: 29px;
	font-weight: thin;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 60%, from( #f1f1f1ff ), to( #a1a1a1dd ) );
	white-space: nowrap;
	transition-property: transform, color;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
	visibility: collapse;
}

Button:focus .ActionMapping
{
	color: gradient( linear, 0% 0%, 0% 60%, from( #555555ff ), to( #353535dd ) );
}


.PActionMappingWrapper
{
	max-width: 350px;
	flow-children: right;
	transition-property: transform, color;
	transition-duration: shortduration;
	transition-timing-function: ease-in;

}

.PActionMappingWrapper Image
{
	transition-property: wash-color;
	transition-duration: shortduration;
	transition-timing-function: ease-in;

	wash-color: #ffffff00;
}

Button:focus .PActionMappingWrapper Image
{
	wash-color: #252525c0;
}


#P1ActionMappingWrapper Label
{
	margin-right: 5px;
	min-width: 20px;
	width: fit-children;
	transform: translatex( -4px );
}

#P1ActionMappingWrapper Image
{
	margin-right: 3px;
	margin-top: 5px;
	visibility: collapse;
}

#P2ActionMappingWrapper Label
{
	margin-left: 3px;
	min-width: 20px;
	width: fit-children;
	transform: translatex( 0px );
}

#P2ActionMappingWrapper Image
{
	margin-left: 5px;
	margin-top: 5px;
	visibility: collapse;
}


.PActionMappingWrapper .OuterImage, .PActionMappingWrapper .OuterLabel,
.PActionMappingWrapper .DoubleImage, .PActionMappingWrapper .DoubleLabel,
.PActionMappingWrapper .ClickImage, .PActionMappingWrapper .ClickLabel
{
	visibility: collapse;
}

.PActionMappingWrapper.OuterVisible .OuterImage,
.PActionMappingWrapper.OuterVisible .OuterLabel,
{
	visibility: visible;
}

.PActionMappingWrapper.DoubleVisible .DoubleImage,
.PActionMappingWrapper.DoubleVisible .DoubleLabel,
{
	visibility: visible;
}

.PActionMappingWrapper.ClickVisible .ClickImage,
.PActionMappingWrapper.ClickVisible .ClickLabel,
{
	visibility: visible;
}


#L2Button
{
	position: 20px 0px 0px;
}

.D0g #L2Button
{
	position: 114px 95px 0px;
}

#L1Button
{
	position: 20px 95px 0px;
}

.D0g #L1Button
{
	position: 114px 0px 0px;
}

#P1Button
{
	position: 20px 190px 0px;
}

.D0g #P1Button
{
	position: 114px 288px 0px;
}

#Btn0Button
{
	position: 20px 288px 0px;
}

.D0g #Btn0Button
{
	position: 1344px 383px 0px;
}

#Btn2Button
{
	position: 20px 382px 0px;
}

.D0g #Btn2Button
{
	position: 1344px 575px 0px;
}

#L3Button
{
	position: 20px 480px 0px;
}

.D0g #L3Button
{
	position: 114px 190px 0px;
}

#B1ActionName
{
	position: 20px 600px 0px;
}

#B1ActionMapping
{
	position: 20px 650px 0px;
}

#R2Button
{
	position: 1252px 0px 0px;
}

.D0g #R2Button
{
	position: 1344px 95px 0px;
}

#R1Button
{
	position: 1252px 95px 0px;
}

.D0g #R1Button
{
	position: 1344px 0px 0px;
}

#P2Button
{
	position: 1252px 190px 0px;
}

.D0g #P2Button
{
	position: 1344px 288px 0px;
}

#P2ActionMappingWrapper
{
	horizontal-align: right;
}

#Btn1Button
{
	position: 1252px 288px 0px;
}

.D0g #Btn1Button
{
	position: 1344px 479px 0px;
}

#Btn3Button
{
	position: 1252px 382px 0px;
}

.D0g #Btn3Button
{
	position: 1344px 673px 0px;

}

#R3Button
{
	position: 1252px 480px 0px;
}

.D0g #R3Button
{
	position: 1344px 190px 0px;
}

#B2ActionName
{
	text-align: right;
	position: 1252px 600px 0px;
}

#B2ActionMapping
{
	text-align: right;
	position: 1252px 650px 0px;
}

.ActionLabel.ClickLabel
{
	width: 160px;
	font-size: 32px;
	color: #fefefeff;
	white-space: nowrap;
}

.ActionMapping.ClickMapping
{
	width: 160px;
	font-size: 27px;
	color: gradient( linear, 0% 0%, 0% 60%, from( #f1f1f1ff ), to( #a1a1a1dd ) );
	white-space: nowrap;
}

#LeftClickActionName
{
	text-align: center;
	position: 45px 65px 0px;
}

#LeftClickActionMapping
{
	text-align: center;
	position: 45px 104px 0px;
}

#RightClickActionName
{
	text-align: center;
	position: 1272px 64px 0px;
}

#RightClickActionMapping
{
	text-align: center;
	position: 1272px 104px 0px;
}

#ControllerBindings .TouchButtonOuter.BindingButton
{
	width: 440px;
	flow-children: none;
}


.D0g #S1Button
{
	position: 114px 388px 0px;
}

.D0g #S1ActionName
{
	position: 0px -6px 0px;
	text-align: left;
}

.D0g #S1ActionMapping
{
	position: 0px 0px 0px;
	text-align: left;
}



.D0g #StartButtonOuter
{
	position: 114px 578px 0px;
}



.D0g #StartActionName
{
	position: 0px -4px 0px;
	text-align: left;
}



.D0g #StartActionMapping
{
	position: 0px 0px 0px;
	text-align: left;
}



.D0g #SelectButtonOuter
{
	position: 114px 480px 0px;
}



.D0g #SelectActionName
{
	position: 0px -2px 0px;
	text-align: left;
}



.D0g #SelectActionMapping
{
	position: 0px 0px 0px;
	text-align: left;
}



.D0g #SteamButtonOuter
{
	position: 114px 673px 0px;
}



.D0g #SteamActionName
{
	position: 0px 0px 0px;
	text-align: left;
}



.D0g #SteamActionMapping
{
	position: 0px 0px 0px;
	text-align: left;
}

/* Currently deprecated Touch-screen and DPad buttons follow: */

#Touch0ButtonOuter
{
	position: 370px 582px 0px;

}

.D0g #Touch0ButtonOuter
{
	position: 114px 388px 0px;
	visibility: collapse;
}

#Touch0ActionName
{
	position: 14px 0px 0px;
	width: 335px;
	text-align: right;
}

.D0g #Touch0ActionName
{
	position: 0px -6px 0px;
	text-align: left;
}

#Touch0ActionMapping
{
	position: 14px 40px 0px;
	width: 335px;
	text-align: right;
}

.D0g #Touch0ActionMapping
{
	position: 0px 0px 0px;
	text-align: left;
}

#Touch1ButtonOuter
{
	position: 818px 582px 0px;
}

.D0g #Touch1ButtonOuter
{
	position: 114px 578px 0px;
	visibility: collapse;
}

#Touch1ActionName
{
	position: 74px 0px 0px;
	text-align: left;
	width: 335px;
}

.D0g #Touch1ActionName
{
	position: 0px -4px 0px;
	text-align: left;
}

#Touch1ActionMapping
{
	position: 74px 40px 0px;
	text-align: left;
	width: 335px;
}

.D0g #Touch1ActionMapping
{
	position: 0px 0px 0px;
	text-align: left;
}

#Touch2ButtonOuter
{
	position: 370px 672px 0px;
}

.D0g #Touch2ButtonOuter
{
	position: 114px 480px 0px;
	visibility: collapse;
}

#Touch2ActionName
{
	position: 14px 0px 0px;
	width: 335px;
	text-align: right;
}

.D0g #Touch2ActionName
{
	position: 0px -2px 0px;
	text-align: left;
}

#Touch2ActionMapping
{
	position: 14px 40px 0px;
	width: 335px;
	text-align: right;
}

.D0g #Touch2ActionMapping
{
	position: 0px 0px 0px;
	text-align: left;
}

#Touch3ButtonOuter
{
	position: 818px 672px 0px;
}

.D0g #Touch3ButtonOuter
{
	position: 114px 673px 0px;
	visibility: collapse;
}

#Touch3ActionName
{
	position: 74px 0px 0px;
	text-align: left;
	width: 335px;
}

.D0g #Touch3ActionName
{
	position: 0px 0px 0px;
	text-align: left;
}

#Touch3ActionMapping
{
	position: 74px 40px 0px;
	text-align: left;
	width: 335px;
}

.D0g #Touch3ActionMapping
{
	position: 0px 0px 0px;
	text-align: left;
}

.TouchButton
{
	width: 64px;
	height: 64px;
	background-color: #2d3d47ff;

	border-color: #8797a1ff;
	border-style: solid;
	border-radius: 4px;
	border-width: 3px;

	box-shadow: inset #00000080 0px 0px 3px 0px;

	transition-property: transform;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
}

.TouchImage
{
	font-size: 24px;
	color: #adbdc7ff;
	vertical-align: center;
	horizontal-align: center;
}

#Touch0Button,
#Touch2Button,
{
	position: 360px 4px 0px;
}

#Touch1Button,
#Touch3Button
{
	position: 0px 4px 0px;
}

#ControllerBindings .TouchButtonOuter Label
{
	transform: translatex( 0px );
}

#ControllerBindings .TouchButtonOuter:focus .ActionMapping,
#ControllerBindings .TouchButtonOuter:focus .ActionLabel,
{
	transform: translatex( 7px );
}

#ControllerBindings .TouchButtonOuter .BindingButtonRight:focus .ActionMapping,
#ControllerBindings .TouchButtonOuter.BindingButtonRight:focus .ActionLabel,
{
	transform: translatex( -7px );
}

.BindingButton:focus .TouchButton
{
	transform: translatex( 7px );
}

.BindingButtonRight:focus .TouchButton
{
	transform: translatex( -7px );
}


/* End of deprecated Touch-screen & DPad buttons */


.SaveBindingsMsgBox #MsgBoxDescriptionArea
{
	flow-children: down;
}

.SaveBindingsMsgBox .MsgBoxBodyRegion
{
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: bigpicture-ease-in-out;
}

.SaveBindingsMsgBox.BehindTextInputHandler .MsgBoxBodyRegion,
.SaveBindingsMsgBox.BehindTextInputHandler #MsgBoxBodyRegion
{
	transform: translatex( 470px );
}

#SetTitleRegion, #AddDescriptionRegion
{
	width: 100%;
	margin-top: 30px;

	color: #f0f0f0ff;
}

#AddDescriptionRegion
{
	margin-top: 10px;
}

#SetTitleHint,
#AddDescriptionHint 
{
	color: #f0f0f0ff;
}

#SetTitleRegion:descendantfocus #SetTitleHint, 
#AddDescriptionRegion:descendantfocus #AddDescriptionHint 
{
	color: #222222ff;
}

#SetTitleHint,
#AddDescriptionHint
{
	margin-left: 11px;
	margin-top: 9px;
	z-index: 1000;

	transition-property: opacity, color;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;

	opacity: 0.7;
}

.HideCommentHint #SetTitleHint,
.HideCommentHint #AddDescriptionHint
{
	opacity: 0.0;
}

.SaveBindingsMsgBox TextEntry
{
	width: 100%;
	white-space: normal;
	height: 60px;
}

#AddDescriptionEntry
{
	height: 200px;
	white-space: normal;
	overflow: squish scroll;
}

#VisibilityDropDown
{
	margin-top: 12px;
	width: 324px;
	visibility: collapse;
}

.OfficialTitleDropDown
{
	margin-top: 12px;
	width: 600px;
	visibility: collapse;
}

.OfficialConfigurationVisible #OfficialConfigurationTitleDropDown, .OfficialConfigurationVisible #OfficialConfigurationDescDropDown
{
	visibility: visible;
}

.OfficialConfigurationVisible #BindingTitleEntry, .OfficialConfigurationVisible #SetTitleHint, .OfficialConfigurationVisible #AddDescriptionHint, .OfficialConfigurationVisible #AddDescriptionEntry
{
	visibility: collapse;
}

.UploadScreenshotMsgBox #MsgBoxButtons
{
	margin-top: 20px;
}

.UploadScreenshotMsgBox #MsgBoxBodyRegion
{
	width: 860px;

	transition-property: transform, opacity;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

.UploadScreenshotMsgBox.BehindTextInputHandler #MsgBoxBodyRegion
{
	transform: translatex( 480px );
}

#VisibilityDropDownDropDownMenu, #OfficialConfigurationTitleDropDownDropDownMenu, #OfficialConfigurationDescDropDownDropDownMenu
{
	z-index: msgbox_contextmenu_zindex;
}

#OKButtonText
{
	visibility: visible;
}

#OKButtonTextPublish
{
	visibility: collapse;
}

.Private #OKButtonText
{
	visibility: visible;
}

.Public #OKButtonText
{
	visibility: collapse;
}

.Public #OKButtonTextPublish
{
	visibility: visible;
}

.Private #OKButtonTextPublish
{
	visibility: collapse;
}

#ThrobberRow, #Throbber
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

#ThrobberRow
{
	width: 100%;
	height: 85px;
	margin-top: -76px;
}

.UploadInProgress #MsgBoxButtons
{
	opacity: 0.0;
}

.UploadInProgress #ThrobberRow
{
	opacity: 1.0;
	flow-children: right;

	margin-right: 60px;
	horizontal-align: right;
	vertical-align: bottom;

}

#ThrobberRowWrapper
{
	horizontal-align: right;
	flow-children: right;
}

#ThrobberRow Label
{
	margin-left: 8px;
	color: #ddddddff;
	font-size: 40px;
	vertical-align: center;
}

#Throbber
{
	width: 80px;
	height: 80px;
}

.UploadInProgress #Throbber
{
	opacity: 1.0;
}

#MsgBoxButtonArea
{
	opacity: 1.0;
	flow-children: none;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
}

.SaveBindingsMsgBox #MsgBoxButtonArea
{
	flow-children: down;
}

#EditPadBindingsBody
{
	width: 100%;
	height: 532px;
	margin-left: 80px;
	margin-right: 80px;
}

#EditPadBindingsBody #PadLeftCollumn,
#EditPadBindingsBody #PadCenterCollumn,
#EditPadBindingsBody #PadRightCollumn
{
	horizontal-align: center;

	flow-children: down;
	margin-top: 24px;

	margin-bottom: 50px;
}

#EditPadBindingsBody #PadLeftCollumn
{
	horizontal-align: left;
	margin-right: 40px;

	width: 452px;
}

#EditPadBindingsBody #PadRightCollumn
{
	horizontal-align: right;
	margin-left: 40px;

	width: 452px;
}

#EditPadBindingsBody #PadCenterCollumn
{
	margin-bottom: 40px;
}


#EditPadBindingsBody .PadSettingDropDown
{
	margin-top: 20px;
	flow-children: down;
}
 
#EditPadBindingsBody .PadSettingDropDown .PadSettingLabel 
{
	horizontal-align: left;
	margin-bottom: 1px;

	color: #7fcfffff;
	font-weight: thin;
	font-size: 26px;
}

#EditPadBindingsBody .PadSettingDropDown DropDown
{
	margin-top: 0px;
}

#PadOuterCircle, 
#PadInnerCircle,
#PadDeadZoneCircle10,
#PadDeadZoneCircle20,
#PadDeadZoneCircle30
{
	horizontal-align: center;
	vertical-align: center;
	width: 400px;
	height: 400px;
	border-color: #5e95bfff;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;

	transition-property: transform, background-color, blur, saturation, opacity; 
	transition-duration: 0.25s;
	transition-timing-function: linear;

}

.mousemove #PadOuterCircle
{
	background-color: 
		gradient( linear, 100% 0%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bf00 ), color-stop( 0.5, #5e95bf00 ), color-stop( 0.501, #5e95bf00 ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 0% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bf00 ), color-stop( 0.5, #5e95bf00 ), color-stop( 0.501, #5e95bf00 ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bf00 ), color-stop( 0.5, #5e95bf00 ), color-stop( 0.501, #5e95bf00 ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 100%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bf00 ), color-stop( 0.5, #5e95bf00 ), color-stop( 0.501, #5e95bf00 ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) );
}

.fourway #PadOuterCircle
{
	background-color: 
		gradient( linear, 100% 0%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bfff ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 0% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bfff ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bf00 ), color-stop( 0.5, #5e95bf00 ), color-stop( 0.501, #5e95bf00 ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 100%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bf00 ), color-stop( 0.5, #5e95bf00 ), color-stop( 0.501, #5e95bf00 ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) );
}

.eightway #PadOuterCircle
{
	transform: rotatez( 22.5deg ); 
	background-color: 
		gradient( linear, 100% 0%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bfff ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 0% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bfff ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bfff ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 100%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.496, #5e95bf00 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bfff ), color-stop( 0.504, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) );

}

.fourwayoverlap #PadOuterCircle
{
	background-color: 
		gradient( linear, 100% 0%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.495, #5e95bf40 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bf80 ), color-stop( 0.505, #5e95bf40 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 0% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.495, #5e95bf40 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bf80 ), color-stop( 0.505, #5e95bf40 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.495, #5e95bf00 ), color-stop( 0.499, #5e95bf00 ), color-stop( 0.5, #5e95bf00 ), color-stop( 0.501, #5e95bf00 ), color-stop( 0.505, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 100%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.495, #5e95bf00 ), color-stop( 0.499, #5e95bf00 ), color-stop( 0.5, #5e95bf00 ), color-stop( 0.501, #5e95bf00 ), color-stop( 0.505, #5e95bf00 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) );

}

.eightwayoverlap #PadOuterCircle
{
	transform: rotatez( 22.5deg ); 
	background-color: 
		gradient( linear, 100% 0%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.495, #5e95bf40 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bf80 ), color-stop( 0.505, #5e95bf40 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 0% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.495, #5e95bf40 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bf80 ), color-stop( 0.505, #5e95bf40 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 0%, 100% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.495, #5e95bf40 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bf80 ), color-stop( 0.505, #5e95bf40 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) ),
		gradient( linear, 100% 100%, 0% 100%, 
			from( #1a1a1a00 ), color-stop( 0.475, #5e95bf00 ), color-stop( 0.495, #5e95bf40 ), color-stop( 0.499, #5e95bfff ), color-stop( 0.5, #5e95bfff ), color-stop( 0.501, #5e95bf80 ), color-stop( 0.505, #5e95bf40 ), color-stop( 0.525, #5e95bf00 ), to( #1a1a1a00 ) );

}

#PadRotateWrapper
{
	padding: 8px;
}

#PadInnerCircle
{
	margin: 24px;
}

#PadDeadZoneCircle10,
#PadDeadZoneCircle20,
#PadDeadZoneCircle30,
{
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.0;
	background-color: #202428ff;

	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.25s;
	transition-delay: 0.25s, 0.0s !immediate;
	transition-timing-function: linear;

}

#PadDeadZoneCircle10
{
	width: 40px;
	height: 40px;
}

.tenpctdead #PadDeadZoneCircle10
{
	transition-delay: 0.0s !immediate;

	z-index: 100000;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

.twentypctdead #PadDeadZoneCircle10
{
	opacity: 0.0;
	pre-transform-scale2d: 2.0;
}

.thirtypctdead #PadDeadZoneCircle10
{
	opacity: 0.0;
	pre-transform-scale2d: 3.0;
}

#PadDeadZoneCircle20
{
	width: 80px;
	height: 80px;
}

.tenpctdead #PadDeadZoneCircle20
{
	opacity: 0.0;
	pre-transform-scale2d: 0.5;
}

.twentypctdead #PadDeadZoneCircle20
{
	transition-delay: 0.0s !immediate;

	z-index: 100000;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

.thirtypctdead #PadDeadZoneCircle20
{
	opacity: 0.0;
	pre-transform-scale2d: 1.5;
}

#PadDeadZoneCircle30
{
	width: 120px;
	height: 120px;
}

.tenpctdead #PadDeadZoneCircle30
{
	opacity: 0.0;
	pre-transform-scale2d: 0.33333;
}

.twentypctdead #PadDeadZoneCircle30
{
	opacity: 0.0;
	pre-transform-scale2d: 0.66666;
}

.thirtypctdead #PadDeadZoneCircle30
{
	transition-delay: 0.0s !immediate;

	z-index: 100000;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

#PadRightCollumn .LabelWrapper
{
	flow-children: right;
}

#PadRightCollumn .LabelWrapper Image
{
	wash-color: #5e95bfef;
	margin-top: 2px;
	margin-lefT: 3px;
}

.PadSettingDropDown 
{
	transition-property: saturation, blur, opacity;
	transition-duration: .3s;
	transition-timing-function: bigpicture-ease-in-out;
}


.PadSettingDropDown Button
{
	margin: 0px;	
	padding: 4px 8px;
	color: applabelsolid;
	box-shadow: inset #00000080 2px 2px 8px 2px;

	transition-property: background-color, border;
	transition-duration: 0.0s;
	transition-timing-function: linear;

	font-size: 24px;
	height: 50px;
	background-color: ui_common_control;
	border-width: 5px;
	border-style: solid;
	border-radius: 2px;
	border-color: ui_common_control_border;

	width: 480px;
	
}

.PadSettingDropDown Button:focus
{
	color: #333333;

	border-style: solid;
	border-color: #fdfefeff;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

}

#PadRotateWrapper Button
{
	border-style: solid;
	border-width: 2px;
	border-color: #487395ff;

	width: 58px;
	height: 58px;

	padding: 0px;

	transition-property: background-color, opacity, transform, saturation, blur !immediate;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
}

#PadRotateWrapper Button:hover
{
	transition-duration: 0.23s !immediate;
	box-shadow: #eeeeee60 -3px -3px 6px 6px;
}

#PadRotateWrapper Button:hover:parentdisabled
{
	box-shadow: none;
}

#PadRotateWrapper Button Label
{
	margin: 0px;
	padding: 0px;
	font-size: 25px;
	font-weight: thin;
	color: #fefefeff;
	vertical-align: center;
	horizontal-align: center;
	transform: translatex( 0px );

	transition-property: color;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
}

#EditPadBindingsBody Button:parentdisabled,
#EditPadBindingsBody .PadSettingDropDown:parentdisabled,
{
	opacity: 0.5;
	blur: gaussian( 0.8 );
}

#PadRotateWrapper Button:focus,
#EditPadBindingsBody .PadSettingDropDown Button:focus:parentdisabled
{
	animation-name: main-button-glow-movement-small;
	animation-duration: longduration;
	animation-delay: shortduration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	opacity: 1.0;
	blur: none;
	saturation: 1.0;

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) ); 

	border-color: #fefefeff;
	border-width: 2px;
}

#PadOuterCircle:parentdisabled
{
	opacity: 0.5;
	blur: gaussian( 0.8 );
}

#PadRotateWrapper Button:focus:parentdisabled,
#EditPadBindingsBody .PadSettingDropDown:descendantfocus:parentdisabled,
{
	animation-name: none;
	opacity: 1.0;
	blur: none;
	saturation: 1.0;
}


#PadRotateWrapper Button:focus Label
{
	color: #353535ff;
}

#ControllerBindings #PadNorth
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 64px;
}

#ControllerBindings .eightway #PadNorth,
#ControllerBindings .eightwayoverlap #PadNorth
{
	transform: translatey( -20px );
}

#ControllerBindings #PadNorthWest,
#ControllerBindings #PadNorthEast,
#ControllerBindings #PadSouthWest,
#ControllerBindings #PadSouthEast
{
	opacity: 0.0;
}

#ControllerBindings .eightway #PadNorthWest,
#ControllerBindings .eightwayoverlap #PadNorthWest,
#ControllerBindings .eightway #PadNorthEast,
#ControllerBindings .eightwayoverlap #PadNorthEast,
#ControllerBindings .eightway #PadSouthWest,
#ControllerBindings .eightwayoverlap #PadSouthWest,
#ControllerBindings .eightway #PadSouthEast,
#ControllerBindings .eightwayoverlap #PadSouthEast
{
	opacity: 1.0;
}
	

#ControllerBindings #PadNorthWest
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 84px;
	margin-left: 84px;
}

#ControllerBindings #PadNorthEast
{
	horizontal-align: right;
	vertical-align: top;
	margin-top: 84px;
	margin-right: 84px;
}

#ControllerBindings #PadSouth
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 64px;
}

#ControllerBindings .eightway #PadSouth,
#ControllerBindings .eightwayoverlap #PadSouth
{
	transform: translatey( 20px );
}

#ControllerBindings #PadSouthWest
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 84px;
	margin-left: 84px;
}

#ControllerBindings #PadSouthEast
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 84px;
	margin-right: 84px;
}

#ControllerBindings #PadWest
{
	horizontal-align: left;
	vertical-align: center;
	margin-left: 64px;
}

#ControllerBindings .eightway #PadWest,
#ControllerBindings .eightwayoverlap #PadWest
{
	transform: translatex( -20px );
}

#ControllerBindings #PadEast
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 64px;
}

#ControllerBindings .eightway #PadEast,
#ControllerBindings .eightwayoverlap #PadEast
{
	transform: translatex( 20px );
}

#ControllerBindings .mousemove #PadNorth,
#ControllerBindings .mousemove #PadSouth,
#ControllerBindings .mousemove #PadEast,
#ControllerBindings .mousemove #PadWest
{
	opacity: 0.0;
}


#VirtualGamePad
{
	horizontal-align: center;
	flow-children: right;
}

#KeyBoardAndMouseWrapper
{
	flow-children: right;
}
