
#HTMLEula
{
	margin-top: 15px;
	width: 100%;
	height: 650px;
	border-width: 5px;
	border-style: solid;
	border-color: #00000000;

	transition-property: border;
	transition-duration: 0.2s;
	transition-timing-function: bigpicture-ease-in-out;
}

.XInputPad #HTMLEula,
.SteamPad #HTMLEula
{
	height: 616px;
}


#HTMLEula HTMLVerticalScrollBar
{
	margin-right: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
}

HTMLSimpleNavigationWrapper:descendantfocus #HTMLEula
{
	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;	

	border-color: white;
}

