#HTMLEula
{
	width: 100%;
	height: 520px;
}

#EULADetail
{
	font-size: 21px;
	color: detailsdatalabel;
	margin-top: 12px;
	font-family: platformfont;
}
#MsgBoxBodyRegion, .MsgBoxBodyRegion {
	width: 1400px;
}