// fade in any prompt/message
@define activate_product_message_transition_time: 0.3s;

LibraryRecentActivateProductDialog
{
	font-size: deffontsize;
	font-family: platformfont;
}

LibraryRecentActivateProductDialog .MsgBoxBodyRegion
{
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}

LibraryRecentActivateProductDialog.BehindTextInputHandler .MsgBoxBodyRegion
{
	transform: translatex( 480px );
}

#ProductCode
{
	margin-bottom: 10px;
	margin-top: 10px;
	width: 700px;
}

#ViewAgreements
{
	width: 700px;
}

#ViewAgreements:focus
{

}

TextEntry, Label
{

	font-size: 27px;

	font-family: platformfont;
	transform: translatex( 0px );
}

