// fade in any prompt/message
@define activate_product_message_transition_time: 0.3s;

RequestDeviceAuthorizationPanel
{
	font-size: deffontsize;
	font-family: platformfont;
}

RequestDeviceAuthorizationPanel .MsgBoxBodyRegion
{
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}

RequestDeviceAuthorizationPanel.BehindTextInputHandler .MsgBoxBodyRegion
{
	transform: translatex( 480px );
}

#DeviceDescription
{
	margin-bottom: 40px;
	margin-top: 10px;
	width: 765px;
}

TextEntry
{

	font-size: 27px;
	padding-top: 6px;
	font-family: platformfont;
	transform: translatex( 0px );
}


