.Details
{
	margin-top: 12px;
	font-family: platformfont;
	flow-children: down;
}

.ToStreamYourGame
{
	font-size: 30px;
	color: #ffffff;
	margin-bottom: 20px;
}

.Step
{
	flow-children: right;
	padding: 20px;
}
.BulletPoint
{
	color: #ffffff;
	font-size: 28px;
	padding-right: 20px;
}
.StepInstructions
{
	font-size: 26px;
	color: #ffffff;
}

#MsgBoxBodyRegion, .MsgBoxBodyRegion {
	width: 1400px;
}