.AddFriendMsgBox #MsgBoxDescriptionArea
{
	flow-children: down;
}

.AddFriendMsgBox TextEntry
{
	width: 100%;
	margin-top: 30px;
	padding-top: 10px;
	height: 60px;
}

.AddFriendMsgBox TextEntry:focus,
.BehindTextInputHandler TextEntry
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #dbdcdd ), to( #fdfdfd ) );

	color: applabelselectedsolid;
}

.AddFriendMsgBox #MsgBoxButtons
{
	margin-top: 20px;
}

.BehindTextInputHandler #MsgBoxButtons
{
	visibility: collapse;
}

.AddFriendMsgBox #MsgBoxBodyRegion
{
	width: 860px;
	z-index: 10000;

	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
	box-shadow: fill #00000044 -4px -4px 8px 8px;
}

.AddFriendMsgBox.BehindTextInputHandler #MsgBoxBodyRegion
{
	transform: translatey( -200px );
}

.AddFriendMsgBox.BehindDaisyWheelTextInputHandler #MsgBoxBodyRegion
{
	transform: translateX( 480px );
}

//  when we're finding a group, .FindGroup is set so swap out the title and description
.FindGroup #MsgBoxTitle
{
	visibility: collapse;
}

#MsgBoxTitle_Group
{
	visibility: collapse;
}

.FindGroup #MsgBoxTitle_Group
{
	visibility: visible;
}

.FindGroup #MsgBoxContents
{
	visibility: collapse;
}

#MsgBoxContents_Group
{
	visibility: collapse;
}

.FindGroup #MsgBoxContents_Group
{
	visibility: visible;
}
