
#MsgBoxBodyRegion
{
	max-width: 700px;
}

#MsgBoxHeader
{
	height: 60px;
}

.MsgBoxButton
{
	margin-bottom: 8px;
}

#MsgBoxButtons
{
	margin-top: 25px;
}

#MsgBoxButtonsVertical
{
	width: 100%;
	max-height: 258px;
	overflow: squish scroll;
	padding-top: 8px;
	padding-bottom: 8px;
}

#MsgBoxButtonsVertical .MsgBoxButton
{
	margin-left: 20px;
	margin-right: 20px;
}
