FriendsEditPersonaDialog
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.FriendsOptionWrapper
{
	width: 100%;
	flow-children: down;
	margin-bottom: 40px;
}

DropDownMenu
{
	height: fit-children;
	max-height: 400px;
	overflow: squish scroll;
	border-width: 5px;
}

DropDownMenu.DropDownMenuVisible
{
//	width: 328px;
}

.FriendsOptionWrapper DropDown
{
	width: 428px;
	height: 54px;
}

DropDown Label
{
}

.FriendsOptionWrapper DropDown:hover
{
	//pre-transform-scale2d: 1.05;
}

.FriendsOptionWrapper Label
{
	margin-left: 10px;
	color: detailsdatalabelfocus;
}

.FriendsOptionLabel
{
	width: 252px;
	font-size: 28px;
	margin-top: 8px;
	margin-left: 0px;
}

Label
{	
	color: detailsdatalabelfocus;
}

#SteamOfflineMessage
{
	width: 100%;
	visibility: collapse;

	margin-bottom: 30px;
}

.StateNotEditable #SteamOfflineMessage
{
	visibility: visible;
}

.StateNotEditable #PersonaStateWrapper
{
	visibility: collapse;
}
