
@define groups_list_page_down_count: 18;

FriendsContent_Groups
{
	flow-children: down;
	height: 100%;
}

Label
{
	padding-top: 32px;
	margin-bottom: 4px;
	color: white;
	font-size: 32px;
}

.GroupsContainer
{
	padding-bottom: 140px;
	flow-children: right-wrap;
	margin-left: 6px;
}

.GroupsWrapper
{
	flow-children: down;
	height: 100%;
	width: 100%;
	overflow: clip scroll;
}

.GroupButton
{
	background-color: #1B2838ff;
	margin: 20px;
	width: 260px;
	height: 140px;
	padding: 5px;
}

.GroupButton:focus
{
	border: 3px solid #3D6286;
}

#GroupsContainer_RecentChats
{
	margin-bottom: 30px;
}

.GroupsContainer
{
	flow-children: right-wrap;
}

.GroupsHeader
{
	visibility: collapse;
}

.HasGroups .GroupsHeader
{
	visibility: visible;
	margin-left: 6px;
}

.RecentChatsHeader
{
	visibility: collapse;
}

#GroupsContainer_RecentChats
{
	visibility: collapse;
}

.HasRecentChats .RecentChatsHeader
{
	visibility: visible;
}

.HasRecentChats #GroupsContainer_RecentChats
{
	visibility: visible;
}

.ZeroGroupsLabel, .NotLoggedInLabel
{
	width: 100%;
	margin-top: 285px;
	vertical-align: center;
	text-align: center;
	font-size: 26px;
}

.HasGroups .ZeroGroupsLabel
{
	visibility: collapse;
}

.NotLoggedIn .ZeroGroupsLabel
{
	visibility: collapse;
}

.NotLoggedInLabel
{
	visibility: collapse;
}

.NotLoggedIn .NotLoggedInLabel
{
	visibility: visible;
}

EdgeScroller #MaxButton
{
	y: -100px;
}
