/* Requires msgbox.css.. so add that first */

//
// Friends Search dialog
//
FriendsSearchDialog
{
	width: 100%;
	height: 100%;
	z-index: 1001;

	animation-name: msg-box-appear;
	animation-duration: MessageBoxAnimationDuration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
}

FriendsSearchDialog.Destructing
{
	opacity: 0.0;

	animation-name: msg-box-disappear;
	animation-duration: MessageBoxAnimationDuration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
}

.DialogRegion
{
	// this is never seen, and only present to trigger the text input handler
	width: 100%;
	height: 210px;
	opacity: 1.0;
}

#Input
{
	width: 100%;
}


.DialogRegion
{
	width: 708px;
	height: 804px;
	align: center center;
	padding: 30px;
	background-color: message_box_bg;
	flow-children: down;

	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;


	box-shadow: fill box_shadow_off_color 0px 0px 0px 0px;


	animation-name: main-button-glow-movement-no-fill;
	animation-duration: 1.7s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.BehindDaisyWheelTextInputHandler .DialogRegion
{
	transform: translatex( 480px );
}

.Header
{
	font-size: 48px;
	font-family: platformfont;
	color: #ffffff66;
	margin-bottom: 8px;
}

.InputRow
{
	width: 100%;
}

#SearchResults
{
	flow-children: down;
	overflow: squish scroll;
	opacity: 1.0;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );

	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}

.SearchResultEmbedded
{
	//width: 210px;
	width: 100%;
	height: 70px;

	margin-right: 2px;
	margin-left: 2px;

	border-width: 5px;
	border-style: solid;
	border-color: #193e57;
	margin-bottom: 5px;
}

.SelectPartialFilterButton
{
	width: 100%;
	margin-top: 20px;
	height: 46px;
	visibility: collapse;
}

.HasFilter .SelectPartialFilterButton
{
	visibility: visible;
}

.SelectPartialFilterButton Label
{
	color: white;
	font-size: 26px;
}