
@define frienditem_width: 300px;
@define frienditem_height:	110px;
@define friends_list_page_down_count: 18;

FriendsContent_Friends
{
	height: 900px;
	padding-left: 0px;
	padding-right: 0px;
}

FriendsContent_Friends.ContentList
{
	padding-left: 10px;
	padding-right: 0px;
}

#FriendsListItems
{
	overflow: clip scroll;
	flow-children: right-wrap;
	width: 100%;
	margin-left: 6px;
	padding-bottom: 140px;
	//height: 980px;
}

Label
{
	color: white;
	font-size: 24px;
}

.FriendButton
{
	background-color: #1E3041;
	margin: 20px;
	width: 260px;
	height: 140px;
	padding: 5px;

	transition-property: transform, pre-transform-scale2d, opacity, opacity-mask;
	pre-transform-scale2d: 1;
}

.FriendButton:focus
{
	border: 3px solid #3D6286;
	pre-transform-scale2d: 1.1;
}

.FriendsStateContainer
{
	visibility: visible;
	flow-children: down;
}

.FriendsStateContainer.ContainsFriends
{
	visibility: visible;
}

.ContainerHeader
{
	color: white;
	width: 100%;
	font-size: 32px;
	margin-top: 32px;
	margin-bottom: 4px;
}

.FriendsContainer
{
	flow-children: down;
	background-color: #222222ff;
}

.ContainerHeader
{
	visibility: collapse;
}

.HasRecentChats #Header_Recent
{
	visibility: visible;
}

.HasInGame #Header_InGame
{
	visibility: visible;
}

.HasOnline #Header_Online
{
	visibility: visible;
}

.HasOffline #Header_Offline
{
	visibility: visible;
}

.ZeroFriendsLabel, .NotLoggedInLabel
{
	width: 100%;
	text-align: center;
	margin-top: 310px;
	font-size: 26px;
}

.HasFriends .ZeroFriendsLabel
{
	visibility: collapse;
}

.NotLoggedIn .ZeroFriendsLabel
{
	visibility: collapse;
}

.NotLoggedInLabel
{
	visibility: collapse;
}

.NotLoggedIn .NotLoggedInLabel
{
	visibility: visible;
}

#FriendsContent .NxFilterTab
{
	position: 888px 0px 0px;

	margin-top: 30px;
	padding-top: 14px;
	padding-bottom: 8px;
	transform: translatez( 0px );
}

.ContentAreaFocus #FriendsContent .NxFilterTab,
.ContentHover #FriendsContent .NxFilterTab
{
	position: 750px 0px 0px;
}

.NxFilterTab .NxTagHeader.FilterHeader
{
	margin-bottom: -16px;
}

.NxFilterTab
{
	padding-bottom: 0px;
}

.NxFilterTab TextEntry
{
margin-bottom: 8px;
}

#FriendsContent .NxFilterTab:descendantfocus
{
	position: 560px 0px 0px;
}

.NxFilterTab TextEntry
{
	width: 100%;
	height: 0px;
}

.NxFilterTab:descendantfocus TextEntry,
.NxFilterTab TextEntry.HasInput
{
	height: fit-children;
	margin-top: 16px;


}

.NxFilterTab TextEntry #PlaceHolderText
{
	font-style: italics;
	opacity: 0.5;
	color: applabelsolid;
}

.NxFilterTab TextEntry:focus #PlaceHolderText
{
	color: applabelselectedsolid;
}

.NxFilterTab TextEntry.HasInput #PlaceHolderText
{
	opacity: 0.0;
}

EdgeScroller #MaxButton
{
	y: -100px;
}

