FriendsSearchResultEmbedded
{
	opacity: 0.0;
}

FriendsSearchResultEmbedded Label
{
	font-size: 20px;
}

FriendsSearchResultEmbedded.HasContent
{
	opacity: 1.0;
}

FriendsSearchResultEmbedded:focus
{
	border: 2px solid white;
}

AvatarImage
{
	margin: 5px;
	width: 50px;
	height: 50px;
	border-radius: 4px;
}

.PersonaLabelContainer
{
	margin-left: 70px;
}

.FriendName
{
	color: white;
}

.Online .PersonaState
{
	color: friendsonline_solid;
}

.Offline .PersonaState
{
	color: friendsoffline_solid;
}

.InGame .PersonaState
{
	color: friendsingame_solid;
}

.InGame AvatarImage
{
	border: 2px solid friendsingame_darkbg;
}

.Online AvatarImage
{
	border: 2px solid friendsonline_darkbg;
}

.Offline AvatarImage
{
	border: 2px solid friendsoffline_darkbg;
}