FriendsContent_GroupItem
{
	margin: 4px;
	width: 300px;
	height: 110px;
	flow-children: none;
	//background-color: transparent_module;
	background-color: gradient(linear, 0.0% 0.0%, 100.0% 100.0%, color-stop(0.0, #2E6480FF), color-stop(1.0,#154066FF));
	box-shadow: module_shadow;
	padding: 0px;
	border: 3px;
	border-radius: 3px;
}

FriendsContent_GroupItem:focus,
FriendsContent_GroupItem:hover
{
	border: 3px solid #b6e1fa;

	box-shadow: box_shadow_on_color -4px -4px 12px 8px;

	background-image: url( "file://{images}/systemmenu/capsule_01_over.jpg" );
	background-position: 0px bottom;
	background-repeat: no-repeat;
	background-size: cover;

	animation-name: main-button-glow-movement-no-fill;
	animation-duration: longduration;
	animation-delay: mediumduration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

FriendsContent_GroupItem.ConnectedToChat
{
	background-color: gradient(linear, 0.0% 0.0%, 100.0% 100.0%, color-stop(0.0, #2E6480FF), color-stop(1.0,#154066FF));
}

FriendsContent_GroupItem.ConnectedToChat:focus
{
	border: 3px solid ui_primary_color;
	background-color: gradient(linear, 0.0% 0.0%, 100.0% 100.0%, color-stop(0.0, #14C6FC99), color-stop(1.0,#2E6480FF));
}

.GroupContent
{	
	flow-children: right;
	padding: 3px;
}


AvatarImage
{
	margin: 5px;
	width: 94px;
	height: 94px;
	border-radius: 4px;
}


FriendsContent_GroupItem:focus .GroupContent AvatarImage
{
	vertical-align: center;
}

FriendsContent_GroupItem Label
{
	margin-left: 8px;
	color: ui_primary_color;
	font-size: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}



.GroupItemLabelContainer
{
	flow-children: down;
	vertical-align: center;
	overflow: clip clip;
	width: 185px;
}

.GroupItemName
{
	color: white;
	font-size: 20px;
	margin-left: 8px;
	white-space: nowrap;
}

FriendsContent_GroupItem:focus .GroupItemName
{
	color: white;
	font-size: 20px;
	margin-left: 8px;
	white-space: nowrap;
}


.GroupInChat,
.GroupInGame,
.GroupOnline
{
	visibility: collapse;
}

.GroupInChat
{
	color: #fcc814;
}

.GroupInGame
{
	color: friendsingame_solid;
}

.GroupOnline
{
	color: friendsonline_solid;
}

.StatusHasInChat .GroupInChat
{
	visibility: visible;
}

.StatusHasInGame .GroupInGame
{
	visibility: visible;
}

.StatusHasOnline .GroupOnline
{
	visibility: visible;
}

.GroupItemUnread
{
	visibility: collapse;
	color: white;
	font-size: 16px;
	width: 28px;
	height: 28px;
	background-color: red;
	border-radius: 4px;
	
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;

	padding: 3px;
	margin-left: 77px;
	margin-top: 4px;
	text-align: center;
}

.HasUnreadChats .GroupItemUnread
{
	visibility: visible;
}
