/* Requires msgbox.css.. so add that first */

//
// Text dialog
//
StoreTextDialog
{
	width: 100%;
	height: 100%;

	animation-name: msg-box-appear;
	animation-duration: MessageBoxAnimationDuration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
}

.DialogRegion
{
	width: 1100px;
	height: 600px;
	align: center center;
	padding: 24px 4px 24px 24px;
	background-color: message_box_bg;
	flow-children: down;
}

StoreTextDialog.Destructing
{
	opacity: 0.0;

	animation-name: msg-box-disappear;
	animation-duration: MessageBoxAnimationDuration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
}


#Header
{
	font-size: 48px;
	font-family: platformfont;
	color: #ffffff66;
	margin-bottom: 12px;
	padding-left: 30px;
}

#Body
{
	font-size: 24px;
	width: 95%;
	font-family: platformfont;
	color: #d6d7d9;
	overflow: squish scroll;
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 8px;
	opacity-mask-scroll-up: url( "file://{images}/library/scroll_data_mask_up.tga" );
	opacity-mask-scroll-down: url( "file://{images}/library/scroll_data_mask_down.tga" );
	opacity-mask-scroll-up-down: url( "file://{images}/library/scroll_data_mask_both.tga" );

}

.Header
{
	font-size: 32px;
	color: white;
}

h1, h2
{
	font-size: 28px;
	color: white;
	font-style: italic;
}
