TenfootConfirmPasswordDialog
{
	perspective: 1000;
	perspective-origin: 50% 50%;
	horizontal-align: center;
	vertical-align: center;
}


.ConfirmPasswordPopupBody
{
	padding: 40px 40px 30px 40px;

	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: 920px;
	height: 440px;

	opacity: 1.0;

	border-width: 5px;
	border-style: solid;
	border-color: ui_common_control_border;
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	color: #000000ff;
	background-color: dialog_bg_color;

	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}


.ConfirmPasswordPopupBody TextEntry
{
	height: 60px;
	width: 100%;
	font-size: 32px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-top: 0px;

	horizontal-align: left;
	background-color: blue;
	border-color: none;
	border-width: 5px;
	border-style: solid;
	margin-top: 40px;
}

.ConfirmPasswordPopupBody TextEntry:focus
{

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) );
	color: #161718f5;
	border-color: #fdfefeff;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}


.BehindTextInputHandler .ConfirmPasswordPopupBody
{
	transform: translatex( 400px );
}

.Button:disabled Label
{
	color: detailsdatalabel;
}

.ConfirmPasswordPopupBody #MsgBoxButtons
{
	width: 100%;
}

#RecoveryButton
{
	horizontal-align: right;
}

TextEntry:disabled,.Button:disabled
{
	saturation: 1.0;
	blur: gaussian( 0.7 );
	opacity: 0.40;
	border-color: none;
	box-shadow: none;
	animation-name: none;
}

.Button
{
	padding-left: 8px;
	border-width: 5px;
	border-style: solid;
	height: 40px;
	margin-top: 10px;
	width: fit-children;
	horizontal-align: right;

	border-color: none;
	background-color: ui_common_control2;

	pre-transform-scale2d: 1.0;
	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;
}

.Button:hover
{
	z-index: 50;
	transition-duration: 0.23s !immediate;
	box-shadow: box_shadow_on_color -5px -5px 6px 10px;
	pre-transform-scale2d: 1.0;
}


.Button:focus
{
	transition-duration: 0.25s !immediate;

	border-color: #fdfefef0;
	z-index: 1000;

	color: #00000099;
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );

	pre-transform-scale2d: 1.0;
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

