/* styles for the simple text tooltip */

.TitleImageTextContents
{
    min-width: 200px;
    max-width: 400px;
    flow-children: down;
}

#TitleLabel
{
    font-size: 24px;
    color: white;
    font-weight: bold;
    horizontal-align: center;
    text-align: center;
}

#Image
{
    horizontal-align: center;
    margin: 8px;
}

#TextLabel
{
    font-size: 20px;
    color: white;
    horizontal-align: center;
    text-align: center;
}
