/* Requires msgbox.css.. so add that first */

//
// Animations
//
@keyframes 'links-and-more-button-focus'
{
	from
	{
		background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) ); 
	}

	50%
	{
		background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) ); 
	}

	to
	{
		background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) ); 
	}
}



#PlatformWindows,
#PlatformMac,
#PlatformLinux
{
	visibility: collapse;
}

.AvailableWindows #PlatformWindows,
.AvailableMac #PlatformMac,
.AvailableLinux #PlatformLinux
{
	visibility: visible;
}


//
// Dialog
//
MusicPlaylistRenameDialog
{
	width: 100%;
	height: 100%;

	animation-name: msg-box-appear;
	animation-duration: MessageBoxAnimationDuration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
}

MusicPlaylistRenameDialog.Destructing
{
	opacity: 0.0;

	animation-name: msg-box-disappear;
	animation-duration: MessageBoxAnimationDuration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
}

.BehindTextInputHandler .MsgBoxBodyRegion
{
	transform: translatex( 470px );
}

.InputRow
{
	width: 100%;
}


#Input
{
	height: 50px;
	width: 96.5%;
	horizontal-align: center;
	margin: 16px 0px 16px 0px;
	font-size: 27px;
	font-family: platformfont;
	background-color: #FFFFFF44;
}

#Input:descendantfocus
{
	background-color: #FFFFFFFF;
}

.BehindTextInputHandler #Input
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #dbdcdd ), to( #fdfdfd ) );
	border-color: #ffffffff;
	color: applabelselectedsolid;
	box-shadow: none;
}

.CapsuleControllerSupport
{
	visibility: collapse;
}

.FullController #IconController
{
	visibility: visible;

	background-image: url( "file://{images}/controller_support_full.png" );
	background-size: contain;
	background-repeat: no-repeat;
//	wash-color: storeoverviewcolor;
	width: 40px;
	height: 40px;
}

.PartialController #IconController
{
	visibility: visible;
	background-image: url( "file://{images}/controller_support_partial.png" );
	background-size: contain;
	background-repeat: no-repeat;
//	wash-color: white;
	width: 40px;
	height: 33px;
	vertical-align: center;
}




TextEntry:focus
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #dbdcdd ), to( #fdfdfd ) );

	color: applabelselectedsolid;

	border-style: solid;
	border-color: #ffffffff;
	animation-name: none;
}
