

MusicLibrarySetupPanel
{
	font-size: deffontsize;
	font-family: platformfont;
}

MusicLibrarySetupPanel .MsgBoxBodyRegion
{
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
	padding-right: 20px;
}

MusicLibrarySetupPanel.BehindTextInputHandler .MsgBoxBodyRegion
{
	transform: translatex( 480px );
}

.EntryContainer
{
	flow-children: down;
	height: 400px;
	width: 810px;
	overflow: squish scroll;
	opacity: 0.99;
	padding-top: 10px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-right: 8px;
	margin-left: -10px;

	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );
}

.EntryContainer #Entry, .EntryContainer #AddDirectory,
{
	margin-bottom: 4px;
	padding-right: 0px;
	width: 100%;
}

.AddDirectory
{
	background-image: url( "file://{images}/music/add_filebrowser.png" );
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.RemoveDirectory
{
	background-image: url( "file://{images}/music/remove_filebrowser.png" );
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

MusicLibrarySetupEntry, MusicLibrarySetupAdd
{
	flow-children: right;
	width: 100%;
	height: 85px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 0px;

}



MusicLibrarySetupEntry:Focus, MusicLibrarySetupAdd:Focus
{
	background-color: white;
}


#ActionButton
{
	width: 42px;
	height: 39px;
	background-color: blue;
	margin-left: 20px;
	margin-top: -5px;
	padding: 7px 8px;

}


#ActionButtonLabel
{
	width: 100%;
	font-size: 48px;
	padding-top: -15px;
	text-align: center;
	color: applabel;

}

.LabelColumn
{
	flow-children: down;
	width: 670px;
}

.UpperlineLabel
{
	height: 28px;
	font-weight: bold;
	font-size: 24px;
	width: 100%;
	color: white;
	transform: translateX( -4px );
	
	transition-property: transform;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.SingleLineLabel
{
	font-weight: bold;
	font-size: 24px;
	width: 100%;
	color: white;
	transform: translateX( -4px );
	
	transition-property: transform, color;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}



MusicLibrarySetupEntry:Focus .SingleLineLabel, 
MusicLibrarySetupAdd:Focus .UpperlineLabel,
{
	color: applabelselected;
	transform: translateX( 3px );

}
