.MusicExplorePanel
{
	padding-top: 30px;
	padding-left: 0px;
	position: 390px 0px 0px;
	padding-right: 40px;
	padding-bottom: 260px;

	width: 1700px;
	height: 1180px;

	transform: translateX( 0px );
	transition-delay: 0s;
	transition-duration: supershortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-property: transform, width;

	margin-left: 95px;
	flow-children: down;

	visibility: collapse;
}

MusicPanel #MusicExplorePanel
{
	width: 1400px;
	margin-left: 120px;
	horizontal-align: center;
	position: 0px 0px 0px;
	visibility: visible;
}

MusicExploreRow
{
	height: 245px;
	width: 100%;
}

MusicExploreRow Button
{
	background-color: red;
}

MusicExploreRow Button:focus
{
	box-shadow: box_shadow_on_color -4px -4px 12px 8px;	
}

MusicExploreRow.Hidden
{
	visibility: collapse;
}

.GamesList
{
	margin-bottom: 0px;
}

#MusicExploreCategoryButtons
{
	height: 220px;
	width: 100%;
	flow-children: right;

	margin-bottom: 20px;
	padding-left: 10px;
}

.MusicExploreCategoryButton
{
	width: 400px;
	height: 100%;
	margin-right: 40px;
	background-color: gradient( linear, 0% 0%, 3% 80%, from( #051c2dff ), to( #051c2d00 ) );

	pre-transform-scale2d: 0.94;

	transition-property: pre-transform-scale2d, box-shadow, wash-color, opacity, saturation, opacity-mask;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
}

.MusicExploreCategoryButton:hover,
.MusicExploreCategoryButton:focus
{
	box-shadow: box_shadow_on_color -4px -4px 12px 8px;	
}

.MusicExploreCategoryButton:focus
{	
	pre-transform-scale2d: 1.0;

	background-color: gradient( linear, 0% 0%, 100% 100%, from( #66c0f400 ), to( #b6e1fa00 ) );
}

.MusicExploreCategoryButton .ButtonIcon
{
	width: 400px;
	height: 220px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 0px;
	background-color: notification_bg;
	background-repeat: no-repeat no-repeat;
	background-size: 100% 100%;
}

#MusicExplore .MusicExploreCategoryButton .HeaderLabel,
#MusicExplorePanel .MusicExploreCategoryButton .HeaderLabel
{
	horizontal-align: center;
	vertical-align: bottom;
	width: fit-children;
	margin: 0px;
	margin-bottom: 8px;
}


#MusicExploreBtnAlbums .ButtonIcon
{
	background-image: url( "{images}/music/placeholder_albums.jpg" );
}

#MusicExploreBtnArtists .ButtonIcon
{
	background-image: url( "{images}/music/placeholder_artists.jpg" );
}

#MusicExploreBtnPlaylists .ButtonIcon
{
	background-image: url( "{images}/music/placeholder_playlists.jpg" );
}

MusicExplorePanel #RowContainer
{
	flow-children: right;
	margin-left: 14px;
	margin-top: 14px;
	overflow: noclip noclip;
}


MusicExplorePanel .HeaderLabel
{
	text-align: left;
	color: detailsdatalabelfocus;

	width: 600px;
	font-family: platformfont;
	font-size: 30px;
	font-weight: normal;
	//color: #81a3b8ff;
	padding-left: 10px;
	z-index: 1;
	margin-left: 14px;
	padding-left: 0px;
}

MusicExplorePanel.MusicExploreVisible
{
	visibility: visible;
}

MusicExplorePanel AlbumGridItem.NoCover
{
	//visibility: collapse;
}

MusicExplorePanel AlbumGridItem
{
	width: 170px;
	height: 170px;

	margin-right: 20px;

	pre-transform-scale2d: 0.95;

	transition-property: pre-transform-scale2d, position, transform, box-shadow;
	transition-duration: 0.23s;
	transition-delay: 0.0s;
	transition-timing-function: bigpicture-ease-in-out;
	
	box-shadow: box_shadow_off_color 0px 0px 16px 0px;

	background-color: none;

}

MusicExplorePanel AlbumGridItem:hover
{
	box-shadow: box_shadow_on_color 0px 0px 16px 0px;
	pre-transform-scale2d: 1.0;
}

MusicExplorePanel AlbumGridItem:focus
{
	pre-transform-scale2d: 1.0;
	z-index: 5;

	
	box-shadow: box_shadow_on_color 0px 0px 16px 0px;

	animation-name: main-button-glow-movement-no-fill;
	animation-duration: longduration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

MusicExplorePanel AlbumGridItem:focus:hover
{
}

MusicExplorePanel AlbumGridItem:focus #AlbumImage
{
	saturation: 1.0;
}

MusicExplorePanel AlbumGridItem:focus #FocusBorderPanel
{
	background-image: url( "file://{images}/music/shadow.png" );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 414px 414px;
}

MusicExplorePanel AlbumGridItem Label
{
	opacity: 0.0;
}

AlbumGridItem #AlbumImage
{
	width: 590px;
	height: 590px;
	vertical-align: top;
	margin: 10px;
	saturation: 0.9;
	opacity: 0.85;
	box-shadow: fill #00000033 -4.5px -4.5px 18px 9px;
	border-radius: 4px;
	transition-property: opacity, saturation, box-shadow;
	transition-duration: 0.23s;
}

#NowPlayingContainer
{
	width: 800px;
	margin-left: 24px;
	padding-left: 16px;
	flow-children: right;
	background-color: #14c4f933;
	visibility: collapse;
	border-radius: 64px;
}

MusicNowPlayingPanel
{
	width: 700px;
	margin-bottom: 0px;
	margin-left: 24px;
}

.NowPlayingVisible #NowPlayingContainer
{
	visibility: visible;
}

.PlayPauseControlBarButton
{
	height: 90px;
	width: 90px;
	border-width: 5px;
	border-style: solid;
	border-radius: 50%;
	border-color: ui_common_control_border;
	box-shadow: #00000022 -4.5px -4.5px 9px 9px;
	pre-transform-scale2d: 0.90;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( dark_box_shadow_color_opaque ), to( ui_primary_color ) );
}

.PlayPauseControlBarButton:focus
{
	pre-transform-scale2d: 1.0;
	border-color: white;
	
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #f0f0f0 ), to( #c2c2c2 ) );
	pre-transform-scale2d: 1.05;
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;
	border-color: #fdfefef0;
	transition-duration: 0.23s;
	transition-timing-function: linear;
	animation-name: main-button-glow-movement-no-fill;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.PlayPauseControlBarButton:focus Image
{
	wash-color: #000000ff;
}


#TogglePauseImage,
#TogglePlayImage
{
	visibility: collapse;
}

.NowPlaying_Paused #TogglePlayImage
{
	visibility: visible;
}

.NowPlaying_Playing #TogglePauseImage
{
	visibility: visible;
}

