@define currententrytrackcolor: #fefefe;
@define currententrydotcolor: #595850;
@define currententryartistcolor: #698dc6;
@define titlebarbackgroundcolor: #20334c;


MusicControlPanel
{
	width: 100%;
	height: 100%;
	background-color: #00000066;
	opacity: 0.0;
	padding: 10px 5px 10px 5px;

	transition-property: opacity;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
}

.MusicControllerPanel
{
	width: 640px;
	height: 470px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;

	animation-name: msg-box-appear;
	animation-duration: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: 1;
}

.MusicControllerPanel.Destructing
{
	opacity: 0.0;
	transform: translatez( 600px ) translatey( 1080px );
	
	animation-name: msg-box-disappear;
  	animation-duration: 0.4s;
  	animation-timing-function: bigpicture-ease-in-out;
  	animation-iteration-count: 1;

}

.MusicControlVisible
{
	opacity: 1.0;
	z-index:msgbox_zindex;
}


.MusicControlVisible.ScreenSaverMode .MusicControlVisible.GamesRunning
{
	opacity: 0.0;
	transition-property: opacity, transform, pre-transform-scale2d, saturation, wash-color, blur;
	transition-duration: 1.4s, 0.3s !immediate;
	transition-timing-function: linear;
}

.ScreenSaverMode MusicControlPanel
{
	transition-duration: 0.3s, 0.3s !immediate;
	opacity: 0.0;
}

.GamesRunning MusicControlPanel
{
	transition-duration: 0.3s, 0.3s !immediate;
	opacity: 0.0;
}

.MusicControlTabPanel
{
	margin-left: 0px;
	flow-children: down;
	width: 100%;
	height: 100%;
}

.MusicControlTabPanel.PanelVisible
{
	visibility: visible;
}

#QuitEntriesPanel
{
	flow-children: down;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: 100%;
}

.SystemControlTabPanel
{
	visibility: collapse;
	flow-children: down;
	background-color: web_bg_color;
	height: 100%;
	width: 100%;
	padding-top: 20px;
}

.SystemControlTabPanel.PanelVisible
{
	visibility: visible;
}

.NotLoggedIn
{
	visibility: visible;
}


#HeaderButtons
{
	width: 100%;
	vertical-align: bottom;
	horizontal-align: left;
	flow-children: right;
	margin-left: 10px;
	margin-right: 10px;
	color: #000000ff;
}

#HeaderButtons:focus
{
	color: #000000ff;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffffff ), to( #bdbfbfff ) ); 
	
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;
	
	transition-duration: 0.23s;
	transition-timing-function: linear;
	animation-name: main-button-glow-movement-no-fill;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}



#HeaderButtons:descendantfocus .MusicControlHeaderButton.CurrentSelection
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #86a1b5ff ), to( #456c8aff ) );
	border-color: #ffffff00;
}

#HeaderButtons:descendantfocus .MusicControlHeaderButton.CurrentSelection
{
	background-color: friendstabcurrentselection;
	border-color: #ffffff00;
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;
	
	transition-duration: 0.23s;
	transition-timing-function: linear;
	animation-name: main-button-glow-movement-no-fill;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}


.MusicControlHeaderButton
{
	width: 50%;
	font-weight: normal;
	font-size: 24px;
	font-family: platformfont;
	white-space: nowrap;
	padding-top: 12px;
	background-color: friendstab;
	margin-left: 10px;
	margin-right: 10px;
	color: #000000ff;

	transition-property: background-color, color, box-shadow;
	transition-timing-function: ease-out;
	transition-duration: 0.23s !immediate;
	transition-delay: 0.0s;
}

.MusicControlHeaderButton.CurrentSelection
{
	background-color: friendstabcurrentselection;
	box-shadow: box_shadow_off_color -5px -5px 6px 10px;
}

.MusicControlHeaderButton.CurrentSelection:hover
{
	background-color: friendstabcurrentselection;

}

.MusicControlHeaderButton:hover
{
	transition-duration: 0.23s !immediate;
	background-color: friendstabcurrenthover;

}

.MusicControlHeaderButton:active
{
	transition-duration: 0.23s !immediate;
	background-color: friendstabcurrentselection;
	box-shadow: box_shadow_off_color -5px -5px 6px 10px;
}

.MusicControlHeaderButton Label
{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
	color: #ffffffff;
	transition-property: color;
	transition-duration: 0.23s !immediate;
	transition-timing-function: ease-out;
}

.MusicControlHeaderButton.CurrentSelection Label, .MusicControlHeaderButton:hover Label, .MusicControlHeaderButton:descendantfocus Label, .MusicControlHeaderButton.CurrentSelection:hover Label, .MusicControlHeaderButton.CurrentSelection:descendantfocus:hover Label,
{
		color: #f2f2f2ff;
}

.QueueControlButtons
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: 116px;
	margin: 10px;
	padding-left: 10px;
	margin-bottom: 0px;
	background-image: url("file://{images}/music/control_bg.png");
	background-position: left 10px top 28px;
	background-size: 590px 60px;
	background-repeat: no-repeat;
}

.ControlBG
{
	background-color: black;
	width: 100%;
	height: 60px;
	margin-top: -20px;
}




VerticalScrollBar
{
	margin: 10px, 6px, 6px 6px;
	margin-right: 6px;
	margin-bottom: 10px;
}

VerticalScrollBar .ScrollThumb
{
	margin-top: 0px;
	margin-bottom: 0px;
}


@keyframes 'marquee'
{
	0%
	{
		position: 0px 0px 0px;


	}
	
	
	10%
	{
		position: 0px 0px 0px;
	}
	
	65%
	{
		opacity: 1.0;
	}
	
	80%
	{
		position: -50% 0px 0px;
		opacity: 0.0;
	}
	
	81%
	{
		position: 0px 0px 0px;
		opacity: 0.0;

	}
	
	85%
	{
		position: 0px 0px 0px;
		opacity: 1.0;

	}
	
	99%
	{

	}
	
	100%
	{
		position: 0px 0px 0px;


	}
}
