
MusicFilterAlbums
{
	position: 950px 120px 0px;
	//position: 1825px 120px 0px;

	width: 420px;
	height: fit-children;
	max-height: 700px;
	opacity: 1.0;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-color: black;
	overflow: clip;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1184baee ), to( #0e2744ee ) );

	box-shadow: fill #00000066 -4px -4px 6px 6px;

	flow-children: down;

	transition-property: position, color, background-color, transform, opacity, height, width, saturation;
	transition-duration: supershortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

MusicFilterAlbums:hover,
MusicFilterAlbums:descendantfocus
{
	opacity: 1.0;
	saturation: 1.0;
	transform: translatez( 20px );
	position: 730px 120px 0px;
}

MusicFilterAlbums .NxTagHeader,
MusicFilterAlbums Button,
MusicFilterAlbums.EmptyFilter Button.NxFilterButton,
MusicFilterAlbums .NxFilterButton
{
	height: 0px;
	margin: 0px;
}

MusicFilterAlbums #AlbumSearchInput.HasInput
{
	height: fit-children;
}


MusicFilterAlbums:descendantfocus .NxTagHeader,
MusicFilterAlbums:descendantfocus Button,
.AlwaysVisible
{
	height: fit-children;
}

MusicFilterAlbums .NxTagHeader.FilterHeader
{
	height: 56px;
	margin-left: 10px;
}

MusicFilterAlbums .NxTagHeader.FilterHeader
{
	height: 56px;
	margin-left: 10px;
}

MusicFilterAlbums .FilterHeader
{
	font-size: 34px;
	color: #ffffff;
}

.FilterWrapper
{
	position: 150px 0px 0px;
	width: 400px;
	padding: 0px;
	margin-left: 10px;
	z-index: 10;

	overflow: clip scroll;

	flow-children: down;

	transition-property: position, color, background-color, transform, opacity, height, width;
	transition-duration: mediumduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.FilterWrapper:descendantfocus
{
	position: 0px 0px 0px;
	max-height: 600px;
}

MusicFilterAlbums:hover
{
	horizontal-align: center;
	box-shadow: box_shadow_on_color -4px -4px 5px 8px;
	pre-transform-scale2d: 1.03;
}

MusicFilterAlbums, DropDownMenu.DropDownMenuVisible .AlbumsFilter:hover
{
	horizontal-align: center;
	box-shadow: #00000066 0px 0px 10px 0px;

	transition-property: pre-transform-scale2d, background-color, box-shadow;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.HorizRule
{
	width: 100%;
	height: 20px;
}

MusicFilterAlbums Label
{
	width: 100%;
	font-family: platformfont;
	font-weight: normal;
	vertical-align: center;

	font-size: 24px;
	color: #2F89BDff;
	margin-bottom: 0px;
	margin-left: 0px;
}

.NxTagHeader
{
	height: 32px;
	font-size: 24px;
	color: #66c0f4ff;

	margin-bottom: 10px;
	margin-left: -10px;
	padding-left: 14px;
	padding-top: 15px;
}

MusicFilterAlbums:descendantfocus Button.NxFilterButton
{
	width: 100%;
	margin: 0px;
	padding: 0px 0px 0px 10px;
	height: 45px;

	flow-children: right;
	box-shadow: none;
	color: #67c1f5FF;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25a9df00 ), to( #082745ff) );
}

.NxFilterButton:selected
{
	background-color: #1579a0;
}

.AlbumSearchInput
{
	width: 100%;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 14px;
	height: 0px;
}

.AlbumSearchInput.HasInput
{
	height: fit-children;
}

#GamesFilter #NxNarrowByName.NxTagHeader {
	margin-bottom: -40px;
}

.AlbumSearchInput.HasInput,
MusicFilterAlbums:descendantfocus .AlbumSearchInput
{
	height: fit-children;
}

.SearchInputHint
{
	color: #2F89BDff;
}

.SearchInputHint
{
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: shortduration;
}

.HasInput .SearchInputHint
{
	opacity: 0.0;
}