@define mediumduration: 0.4s;


MusicPlaylistPanel
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	padding: 0px 0px 10px 0px;

	opacity: 1.0;

	transform: translate3d( 0px, 1280px, 1000px );
	transform: translatey( 0px );
	
	transition-property: transform, blur, position, opacity, saturation;
	transition-duration: mediumduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}
