MusicNowPlayingPanel
{
	height: fit-children;
	flow-children: right;
	margin-left: 10px;
	padding: 8px;
	width: 100%;

	background-color: #14c4f933;
}

MusicNowPlayingPanel:focus,
MusicNowPlayingPanel:hover
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #66c0f4ff ), to( #b6e1faff ) );

	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#NowPlayingLabels
{
	margin-left: 15px;
	margin-top: 5px;
	flow-children: down;
	vertical-align: top;
}

#NowPlayingLabels Label
{
	color: #14c1f7;
	font-size: 24px;
	max-height: 30px;
	white-space: nowrap;
}

MusicAlbumPanel MusicNowPlayingPanel,
MusicPlaylistPanel MusicNowPlayingPanel
{
	max-height: 180px;
}

MusicNowPlayingPanel:focus #NowPlayingLabels Label,
MusicNowPlayingPanel:hover #NowPlayingLabels Label
{
	color: black;
}

#AlbumImageContainer
{
	width: 100px;
	height: 100px;
	flow-children: none;
}

MusicExplorePanel MusicNowPlayingPanel #AlbumImageContainer
{
	width: 90px;
	height: 90px;
}

MusicExplorePanel #NowPlayingLabels
{
	margin-top: 0px;
}

.AlbumImage
{
	width: 100%;
	height: 100%;
	opacity: 0.0;
}

.AlbumImage.Current
{
	opacity: 1.0;
}

#NowPlayingTrackName
{
	margin-top: 4px;
}

