@define mediumduration: 0.4s;


MusicArtistPanel
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	padding: 0px 0px 10px 0px;


	opacity: 0.0;
	saturation: 0.0;
	transform: translate3d( 0px, 1280px, 1000px );

	transition-property: transform, blur, position, opacity, saturation;
	transition-duration: mediumduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.MusicArtistVisible
{
	transform: translatey( 0px );
	opacity: 1.0;
	saturation: 1.0;
}

.ArtistLabel
{
	font-family: platformfont;
	font-weight: bold;
	color: applabel;
	width: 100%;
	font-size: 56px;
	height: 74px;
	white-space: nowrap;
	margin-top: 34px;
	margin-bottom: -10px;

	margin-left: 100px;
	vertical-align: center;
}

.UpperRow
{
	width: 100%;
	height: 170px;
	flow-children: down;
}

.Body
{

	width: 100%;
	height: 100%;
	margin-top: 130px;
	flow-children: right;
}


.TopSpacer
{
	width: 100%;
	height: 40px;
}


