@define shortduration: 0.25s;
@define shortmedduration: 0.3s;
@define mediumduration: 0.4s;
@define longduration: 1.7s;


.WizardPanel
{
	opacity: 1.0;
	transition-duration: 0.0s;
}


ParentalUnlockPopup
{
	perspective: 1000;
	perspective-origin: 50% 50%;
	horizontal-align: center;
	vertical-align: center;
}


.ParentalUnlockPopupBody
{
	padding: 40px 40px 30px 40px;

	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: 620px;
	height: 580px;

	opacity: 1.0;

	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	color: #000000ff;
	background-color: dialog_bg_color;

	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}


.BehindTextInputHandler .ParentalUnlockPopupBody
{
	transform: translatex( 470px );
}



.ParentalUnlockPopupBody TextEntry
{
	height: 60px;
	width: 100%;
	font-size: 32px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-top: 0px;

	horizontal-align: left;
	background-color: blue;
	border-color: none;
	border-width: 5px;
	border-style: solid;
	margin-top: 40px;
}

.ParentalUnlockPopupBody TextEntry:focus
{

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) );
	color: #161718f5;
	border-color: #fdfefeff;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

ParentalUnlockPopup #MsgBoxButtons
{
	width: 100%;
}

#RecoveryButton
{
	horizontal-align: right;
}



ParentalReplacementPanel
{
	opacity: 0.0;
	
	vertical-align: center;
	flow-children: down;
	width: 100%;
	height: 100%;
}

.Locked ParentalReplacementPanel
{
	opacity: 1.0;
}

ParentalReplacementPanel Label
{
	font-family: platformfont;
	font-size: 40px;
	color: detailsdatalabel;
	opacity: 1.0;
	horizontal-align: left;
	width: 100%;
	transition-duration: shortduration;
	transition-property: transform;
	transition-timing-function: bigpicture-ease-in-out;
	transform: translatex( 22px );
	font-weight: light;
}

ParentalReplacementPanel Image
{
	margin-top: 50px;
	height: 105px;
	width: 114px;
	horizontal-align: center;
	wash-color: none;
	opacity: 0.3;
	transition-property: opacity;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

ParentalReplacementPanel Button
{
	width: 100%;
	margin: 0px 24px 24px 24px;
	padding: 8px 7px 8px 7px;

	color: detailsdatalabelfocus;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d212200 ), to( #12131300 ) );
	border-style: solid;
	border-width: 5px;
	border-color: #3d414200;

	transition-property: border, background-color, color, box-shadow;
	transition-timing-function: ease-out;

	vertical-align: bottom;
}

ParentalReplacementPanel Button Label
{
	width: 100%;
	font-family: platformfont;
	font-size: 28px;
	font-weight: normal;
	transform: translatex(-7px);
	color: detailsdatalabelfocus;
	transition-property: transform;
	transition-duration: shortduration;
	transition-timing-function: ease-in;
}

ParentalReplacementPanel Button:focus Label
{
	color: #161718f5;
	transform: translatex(0px);
}

ParentalReplacementPanel:descendantfocus Image
{
	transition-property: wash-color !immediate;
	transition-duration: 0.25s;
	transition-timing-function: bigpicture-ease-in-out;
	opacity: 0.5;
}

ParentalReplacementPanel Button:hover
{
	transition-duration: 0.23s !immediate;
	box-shadow: #eeeeee60 -3px -3px 6px 6px;
}

ParentalReplacementPanel Button:focus
{
	transition-duration: mediumduration !immediate;

	color: #161718f5;
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) ); 
	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	
	animation-name: links-and-more-button-focus; 
	animation-duration: longduration;
	animation-delay: mediumduration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.Locked .HideWhileLocked
{
	opacity: 0.0;
	
	transition-property: opacity, opacity-mask !immediate;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
}

LibraryAppDetails ParentalReplacementPanel #UnlockButton
{
	visibility: collapse;
}


#ParentalGridItemContents,
#ParentalRecentAppContents,
#GridParentalRecentAppContents
{
	flow-children: down;
	opacity: 1.0;
	saturation: 1.0;
	background-color: action_module;
	box-shadow: inset #00000044 0px 0px 4px 0px;
	margin-top: 0px;

	transition-property: background-color;
	transition-duration: shortduration !immediate;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;

}

.AppGridItem:focus #ParentalGridItemContents
{
	background-image: url( "file://{images}/systemmenu/capsule_01.jpg" );
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;

	margin: 5px;
	margin-top: 0px;
	z-index: 100;
}

#ParentalRecentAppContents
{
	width: 507px;
	height: 237px;
	vertical-align: center;
	horizontal-align: center;
	margin: 10px;

}



#ParentalGridItemContents Image, #ParentalRecentAppContents Image, .GridAppImageParentalLibraryItem
{
	vertical-align: center;
	horizontal-align: center;
	margin: 4px;
	margin-top: 20px;
	opacity: 0.7;
}

#ParentalGridItemContents Label, #ParentalRecentAppContents Label
{
	height: 40px;
	width: fit-children;
	font-size: 24px;
	font-weight: light;
	vertical-align: center;
	horizontal-align: center;
	margin-left: 1px;
	margin-top: 0px;

	color: detailsdatalabel;
	opacity: 1.0;

	transition-property: color, opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

#ParentalGridItemContents .TopLine, #ParentalRecentAppContents .TopLine
{
	margin-top: 15px;
}

#MostRecentCarousel .RecentApp #ParentalRecentAppContents .TopLine
{
	visibility: collapse;
}

#MostRecentCarousel .RecentApp:descendantfocus #ParentalRecentAppContents Label
{
	opacity: 1.0;
	color: detailsdatalabel;
}

.GamesGrid .AppGridItem:descendantfocus #ParentalRecentAppContents Label
{
	opacity: 1.0;
}

.GamesGrid .AppGridItem:descendantfocus #ParentalGridItemContents Label
{
	opacity: 1.0;
}

.FamilyHeader_ctn
{
	flow-children: right;
}
.FamilyHeader_ctn Image
{
	width: 80px;
	height: 73px;
	margin-right: 20px;
}

.StdTitle
{
	font-size: 54px;
	padding-top: 6px;
	padding-bottom: 10px;
	font-family: platformfont;
	color: white;
}

#GridParentalRecentAppContents
{
	margin: 4px;
	width: 460px;
	height: 215px;
}

.GridAppImageParentalLibraryItem
{
	margin: 4px;
	width: 460px;
	height: 215px;
	border-radius: 3px;
}


#Settings_Parental .WizardChild
{
	padding-left: 0px;
	padding-right: 0px;
}

#ParentalChooseAppsChild #WizardButtons
{
	margin-top: -70px;
}

#ParentalIntroChild #Instructions
{
	flow-children: down;
	font-size: 24px;
	color: tcstatictext;
}

#ParentalIntroChild #IntroPanel
{
	margin-top: 50px;
}


.ParentalFeatureLabel
{
	width: 200px;
	margin-right: 10px;
	vertical-align: center;
}

#ParentalFeaturesChild #ChooseFeaturesPanel
{
	flow-children: down;
	width: 1920px;
	height: 820px;
}

#ParentalFeaturesChild ToggleButton
{
	width: 700px;
}

#ParentalFeaturesChild #LibraryRadioPanel
{
	flow-children: down;
	margin-bottom: 20px;
}

#ParentalFeaturesChild RadioButton
{
	width: 700px;
	height: 50px;
	horizontal-align: left;
}


#ParentalChooseAppsChild ParentalLibraryGrid
{
	margin-left: 0px;
	transform: translatey( -26px );
//	pre-transform-scale2d: 0.95;
//	transform: translateY( -90px );
//	height: 770px;
//	width: 100%;
//	position: 0px -100px 0px;
}

/*
#ParentalLibraryGrid .GamesGrid
{
	width: 100%;
	height: 750px;
	pre-transform-scale2d: 1.0, .96;

	margin-top: 00px;
	position: 0px 130px 0px;
	padding-top: 65px;
	padding-bottom: 100px;
	margin-bottom: -60px;
}
*/

#ParentalLibraryGrid .GridUpperRow
{
	position: 0px 60px 0px;
	z-index: 5;
}

ParentalAppOverlayImage
{
	width: 100%;
	height: 100%;
}

.AppImageOverlay
{
	opacity: 0.0;
	margin: 0px 10px 10px 0px;
	horizontal-align: right;
	vertical-align: bottom;

	height: 60px;
	width: 60px;

	color: applabelsolid;


	background-color: blue;
	// gradient( linear, -15% 0%, 100% 0%,  from( #fdfdfdff ), to( #bdbfbfff ) );

	transition-property: box-shadow, opacity, saturation;
	transition-duration: shortmedduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

AppGridItem .AppImageOverlay
{
	opacity: 0.0;
}

AppGridItem:focus .AppImageOverlay
{
	opacity: 1.0;
}

AppGridItem.Unlocked .AppImageOverlay
{
	opacity: 1.0;

	background-image: url( "file://{images}/store/Icon_CheckDefault.png" );
	background-repeat: no-repeat no-repeat;
	background-size: 100% 100%;
}

#SetRecoveryLine1
{
	margin-top: 10px;
	font-size: 24px;
	color: tcstatictext;
}

#SetRecoveryLine2
{
	margin-top: 10px;
	font-size: 24px;
	color: tcstatictext;
}

.ParentalSetRecoveryDialog,
.ParentalSetPINDialog,
.ParentalIntroChildDialog,
.ParentalSetEnableCodeDialog
{
	flow-children: down;
	horizontal-align: center;
	width: 1920px;
	height: 820px;

	opacity: 1.0;
}

.BackFamilyGroundImage
{
	background-image: url( "file://{images}/settings/keybg.png" );
	background-repeat: no-repeat no-repeat;
	background-position: 80% 25%;

	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}

.ParentalRecoveryEmailEntry
{
	flow-children: down;
	width: 925px;
	text-align: left;
	horizontal-align: left;
}

.ParentalPINEntry
{
	width: 90px;
}

.ParentalEnableCodeEntry
{
	width: 120px;
}

.ParentalRecoveryEmailEntry Label,
.ParentalPINEntry Label,
.ParentalEnableCodeEntry Label
{
	vertical-align: top;
	text-align: left;
	margin-right: 10px;
	margin-top: 6px;
	width: 50%;
}

.ParentalRecoveryEmailEntry Label
{
	width: 450px;
}


ParentalSetRecoveryChild TextEntry,
ParentalSetPINChild TextEntry,
ParentalSetEnableCodeChild TextEntry
{
	horizontal-align: left;
	height: 50px;
	font-size: 24px;
	vertical-align: center;
	padding-top: 4px;
	width: 130px;
	background-color: ui_common_control;
	margin-top: 10px;
	padding: 5px 4px 0px 6px;
}

ParentalSetRecoveryChild TextEntry
{
	width: 450px;
}

.ParentalSetEnableCodeError
{
	font-size: 24px;
	color: red;
	font-weight: light;
	opacity: 0.0;
	padding-top: 20px;
}

.ParentalSetEnableCodeError.Visible
{
	opacity: 1.0;
}


ParentalSetEnableCodeChild TextEntry
{
	width: 130px;
}

ParentalSetInProgressChild .SettingsBottomPanel
{
	margin-left: 0px;
	width: 100%;
}

.ParentalThrobber
{
	opacity: 1.0;
	width: 125px;
	height: 125px;
	horizontal-align: center;
	vertical-align: center;
	opacity-mask: url( "file://{images}/browser/reticle_mask_80_80.png" );
	background-image: url( "file://{images}/browser/reticle_80_80.webm" );
	background-repeat: no-repeat no-repeat;
	background-size: 100% 100%;
}

#ParentalChooseAppsChild #ParentalLibraryGrid
{
	position: 0px 0px 0px;
	z-index: 50;
	width: 100%;
	height: 1100px;
}

#ParentalChooseAppsChild AppGridItem 
{
	opacity: 0.4;
	saturation: 0.5;
}

#ParentalChooseAppsChild AppGridItem:hover
 {
	opacity: 0.7;
	saturation: 0.7;
}

#ParentalChooseAppsChild AppGridItem:focus,
#ParentalChooseAppsChild AppGridItem:hover:focus,
#ParentalChooseAppsChild AppGridItem.Unlocked:focus,
#ParentalChooseAppsChild AppGridItem.Unlocked:hover:focus
{
	opacity: 1.0;
	saturation: 1.0;
}

#ParentalChooseAppsChild AppGridItem.Unlocked
{
	opacity: 0.8;
}

#ParentalChooseAppsChild AppGridItem:hover .AppImageOverlay,
#ParentalChooseAppsChild AppGridItem:focus .AppImageOverlay,
#ParentalChooseAppsChild AppGridItem:hover:focus .AppImageOverlay
{
	opacity: 1.0;
	saturation: 1.0;
}

#ParentalChooseAppsChild #GamesFilter
{
	position: 500px 00px 0px;
	z-index: 1000;
	width: 480px;

}

#ParentalChooseAppsChild #GamesFilter:hover
{
	pre-transform-scale2d: 1.0;
}


#ParentalChooseAppsChild #ParentalSectionLabel
{
	margin-left: 295px;
	max-width: 900px;
	vertical-align: top;
	height: 30px;
	position: 0px 38px 0px;
	font-size: 24px;
	font-weight: light;
	text-transform: none;
	color: #b0b4b7;

}

.WizardButton
{
	width: 450px;
}

ParentalSetSuccessChild #ParentalLockImageUnlocked
{
	wash-color: red;
	horizontal-align: center;
}

ParentalSetSuccessChild #ParentalLockImageLocked
{
	horizontal-align: center;
}

ParentalSetSuccessChild .SettingsSuccessSubtitle
{
	font-size: 24px;
	font-weight: light;
	text-align: center;
	horizontal-align: center;
	color: applabelsolid;
	opacity: 0.7;
}

ParentalSetSuccessChild .email
{
	color: green;
}

.ShowOnSet
{
	opacity: 0.0;
}

.Set .ShowOnSet
{
	opacity: 1.0;
}

.Set .HideOnSet
{
	opacity: 0.0;
}

#ParentIcons
{
	flow-children: right;
	horizontal-align: left;
	width: 500px;
}

.ParentIcons2
{
	flow-children: down;
	height: 120px;
	width: 300px;
	margin-top: 20px;
	horizontal-align: center;
}

#ParentalSetSuccessChild .SettingsValue
{
	margin-top: 20px;
	max-width: 1100px;
	font-size: 24px;
	font-weight: light;
	color:  #b0b4b7;
	text-overflow: ellipsis;
}

.ParentalDisablePopupBody
{
	padding: 40px 40px 30px 40px;

	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: 820px;
	height: 500px;

	opacity: 1.0;

	border-width: 5px;
	border-style: solid;
	border-color: ui_common_control_border;
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	background-image: url( "file://{images}/settings/keybg.png" );
	background-repeat: no-repeat no-repeat;
	background-position: 50% 45%;

	color: #000000ff;
	background-color: dialog_bg_color;

	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: bigpicture-ease-in-out;
}

.ParentalDisablePopupBody #ParentalDisableButtonLabel
{
	padding: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

#ParentalOverlay
{
	width: 100%;
	height: 100%;
}
#ParentalOverlay ParentalReplacementPanel Image
{
	margin-top: 0px;
}
